
# Files that should not be uploaded to App Engine

# Raw text resources, such as word lists
resources/*.txt
resources/*.tsv
resources/*.csv
resources/bin/

# DAWG trees in text form
resources/*.text.dawg

# DAWG trees in pickled form
resources/*.dawg.pickle

# Credential and secret files
resources/secret_key.bin
credentials/

# Utility scripts
utils/
mypy.ini

# Photoshop & Illustrator files
*.psd
*.ai

# Log files
*.log

# MarkDown documentation files
*.md

# Windows batch files and shell scripts
*.bat
*.sh

# Backup files
*.bak

# Temporary files
*.tmp
*.TMP

# Editor workspaces
*.sublime-workspace
*.sublime-project
*.code-workspace

# Style sheets in LESS, to be compiled to CSS
*.less

# Temporary files
~*
*.py[cod]
**/.*
__pycache__/
src/__pycache__/
ptvsd/
log/
.vscode/
.idea/
.git/
.gitattributes
.gitignore
.mypy_cache/
.pytest_cache/
.tscache/

# NodeJS stuff, mostly related to Grunt
node_modules/
[gG]runtfile.js
package*.json

# Python2 App Engine library files
lib/
!static/lib/

# Python3 virtual environment library files
venv/
v311/

# Test stuff
test/

# Docker files (not needed for GAE deployment)
Dockerfile
docker-compose.yml
.dockerignore
crontab
nginx.conf

