
# Files that should not be uploaded to App Engine

# Raw text resources, such as word lists
resources/*.txt
!resources/client_secret.txt
!resources/client_secret_explo.txt

# DAWG trees in text form
resources/*.text.dawg

# DAWG trees in pickled form
resources/*.dawg.pickle

# Auxiliary files
resources/*.pptx

# CSV files
resources/*.csv

# Credential files
resources/netskrafl-*.json
resources/explo-*.json

# Photoshop & Illustrator files
*.psd
*.ai

# Log files
*.log

# Mypy
mypy.ini

# Pydev/VSCode
pydev_startup.py

# Development tools
generate-secret.py
dawgtester.py

# MarkDown documentation files
*.md

# Windows batch files and shell scripts
*.bat
*.sh

# Backup files
*.bak

# Temporary files
*.tmp
*.TMP

# Editor workspaces
*.sublime-workspace
*.sublime-project
*.code-workspace

# Style sheets in LESS, to be compiled to CSS
*.less

# Temporary files
~*
*.py[cod]
**/.*
__pycache__/
ptvsd/
log/
.vscode/
.idea/

# NodeJS stuff, mostly related to Grunt
node_modules/
[gG]runtfile.js
package*.json

# Python2 App Engine library files
lib/

# Python3 virtual environment library files
venv/

