gunicorn>=20.0.4
Flask>=1.1.0
oauth2client
requests
firebase-admin
redis==3.3.11
google-cloud-ndb>=1.3.0
google-python-cloud-debugger; sys_platform == 'osx'
protobuf
googleapis_common_protos
google-cloud-logging
flask_cors
flask_socketio
eventlet
gevent-websocket
