/*

	Main.less

	Author: Vilhjalmur Thorsteinsson

*/

@font-face {
   font-family: 'Glyphicons Halflings';
   src: url('glyphicons-halflings-regular.eot');
   src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
   url('glyphicons-halflings-regular.woff') format('woff'),
   url('glyphicons-halflings-regular.ttf') format('truetype'),
   url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
   position: relative;
   top: 2px;
   display: inline-block;
   font-family: 'Glyphicons Halflings';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.glyphicon-play:before {
   content: "\e072";
}
.glyphicon-exclamation-sign:before {
   content: "\e101";
}
.glyphicon-log-in:before {
   content: "\e161";
}
.glyphicon-log-out:before {
   content: "\e163";
}
.glyphicon-screenshot:before {
   content: "\e087";
}
.glyphicon-refresh:before {
   content: "\e031";
}
.glyphicon-forward:before {
   content: "\e075";
}
.glyphicon-fire:before {
   content: "\e104";
}
.glyphicon-ok:before {
   content: "\e013";
}
.glyphicon-remove:before {
   content: "\e014";
}
.glyphicon-info-sign:before {
   content: "\e086";
}
.glyphicon-cog:before {
   content: "\e019";
}
.glyphicon-chevron-left:before {
   content: "\e079";
}
.glyphicon-chevron-right:before {
   content: "\e080";
}
.glyphicon-circle-arrow-down:before {
   content: "\e134";
}
.glyphicon-star:before {
   content: "\e006";
}
.glyphicon-flag:before {
   content: "\e034";
}
.glyphicon-flag-after:after {
   content: "\e034";
}
.glyphicon-bookmark:before {
   content: "\e044";
}
.glyphicon-star-empty:before {
   content: "\e007";
}
.glyphicon-hand-right:before {
   content: "\e127";
}
.glyphicon-hand-left:before {
   content: "\e128";
}
.glyphicon-thumbs-down:before {
   content: "\e126";
}
.glyphicon-remove-circle:before {
   content: "\e088";
}
.glyphicon-th:before {
   content: "\e011";
}
.glyphicon-user:before {
   content: "\e008";
}
.glyphicon-comment:before {
   content: "\e111";
}
.glyphicon-eye-open:before {
   content: "\e105";
}
.glyphicon-paperclip:before {
   content: "\e142";
}
.glyphicon-link:before {
   content: "\e144";
}
.glyphicon-arrow-up:before {
   content: "\e093";
}


body {
   font-family: @font1, @font2, @font3, @font4;
   padding: 0;
   margin: 0;
}

div.container {
   position: relative;
   top: 0;
   left: 0;
   width: 1024px;
   height: 720px;
   background-color: @container;
   padding: 0;
   margin: 0;
}

div.logo {
   position: absolute;
   top: 28px;
   left: 24px;
   width: 46px;
   height: 400px;
}

div.info {
   position: absolute;
   top: 460px;
   left: 22px;
   width: 50px;
   height: 50px;
   text-align: center;
   font-size: 40px;
}

div.board {
   position: absolute;
   top: 8px;
   left: 96px;
}

div.rightcol {
   position: absolute;
   width: 302px;
   right: 12px;
   top: 14px;
   margin-top: 24px;
}

div.rack {
   position: absolute;
   text-align: center;
   bottom: 93px;
   left: 244px;
   background-color: @board-background;
   padding: 6px;
   border-width: 0;
   border-radius: 5px;
   margin: 0;
}

div.bag {
   position: absolute;
   bottom: 4px;
   right: 14px;
   width: 302px;
   height: 160px;
   font-size: 11px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
   margin: 0;
   padding: 0;
   opacity: 0.75;
}

table #bag {
}

#bag td {
   min-width: 12px;
   min-height: 17px;
   background-color: @tile;
   overflow: hidden;
   cursor: default;
}

table.board {
   margin: 0;
   padding: 0;
   border-spacing: 0;
   border-collapse: separate;
   table-layout: fixed;
}

.board td {
   height: 32px;
   width: 32px;
   overflow: hidden;
   text-align: center;
   font-size: 24px;
   background-color: @board-background;
   border-style: solid;
   border-color: #f2f2f2;
   border-width: 1px;
   margin: 0;
   padding: 0;
}

.rack table.board {
   border-spacing: 4px;
}

td.over {
   outline: yellow solid 3px;
}

td.highlight {
   outline: yellow solid 2px;
}

.colid td {
   height: 24px;
   width: 32px;
   overflow: hidden;
   background-color: transparent;
   text-align: center;
   font-size: 14px;
   line-height: 14px;
   font-weight: 400;
   border-width: 1px;
   border-color: transparent;
   margin: 0;
   padding: 0;
}

td.rowid {
   width: 16px;
   height: 32px;
   min-width: 16px;
   max-width: 16px;
   overflow: hidden;
   background-color: transparent;
   text-align: center;
   font-size: 14px;
   line-height: 14px;
   font-weight: 400;
   border-width: 1px;
   border-color: transparent;
}

/* Board layout */
#H8, #B2, #C3, #D4, #E5, #B14, #C13, #D12, #E11,
#K5, #L4, #M3, #N2, #K11, #L12, #M13, #N14 {
   /* Double word score */
   background-color: @double-word;
}

#A1, #A8, #A15, #H1, #H15, #O1, #O8, #O15 {
   /* Triple word score */
   background-color: @triple-word;
}

#A4, #A12, #C7, #C9, #D1, #D8, #D15,
#G3, #G7, #G9, #G13,
#H4, #H12,
#I3, #I7, #I9, #I13,
#O4, #O12, #M7, #M9, #L1, #L8, #L15 {
   /* Double letter score */
   background-color: @double-letter;
}

#B6, #B10, #F2, #F6, #F10, #F14,
#N6, #N10, #J2, #J6, #J10, #J14 {
   /* Triple letter score */
   background-color: @triple-letter;
}

div.tile {
   background-color: @tile;
   font-size: 25px;
   line-height: 26px;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
   height: 30px;
   width: 30px;
   overflow: hidden;
   margin: 0px;
   padding-top: 2px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 2px;
   cursor: default;
}

div.racktile {
   cursor: pointer;
   background-color: @racktile;
}

div.xchg {
   cursor: pointer;
}

div.xchgsel {
   color: white;
   background-color: @alert;
}

div.blanktile {
   color: #666666;
}

div.freshtile {
   background-color: @freshtile;
}

div.highlight0 {
   /* Human (local) player */
   background-color: @racktile;
}

div.highlight1 {
   /* Computer (remote) player */
   background-color: @freshtile;
}

div.letterscore {
   position: relative;
   bottom: 8px;
   left: 22px;
   height: 9px;
   width: 9px;
   font-size: 9px;
   line-height: 9px;
   text-align: right;
   font-weight: 400;
   padding: 0;
   background-color: transparent;
}

div.heading {
   position: relative;
   width: 100%;
   height: 78px;
   background-color: @board-background;
   top: 0; left: 0;
   padding-left: 0px;
   padding-right: 0px;
}

h3.playerleft {
   display: inline-block;
   position: absolute;
   top: 0; left: 0;
   width: 147px;
   font-size: 16px;
   line-height: 24px;
   font-weight: 700;
   text-align: left;
   color: @neutral;
   overflow: hidden;
   margin-top: 0px;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 4px;
}

h3.playerright {
   display: inline-block;
   position: absolute;
   top: 0; right: 0;
   width: 147px;
   font-size: 16px;
   line-height: 24px;
   font-weight: 700;
   text-align: right;
   color: @neutral;
   overflow: hidden;
   margin-top: 0px;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-right: 4px;
}

span#left-to-move.glyphicon.glyphicon-flag {
   color: @alert;
}

span#right-to-move.glyphicon.glyphicon-flag-after {
   color: @alert;
}

h3.scoreleft {
   display: inline-block;
   position: absolute;
   top: 42px;
   left: 0;
   width: 147px;
   font-size: 24px;
   line-height: 24px;
   font-weight: 700;
   text-align: left;
   color: white;
   overflow: hidden;
   margin-top: 4px;
   margin-bottom: 4px;
   padding-left: 4px;
}

h3.scoreright {
   display: inline-block;
   position: absolute;
   top: 42px;
   right: 0;
   width: 147px;
   font-size: 24px;
   line-height: 24px;
   font-weight: 700;
   text-align: right;
   color: white;
   overflow: hidden;
   margin-top: 4px;
   margin-bottom: 4px;
   padding-right: 4px;
}

div.movelist {
   position: absolute;
   top: 82px;
   left: 0px;
   height: 424px;
   width: 100%;
   background-color: @background;
   overflow: auto;
   font-size: 15px;
   line-height: 15px;
   font-weight: 400;
   color: black;
   cursor: default;
}

div.leftmove {
   text-align: left;
   padding: 2px;
}

div.rightmove {
   text-align: right;
   padding: 2px;
}

div.reviewhdr {
   text-align: left;
   padding: 9px;
   background-color: @pass-btn;
   color: white;
   font-weight: 400;
   font-size: 18px;
   line-height: 18px;
}

span.movenumber {
   background-color: white;
   color: @pass-btn;
   text-align: center;
   font-size: 16px;
   font-weight: 700;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 0px;
   margin-right: 4px;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 12px;
   padding-right: 12px;
}

div.gameover {
   text-align: center;
   padding: 9px;
   background-color: @pass-btn;
   color: white;
   font-weight: 700;
}

span.gameovermsg {
   margin-right: 6px;
}

span.statsbutton {
   height: 20px;
   text-align: center;
   background-color: white;
   font-size: 16px;
   font-weight: 700;
   color: @pass-btn;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 4px;
   margin-right: 4px;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 12px;
   padding-right: 12px;
   border-radius: 5px;
   cursor: pointer;
}

div.gamestats {
   visibility: hidden;
   color: black;
   background-color: @statsbackground;
   z-index: 20;
   position: absolute;
   width: 724px;
   height: 520px;
   left: 150px;
   top: 114px;
   cursor: pointer;
   padding: 12px;
   border-radius: 5px;
}

div.statscol {
   display: block;
   float: left;
   width: 50%;
   padding-top: 24px;
}

div.gamestats p span {
   font-weight: 700;
}

div #gamestarted {
   width: 100%;
   text-align: center;
   position:relative;
   top: 42px;
}

#gamestarted p {
   font-style: italic;
}

.humancolor {
   background-color: @racktile;
}

.autoplayercolor {
   background-color: @freshtile;
}

.humangrad_left {
   background: linear-gradient(to right, @racktile, @background, @background);
}

.autoplayergrad_right {
   background: linear-gradient(to right, @background, @background, @freshtile);
}

.humangrad_right {
   background: linear-gradient(to right, @background, @background, @racktile);
}

.autoplayergrad_left {
   background: linear-gradient(to right, @freshtile, @background, @background);
}

span.score {
   display: inline-block;
   width: 28px;
   padding-left: 2px;
   margin-left: 2px;
   padding-right: 2px;
   margin-right: 2px;
   font-weight: 700;
   text-align: right;
}

span.total {
   display: inline-block;
   width: 28px;
   padding-left: 2px;
   margin-left: 2px;
   padding-right: 2px;
   margin-right: 2px;
   font-weight: 700;
   text-align: right;
   background-color: @board-background;
   color: white;
}

.rightmove .total {
}

.leftmove .total {
}

span.highlight {
   background-color: @alert;
   color: white;
}

span.wordmove {
   text-transform: uppercase;
   padding-left: 3px;
   padding-right: 3px;
}

.wordmove i {
   font-weight: bold;
   padding-left: 3px;
   padding-right: 3px;
}

span.othermove {
   text-transform: none;
}

div.error {
   position: absolute;
   text-align: center;
   display: block;
   bottom: 40px;
   left: 130px;
   width: 512px;
   height: 28px;
   background-color: @alert;
   font-size: 16px;
   font-weight: 700;
   color: white;
   margin: 0;
   padding-top: 4px;
   visibility: hidden;
}

div.error p {
   display: inline;
   position: relative;
   top: 0;
   left: 0;
   width: auto;
   height: auto;
   margin: 0;
   padding: 0;
}

div.resign {
   position: absolute;
   text-align: center;
   display: block;
   bottom: 40px;
   left: 130px;
   width: 512px;
   height: 28px;
   background-color: @alert;
   font-size: 16px;
   font-weight: 700;
   color: white;
   margin: 0;
   padding-top: 4px;
   visibility: hidden;
}

span.yesnobutton {
   height: 20px;
   text-align: center;
   background-color: white;
   font-size: 16px;
   font-weight: 700;
   color: @alert;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 4px;
   margin-right: 4px;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 12px;
   padding-right: 12px;
   border-radius: 5px;
   cursor: pointer;
}

span.xchgbtn {
   color: @freshtile;
}

div.exchange {
   position: absolute;
   text-align: center;
   display: block;
   bottom: 40px;
   left: 130px;
   width: 512px;
   height: 28px;
   background-color: @freshtile;
   font-size: 16px;
   font-weight: 700;
   color: white;
   margin: 0;
   padding-top: 4px;
   visibility: hidden;
}

span.closebtn {
   color: @pass-btn;
}

div.gameinfo {
   position: absolute;
   text-align: center;
   display: block;
   bottom: 24px;
   left: 130px;
   width: 512px;
   height: 34px;
   background-color: @background;
   font-size: 16px;
   font-weight: normal;
   color: white;
   margin: 0;
   padding-top: 10px;
}

.standard-button {
   position: absolute;
   text-align: center;
   font-size: 18px;
   font-weight: 700;
   color: white;
   margin: 0;
   padding: 6px;
   padding-top: 8px;
   border-radius: 5px;
   cursor: pointer;
}

.submitbutton {
   .standard-button;
   width: 100px;
   height: 28px;
   bottom: 98px;
   left: 562px;
   background-color: @freshtile;
}

div.submitnewgame {
   .submitbutton;
   display: none;
}

div.submitmove {
   .submitbutton;
   display: block;
}

div.waitmove {
   .submitbutton;
   display: none;
   z-index: 10;
}

div.submitpass {
   .standard-button;
   width: 36px;
   height: 28px;
   bottom: 98px;
   left: 91px;
   background-color: @pass-btn;
}

div.submitresign {
   .standard-button;
   width: 36px;
   height: 28px;
   bottom: 98px;
   left: 26px;
   background-color: @alert;
}

div.submitexchange {
   .standard-button;
   width: 36px;
   height: 28px;
   bottom: 98px;
   left: 156px;
   background-color: @freshtile;
}

div.score {
   position: absolute;
   width: 48px;
   height: 32px;
   text-align: center;
   bottom: 174px;
   left: 652px;
   background-color: transparent;
   font-size: 26px;
   font-weight: 700;
   color: black;
}

div.channel {
   position: absolute;
   width: 32px;
   height: 32px;
   text-align: center;
   bottom: 40px;
   left: 32px;
   background-color: transparent;
   font-family: 'Glyphicons Halflings';
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   overflow: hidden;
   visibility: hidden;
}

div.channel:before {
   content: "\e144"; /* glyphicon-link */
}

div.word-check {
   position: absolute;
   width: 48px;
   height: 48px;
   text-align: center;
   top: 410px;
   left: 652px;
   background-color: transparent;
   font-family: 'Glyphicons Halflings';
   font-style: normal;
   font-weight: normal;
   font-size: 26px;
   visibility: hidden;
}

div.word-check.word-good {
   color: @freshtile;
   visibility: visible;
}

div.word-check.word-good:before {
   content: "\e125"; /* glyphicon-thumbs-up */
}

div.word-check.word-bad {
   color: @alert;
   visibility: visible;
}

div.word-check.word-bad:before {
   content: "\e090"; /* glyphicon-ban-circle */
}

div.recallbtn {
   position: absolute;
   width: 48px;
   height: 48px;
   text-align: center;
   vertical-align: middle;
   top: 460px;
   left: 652px;
   font-size: 40px;
   font-weight: normal;
   color: fade(@racktile, 75%);
   visibility: hidden;
   cursor: pointer;
}

div.recallbtn.hover {
   color: fade(@racktile, 100%);
}

div.scorediff {
   position: absolute;
   width: 48px;
   height: 28px;
   text-align: center;
   vertical-align: middle;
   bottom: 216px;
   left: 652px;
   background-color: @alert;
   font-size: 18px;
   font-weight: normal;
   color: white;
   visibility: hidden;
   padding-top: 3px;
   padding-bottom: 2px;
}

div.posdiff {
   background-color: @freshtile;
}

div.navbtn {
   .standard-button;
   width: 100px;
   height: 28px;
   bottom: 98px;
   background-color: @nav-btn;
}

#navnext {
   left: 562px;
}

#navprev {
   left: 92px;
}

div.closebtn {
   .standard-button;
   width: 100px;
   height: 28px;
   bottom: 12px;
   background-color: @close-btn;
}

#close
{
   left: 312px;
}

div.tabbed-page {
   position: absolute;
   left: 110px;
   top: 12px;
   width: 880px;
   height: 744px;
   overflow: hidden;
   font-size: 13px;
   line-height: 23px;
}

.tabbed-page a:link, .tabbed-page a:visited {
   text-decoration: none;
   color: @help-link;
}

.tabbed-page a:hover {
   text-decoration: none;
   color: @pass-btn;
}

.notifier {
   display: none; /* Set to inline-block by the script if shown */
   background-color: @alert;
   color: white;
   border-radius: 9px;
   height: 18px;
   font-size: 13px;
   line-height: 16px;
   font-weight: 700;
   margin-left: 6px;
   padding-left: 5px;
   padding-right: 5px;
}

span#numgames {
   .notifier;
}

span#numchallenges {
   .notifier;
}

div.smallprint {
   font-size: 12px;
   padding-top: 6px;
}

div.userid {
   position: absolute;
   top: 27px;
   right: 60px;
   width: 200px;
   height: 24px;
   text-align: right;
   font-size: 18px;
   font-weight: 700;
   color: white;
   overflow: hidden;
   z-index: 20;
   color: white;
}

.userid a:link, .userid a:visited {
   text-decoration: none;
   color: white;
}

.userid a:hover {
   text-decoration: none;
   color: @triple-letter;
}

div.listitem {
   padding-left: 4px;
   padding-right: 4px;
   padding-top: 6px;
   padding-bottom: 6px;
   overflow: hidden;
   vertical-align: middle;
}

.listitem a:link, .listitem a:visited {
   color: black;
}

.listitem a:hover {
   color: @pass-btn;
}

div.oddlist {
   background-color: @theme2;
}

div.evenlist {
   background-color: @theme1;
}

div.listheader {
   background-color: @theme3;
   font-weight: 700;
   border-bottom-width: 2px;
   border-bottom-color: @double-letter;
   border-bottom-style: solid;
}

span.list-ts {
   display: inline-block;
   width: 180px;
}

span.list-chall {
   display: inline-block;
   width: 360px;
}

span.list-s0 {
   display: inline-block;
   width: 40px;
   text-align: right;
}

span.list-s1 {
   display: inline-block;
   width: 40px;
   text-align: left;
}

span.list-scorehdr {
   display: inline-block;
   width: 80px;
   text-align: center;
}

span.list-ch,
span.list-fav,
span.list-icon,
span.list-myturn {
   display: inline-block;
   font-size: 20px;
   width: 32px;
   margin-left: 2px;
   cursor: pointer;
}

span.list-win {
   display: inline-block;
   font-size: 18px;
   width: 32px;
   margin-left: 2px;
   cursor: pointer;
}

span.list-nick {
   display: inline-block;
   width: 200px;
   font-weight: 700;
}

span.list-opp {
   display: inline-block;
   width: 300px;
   font-weight: 700;
}

span.list-fullname {
   display: inline-block;
   width: 500px;
}

#initials span {
   font-size: 16px;
   cursor: pointer;
   padding-left: 4px;
   padding-top: 1px;
   padding-bottom: 1px;
   padding-right: 6px;
   margin: 2px;
}

#initials span.shown {
   background-color: fade(@double-letter, 30%);
   border-radius: 5px;
}

#initials span:hover {
   color: white;
   background-color: @double-letter;
   border-radius: 5px;
}

div #userlist,
div #gamelist,
div #recentlist {
   height: 512px;
   overflow-y: auto;
   overflow-x: hidden;
}

div #chall-sent,
div #chall-received {
   height: 210px;
   overflow-y: auto;
   overflow-x: hidden;
}

#userlist span.glyphicon.glyphicon-star {
   color: @triple-letter;
}

#userlist span.glyphicon.glyphicon-hand-right,
#chall-sent span.glyphicon.glyphicon-hand-right,
#chall-received span.glyphicon.glyphicon-thumbs-down,
p span.glyphicon.glyphicon-flag,
#gamelist span.glyphicon.glyphicon-flag {
   color: @triple-word;
}

#recentlist span.glyphicon.glyphicon-bookmark {
   color: @freshtile;
}

.listheader span.glyphicon.glyphicon-star-empty,
.listheader span.glyphicon.glyphicon-hand-right.grayed,
.listheader span.glyphicon.glyphicon-thumbs-down.grayed,
.listheader span.glyphicon.glyphicon-flag.grayed,
#gamelist span.glyphicon.glyphicon-flag.grayed,
#userlist span.glyphicon.glyphicon-star-empty,
#userlist span.glyphicon.glyphicon-hand-right.grayed {
   color: fade(black, 15%);
}

.listheader span.glyphicon.glyphicon-bookmark.grayed,
#recentlist span.glyphicon.glyphicon-bookmark.grayed {
   color: fade(black, 6%);
}

div#user-load {
   display: none;
   position: absolute;
   top: 320px;
   left: 406px;
   width: 48px;
   height: 48px;
   z-index: 10;
   background-image: url('user-loader.gif');
   background-repeat: no-repeat;
}

div.hint {
   display: none;
   position: absolute;
   top: 220px;
   font-style: italic;
   z-index: 10;
   color: #666666;
   margin-left: 60px;
   margin-right: 160px;
}

div.modal-dialog {
   visibility: hidden;
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   z-index: 10;
   background-color: rgba(32, 32, 32, 0.2);
}

div.modal-close {
   .standard-button;
   width: 36px;
   height: 28px;
   bottom: 12px;
   right: 12px;
   background-color: @alert;
}

div#blank-form {
   position: absolute;
   top: 124px;
   right: 12px;
   width: 274px;
   height: 400px;
   padding-left: 12px;
   padding-right: 12px;
   padding-top: 6px;
   padding-bottom: 6px;
   z-index: 20;
   box-shadow: 3px 3px 5px 2px #333333;
}

div.blank-rack {
   position: relative;
   top: 0;
   left: 0;
}

.blank-rack table.board {
   border-spacing: 8px;
}

div.loginform {
   position: absolute;
   left: 180px;
   top: 80px;
}

div.loginhdr {
   font-size: 20px;
   font-weight: 700;
   padding-bottom: 20px;
}

span.caption {
   display: inline-block;
   position: relative;
   top: 4px;
   width: 140px;
   margin-top: 20px;
   margin-right: 12px;
   overflow: hidden;
   text-align: right;
}

div.explain {
   margin-left: 158px;
   margin-bottom: 6px;
   font-size: 14px;
   text-align: left;
}

div.errinput {
   margin-left: 158px;
   margin-bottom: 6px;
   font-size: 16px;
   text-align: left;
   font-weight: bold;
   color: @alert;
}

input.text {
   font-family: @font1, @font2, @font3, @font4;
   font-size: 20px;
   font-weight: 700;
   height: 32px;
   border-style: solid;
   border-color: #55cc66;
   border-width: 2px;
   border-radius: 5px;
   margin-bottom: 6px;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 8px;
   padding-right: 8px;
}

input.text:focus {
   background-color: #ffffc8;
   border-style: solid;
   border-color: #55cc66;
   border-width: 2px;
   border-radius: 5px;
   outline: none;
}

input.username {
   width: 300px;
}

input.fullname {
   width: 450px;
}

input.email {
   width: 400px;
}

button[type="submit"] {
   font-family: @font1, @font2, @font3, @font4;
   font-size: 20px;
   font-weight: 400;
   height: 40px;
   color: white;
   text-align: center;
   width: 322px;
   border-width: 0;
   border-radius: 5px;
   background-color: @freshtile;
   margin-top: 20px;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 0;
   padding-top: 4px;
   padding-bottom: 4px;
   padding-left: 8px;
   padding-right: 8px;
   cursor: pointer;
}

button[type="submit"]:focus, button[type="submit"]:hover {
   outline: yellow solid 3px;
}

button.login {
   margin-top: 24px;
}

button.logout {
   margin-top: 80px;
   background-color: @alert;
}

div #radioset {
   padding-top: 6px;
   padding-bottom: 24px;
}

div.over {
   outline: yellow solid 3px;
}

div.disabled {
   background-color: @background;
}

a.nodecorate:link {
   text-decoration: none;
   color: black;
}

a.nodecorate:visited {
   text-decoration: none;
   color: black;
}

a.nodecorate:hover {
   text-decoration: none;
   color: @triple-letter;
}

a.iconlink:link {
   text-decoration: none;
   color: @triple-letter;
}

a.iconlink:visited {
   text-decoration: none;
   color: @triple-letter;
}

a.iconlink:hover {
   text-decoration: none;
   color: @double-letter;
}

div.twolist {
   -webkit-column-count: 2;
   -moz-column-count: 2;
   column-count: 2;
   font-size: 18px;
   line-height: 30px;
   padding-bottom: 12px;
}

span.twoword {
   font-weight: bold;
   padding-right: 3px;
}

span.errword {
   text-transform: uppercase;
}

img#villi {
   float: right;
   margin-left: 12px;
   margin-top: 18px;
   margin-bottom: 12px;
}
