/*

   Skrafl-curry.less

   Author: Vilhjalmur Thorsteinsson

   Curry theme for Netskrafl

*/

@board-background: lighten(#afb8bf, 2%); /* Pantone 7543 U */
@double-word: desaturate(#f7d2d8, 10%); /* Pantone 698 U */
@triple-word: desaturate(#ee4f68, 15%); /* Pantone 192 U */
@double-letter: desaturate(#78aee6, 10%); /* Pantone 284 U */
@triple-letter: desaturate(#006db8, 15%); /* Pantone 300 U */
@alert: #ee4f68; /* Pantone 192 U */
@tile: lighten(#e4ad87, 5%); /* Pantone 721 U */
@racktile: #fcce43; /* Pantone 7404 U */
@freshtile: #7ad3b7; /* Pantone 337 U */
@neutral: #222222;
@background: #d6d1c4; /* Pantone 7534 U */
@pass-btn: #ffa03b; /* Pantone 137 U */
@container: #fff1dc; /* Pantone 7506 U */

@font1: 'Open Sans';
@font2: 'Helvetica Neue';
@font3: 'Arial';
@font4: sans-serif;

@import 'main.less';
