
{% extends "container.html" %}

{% block styles %}

<link href="{{ url_for('web.static', filename='jquery-ui.css') }}" rel="stylesheet" type="text/css">

<style>

.admin-stat {
   font-weight: 700;
}

</style>

{% endblock %}

{% block scripts %}

<script>

function nullFunc(json) {
   /* Null placeholder function to use for Ajax queries that don't need a success func */
}

function nullCompleteFunc(xhr, status) {
   /* Null placeholder function for Ajax completion */
}

function errFunc(xhr, status, errorThrown) {
   /* Default error handling function for Ajax communications */
   // alert("Villa í netsamskiptum");
   console.log("Error: " + errorThrown);
   console.log("Status: " + status);
   console.dir(xhr);
}

function serverQuery(requestUrl, jsonData, successFunc, completeFunc, errorFunc) {
   /* Wraps a simple, standard Ajax request to the server */
   $.ajax({
      // The URL for the request
      url: requestUrl,

      // The data to send
      data: jsonData,

      // Whether this is a POST or GET request
      type: "POST",

      // The type of data we expect back
      dataType : "json",

      cache: false,

      // Code to run if the request succeeds;
      // the response is passed to the function
      success: (!successFunc) ? nullFunc : successFunc,

      // Code to run if the request fails; the raw request and
      // status codes are passed to the function
      error: (!errorFunc) ? errFunc : errorFunc,

      // code to run regardless of success or failure
      complete: (!completeFunc) ? nullCompleteFunc : completeFunc
   });
}

function buttonOver(elem) {
   /* Show a hover effect on a button */
   if (!$(elem).hasClass("disabled"))
      $(elem).toggleClass("over", true);
}

function buttonOut(elem) {
   /* Hide a hover effect on a button */
   $(elem).toggleClass("over", false);
}

function populateGame(json) {
   // Display the game info
   var str = "<p>Game not found</p>";
   if (json.game)
      str = "<p>" + json.game.uuid + "</p>";
   $("#game-info").html(str);
}

function loadGame() {
   // Load a game whose UUID is in the entry field
   $("#game-info").html("");
   var uuid = $("#uuid").val().trim();
   serverQuery("/admin/loadgame",
      {
         uuid: uuid
      },
      populateGame
   );
}

function initMain() {

   $("#tabs").tabs({
      heightStyle: "auto",
      activate: function(event, ui) {
         var panelId = ui.newPanel.attr('id');
         if (panelId == "tabs-2") {
            // Do stuff for panel 2
         }
         else
         if (panelId == "tabs-3") {
            // Do stuff for panel 3
         }
      }
   });

   /*
   serverQuery("/admin/usercount", { }, 
      function(json) {
         $("#num-users").text(json.count);
      }
   );
   */
}

</script>

{% endblock %}

{% block logo %}
{% include 'logo.html' %}
{% endblock %}

{% block content %}

<div class="tabbed-page">

   <div id="tabs">

   <ul>
      <li><a href="#tabs-1"><span class='glyphicon glyphicon-user'></span>&nbsp;&nbsp;Main statistics</a></li>
      <li><a href="#tabs-2"><span class='glyphicon glyphicon-th'></span>&nbsp;&nbsp;Downloads</a></li>
      <li><a href="#tabs-3"><span class='glyphicon glyphicon-flash'></span>&nbsp;&nbsp;Operations</a></li>
   </ul>

   <div id="tabs-1">

      <p><strong>Main statistics</strong></p>

      <p>Number of users: <span class="admin-stat" id="num-users">0</span></p>
      <p>Number of games played last 24 hours: <span class="admin-stat" id="num-games-24">0</span></p>

   </div>

   <div id="tabs-3">

      <p><strong>Operations</strong></p>

      <span>Game UUID:</span> <input type="text" name="uuid" id="uuid" tabindex="1"
         maxlength=36 autofocus class="text" value=""/>

      <!-- OK button -->
      <div class="modal-close" id="load-game" title="Sækja viðureign" tabindex="2"
         onclick="loadGame()"
         onmouseover="buttonOver(this)"
         onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-th"></span></div>

      <div id="game-info"></div>

   </div>

   </div> <!-- id="tabs" -->

</div> <!-- class="tabbed-page" -->

<!-- A dialog to show info about a particular user -->
<div id="usr-info-dialog" class="modal-dialog">
<div id="usr-info-form" class="ui-widget ui-widget-content ui-corner-all">

   <div class="usr-info-hdr">
      <h1 class="usr-info-icon"><span class='glyphicon glyphicon-user'></span>&nbsp;</h1>
      <h1 id="usr-info-nick"></h1>
      <span class="vbar">|</span>
      <h2 id="usr-info-fullname"></h2>
   </div>

   <p><strong>Nýjustu viðureignir</strong></p>

   <!-- Recent games for this user -->
   <div class="listitem listheader"><span
   class="list-win"><span
   title="Sigur" class='glyphicon glyphicon-bookmark grayed'></span></span><span
   class="list-ts">Viðureign lauk</span><span
   class="list-opp">Andstæðingur</span><span
   class="list-scorehdr">Úrslit</span><span
   class="list-duration">Lengd</span></div>

   <!-- Recent game lists will be populated by populateRecentList() below -->
   <div id="usr-recent"></div>

   <!-- Close button -->
   <div class="modal-close" id="usr-info-close" title="Loka" onmouseover="buttonOver(this)"
      onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-ok"></span></div>

</div>
</div>

{%- endblock -%}

{%- block endscripts -%}

<script>

$(document).ready(initMain);

</script>

{%- endblock -%}
