
{% extends "container.html" %}

{% block scripts %}

<!-- Netskrafl client script -->
<script src="{{ url_for('static', filename='netskrafl.js') }}"></script>

<script>
   function placeTiles() {
{% for m in game.moves %}
{%- set coord, tiles, score = m.move.summary(game.state.board()) %}
      newestMove = placeMove({{ m.player }}, "{{ coord }}", "{{ tiles }}");
{% endfor %}

      /* Show the most recent move in the player's color */
{% for m in game.moves[-1:] %}
      highlightNewestMove(colorOf({{ m.player }}));
{% endfor %}

      /* Place the rack tiles */
{% for tile, score in game.state.rack_details(player_index) %}
      placeTile("R{{ loop.index }}", "{{ tile }}", "{{ tile }}", {{ score }});
{%- endfor -%}
   }

   function initMoveList() {
{% for m in game.moves %}
{%- set coord, tiles, score = m.move.summary(game.state.board()) %}
      appendMove({{ m.player }}, "{{ coord }}", "{{ tiles }}", {{ score }});
{% endfor %}
   }

   function initBag(bag) {
      updateBag("{{ game.display_bag(player_index) }}");
{% if not game.state.is_exchange_allowed() %}
      exchangeAllowed = false;
{%- endif -%}      
   }

   function localPlayer() {
      /* Identify whether the current player is 0 or 1 */
      return {{ player_index }};
   }

   function gameId() {
      return "{{ game.id() }}";
   }

   function localTurn() {
      return {{ "true" if game.player_id_to_move() == player_index else "false" }};
   }

   function navToReview() {
      /* Show the game review page */
      window.location.href='{{ url_for('review', game = game.id(), move = 0) | safe }}';
   }

</script>

{% endblock %}

{% block content %}

<!-- The board -->
{% include 'boardlayout.html' %}

<!-- Player names, scores and move history -->
<div class="rightcol">
   <div class="heading">
      <h3 class="playerleft">
{% if player_index == 0 %}
<a class="nodecorate" href="{{ url_for('userprefs') }}">
{%- elif game.is_autoplayer(0) -%}
<span class="glyphicon glyphicon-cog"></span>&nbsp;
{%- endif -%}
      {{ game.player_nickname(0) }}
{%- if player_index == 0 -%}
</a>
{% endif %}
      </h3>
      <h3 class="playerright">
{% if player_index == 1 %}
<a class="nodecorate" href="{{ url_for('userprefs') }}">
{%- elif game.is_autoplayer(1) -%}
<span class="glyphicon glyphicon-cog"></span>&nbsp;
{%- endif -%}
      {{ game.player_nickname(1) }}
{%- if player_index == 1 -%}
</a>
{% endif %}
      </h3>
      <h3 class="scoreleft">{{ game.state.scores()[0] }}</h3>
      <h3 class="scoreright">{{ game.state.scores()[1] }}</h3>
   </div>
   <div class="movelist">
   </div>
</div>

<!-- The rack -->
<div class="rack">
   <table class="board">
      <tr>
      <td id="R1"></td>
      <td id="R2"></td>
      <td id="R3"></td>
      <td id="R4"></td>
      <td id="R5"></td>
      <td id="R6"></td>
      <td id="R7"></td>
      </tr>
   </table>
</div>

<!-- The bag -->
<div class="bag" title="Flísar sem eftir eru í pokanum">
<table id="bag">
</table>
</div>

<!-- The score of the word currently laid down -->
<div class="score"></div>

<!-- A button to recall all tiles back into the rack -->
<div class="recallbtn" title="Færa stafi aftur í rekka"
   onmouseover="this.classList.add('hover')"
   onmouseout="this.classList.remove('hover')"
   onclick="resetRack()"><span class="glyphicon glyphicon-circle-arrow-down"></span></div>

<!-- Move submit button -->
<div class="submitmove disabled" title="Leika" onmouseover="buttonOver(this)"
   onmouseout="buttonOut(this)" onclick="submitMove(this)">Leika <span class="glyphicon glyphicon-play"></span></div>

<!-- New game button -->
<div class="submitnewgame" title="Nýr leikur" onmouseover="buttonOver(this)"
   onmouseout="buttonOut(this)" onclick="window.location.href='{{ url_for('newgame') }}'">Nýr <span class="glyphicon glyphicon-play"></span></div>

<!-- Pass button -->
<div class="submitpass" title="Pass" onmouseover="buttonOver(this)"
   onmouseout="buttonOut(this)" onclick="submitPass(this)"><span class="glyphicon glyphicon-forward"></span></div>

<!-- Exchange button -->
<div class="submitexchange" title="Skipta stöfum" onmouseover="buttonOver(this)"
   onmouseout="buttonOut(this)" onclick="submitExchange(this)"><span class="glyphicon glyphicon-refresh"></span></div>

<!-- Resign button -->
<div class="submitresign" title="Gefa leik" onmouseover="buttonOver(this)"
   onmouseout="buttonOut(this)" onclick="submitResign(this)"><span class="glyphicon glyphicon-fire"></span></div>

<!-- Error message, normally hidden -->
<div class="error"><span class="glyphicon glyphicon-exclamation-sign"></span>
   <!-- Must match error list in skraflmechanics.py (Error class) -->
   <p id="err_1">Enginn stafur lagður niður</p> <!-- NULL_MOVE = 1 -->
   <p id="err_2">Fyrsta orð verður að liggja um miðjureitinn</p> <!-- FIRST_MOVE_NOT_IN_CENTER = 2 -->
   <p id="err_3">Orð verður að vera samfellt á borðinu</p> <!-- DISJOINT = 3 -->
   <p id="err_4">Orð verður að tengjast orði sem fyrir er</p> <!-- NOT_ADJACENT = 4 -->
   <p id="err_5">Reitur þegar upptekinn</p> <!-- SQUARE_ALREADY_OCCUPIED = 5 -->
   <p id="err_6">Ekki má vera eyða í orði</p> <!-- HAS_GAP = 6 -->
   <p id="err_7">'<span class="errword"></span>' finnst ekki í orðasafni</p> <!-- WORD_NOT_IN_DICTIONARY = 7 -->
   <p id="err_8">'<span class="errword"></span>' finnst ekki í orðasafni</p> <!-- CROSS_WORD_NOT_IN_DICTIONARY = 8 -->
   <p id="err_9">Of margir stafir lagðir niður</p> <!-- TOO_MANY_TILES_PLAYED = 9 -->
   <p id="err_10">Stafur er ekki í rekkanum</p> <!-- TILE_NOT_IN_RACK = 10 -->
   <p id="err_11">Of fáir stafir eftir, skipting ekki leyfð</p> <!-- EXCHANGE_NOT_ALLOWED = 11 -->
   <p id="err_12">Of mörgum stöfum skipt</p> <!-- TOO_MANY_TILES_EXCHANGED = 12 -->
   <p id="err_13">Leik vantar á borðið - notið F5/Refresh</p> <!-- OUT_OF_SYNC = 13 -->
   <p id="err_14">Notandi ekki innskráður - notið F5/Refresh</p> <!-- LOGIN_REQUIRED = 14 -->
</div>

<!-- Confirm resignation of game -->
<div class="resign"><span class="glyphicon glyphicon-exclamation-sign"></span>
   &nbsp;Viltu gefa leikinn?&nbsp;
   <span class="yesnobutton" onclick="confirmResign(true)">Já</span>
   <span class="yesnobutton" onclick="confirmResign(false)">Nei</span>
</div>

<!-- Exchange tiles -->
<div class="exchange"><span class="glyphicon glyphicon-refresh"></span>
   &nbsp;Smelltu á flísarnar sem þú vilt skipta&nbsp;
   <span class="yesnobutton xchgbtn" title="Skipta" onclick="confirmExchange(true)"><span class="glyphicon glyphicon-ok"></span></span>
   <span class="yesnobutton xchgbtn" title="Hætta við" onclick="confirmExchange(false)"><span class="glyphicon glyphicon-remove"></span></span>
</div>

{% endblock %}

{% block endscripts %}

<script>
   $(document).ready(initSkrafl);
</script>

{% endblock %}
