{% extends "container.html" %}

{% block opengraph %}

{% if og != None %}

{%- macro descr(og) -%}
   {{ og.player0 }} og {{ og.player1 }} áttust við í Netskrafli.
   {% if og.win -%}
   {{ og.player0 }} sigraði með {{ og.score0 }} stigum gegn {{ og.score1 }}!
   {%- else -%}
   Úrslit urðu {{ og.score0 }} stig gegn {{ og.score1 }}.
   {%- endif -%}
   {%- if og.bingo0 -%}
   {{ ' ' + og.player0 }} lagði niður {{ 'bingóin ' if og.bingo0|length > 1 else 'bingóið ' }}
   {% for w, sc in og.bingo0 -%}
      {{ ' og ' if (loop.last and not loop.first) else '' if loop.first else ', ' }}{{ w | upper }} ({{ sc }} stig)
   {%- endfor -%}.
   {%- endif -%}
   {%- if og.bingo1 -%}
   {{ ' ' + og.player1 }} lagði niður {{ 'bingóin ' if og.bingo1|length > 1 else 'bingóið ' }}
   {% for w, sc in og.bingo1 -%}
      {{ ' og ' if (loop.last and not loop.first) else '' if loop.first else ', ' }}{{ w | upper }} ({{ sc }} stig)
   {%- endfor -%}.
   {%- endif -%}
{%- endmacro -%}

<meta property="og:title" content="Viðureign lokið{{ ' með sigri!' if og.win else ' með jafntefli' if og.draw else '' }}" />
<meta property="og:description" content="{{ descr(og) | stripwhite }}" />
<meta property="og:url" content="{{ url_for('board', game=game.id(), og=og.og, _external=True) | safe }}" />
<meta property="fb:app_id" content="622492364544510" />

{% endif %}

<meta property="og:locale" content="is_IS" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Netskrafl" />
<meta property="og:image" content="{{ url_for('static', filename='NetskraflFacebookImageSq.jpg', _external=True) | safe }}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="600" />

{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='jquery-ui.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block logo %}
{% include 'back.html' %}
{% endblock %}

{% block content %}

<!-- The board -->
{% include 'boardlayout.html' %}

<!-- Player names, scores and move history -->
<div class="rightcol">
   <div class="heading">
      <h3 class="playerleft">
{%- if game.is_autoplayer(0) -%}
      <div class="robot-btn left"><!--
      --><span class="glyphicon glyphicon-cog"></span>&nbsp;
      {{- game.player_nickname(0) -}}
      </div>
{%- else -%}
      <div class="player-btn left" id="player-0">
      <span id="left-to-move" class="glyphicon-flag"></span><!--
      -->{{- game.player_nickname(0) -}}
      </div>
{%- endif -%}
      </h3>
      <h3 class="playerright">
{%- if game.is_autoplayer(1) -%}
      <div class="robot-btn right"><!--
      --><span class="glyphicon glyphicon-cog"></span>&nbsp;
      {{- game.player_nickname(1) -}}
      </div>
{%- else -%}
      <div class="player-btn right" id="player-1">
      {{- game.player_nickname(1) -}}<!--
      --><span id="right-to-move" class="glyphicon-flag-after"></span>
      </div>
{%- endif -%}
      </h3>
      <h3 class="scoreleft">{{ game.final_scores()[0] }}</h3>
      <h3 class="scoreright">{{ game.final_scores()[1] }}</h3>
      <h3 class="clockleft"></h3>
      <h3 class="clockright"></h3>
      <div class="clockface"><span class="glyphicon glyphicon-time"></span></div>
      <div class="fairplay"><span class="fairplay-btn large" title="Skraflað án hjálpartækja"></span></div>
   </div>
   <div class="right-area">
      <div class="right-tab selected" id="tab-movelist" title="Leikir"><span class="glyphicon glyphicon-show-lines"></span></div>
      <div class="movelist">
      </div>
      <div class="right-tab" id="tab-twoletter" title="Tveggja stafa orð"><span class="glyphicon glyphicon-life-preserver"></div>
      <div class="twoletter">
         <div class="twoletter-area" id="two-1" title="Smelltu til að raða eftir seinni staf">
<span>
<b>a</b>ð af ak al an ar as at ax<br>
<b>á</b>a áð ái ál ám án ár ás át<br>
<b>b</b>í bú bý bæ&nbsp;&nbsp;
<b>d</b>á do dó dý<br>
<b>e</b>ð ef eg ei ek el em en er et ex ey<br>
<b>é</b>g él ét&nbsp;&nbsp;
<b>f</b>a fá fé fæ&nbsp;&nbsp;
<b>g</b>á<br>
<b>h</b>a há hí hó hý hæ&nbsp;&nbsp;
<b>i</b>ð il im&nbsp;&nbsp;
<b>í</b>ð íl ím ís<br>
<b>j</b>á jó jú&nbsp;&nbsp;
<b>k</b>á ku kú&nbsp;&nbsp;
<b>l</b>a lá lé ló lý læ<br>
<b>m</b>á mi mó mý&nbsp;&nbsp;
<b>n</b>á né nó nú ný næ<br>
<b>o</b>f og ok op or<br>
<b>ó</b>a óð óf ói ók ól óm ón óp ós óx<br>
<b>p</b>í pu pú&nbsp;&nbsp;
<b>r</b>á re ré rí ró rú rý ræ<br>
<b>s</b>á sé sí so sú sý sæ&nbsp;&nbsp;
<b>t</b>á te té ti tí tó tý<br>
<b>u</b>m un&nbsp;&nbsp;
<b>ú</b>a úð úf úi úr út<br>
<b>v</b>á vé ví vó&nbsp;&nbsp;
<b>y</b>l ym yr ys<br>
<b>ý</b>f ýg ýi ýk ýl ýr ýs ýt&nbsp;&nbsp;
<b>þ</b>á þó þú þý<br>
<b>æ</b>ð æf æg æi æl æp ær æs æt<br>
<b>ö</b>l ör ös öt öx
</span>
         </div>
         <div class="twoletter-area" id="two-2" title="Smelltu til að raða eftir fyrri staf">
<span>
á<b>a</b> fa ha la óa úa&nbsp;&nbsp;
d<b>á</b> fá gá há<br>já ká lá má ná rá sá tá vá þá<br>
a<b>ð</b> áð eð ið íð óð úð æð&nbsp;&nbsp;
r<b>e</b> te<br>
f<b>é</b> lé né ré sé té vé&nbsp;
a<b>f</b> ef of óf úf ýf æf<br>
e<b>g</b> ég og ýg æg&nbsp;&nbsp;
á<b>i</b> ei mi ói ti úi ýi æi<br>
b<b>í</b> hí pí rí sí tí ví&nbsp;&nbsp;
a<b>k</b> ek ok ók ýk<br>
a<b>l</b> ál el él il íl ól yl ýl æl öl<br>
á<b>m</b> em im ím óm um ym<br>
a<b>n</b> án en ón un&nbsp;&nbsp;
d<b>o</b> so<br>
d<b>ó</b> hó jó ló mó nó ró tó vó þó<br>
o<b>p</b> óp æp&nbsp;&nbsp;
a<b>r</b> ár er or úr yr ýr ær ör<br>
a<b>s</b> ás ís ós ys ýs æs ös<br>
a<b>t</b> át et ét út ýt æt öt<br>
k<b>u</b> pu&nbsp;&nbsp;
b<b>ú</b> jú kú nú pú rú sú þú<br>
a<b>x</b> ex óx öx&nbsp;&nbsp;
e<b>y</b><br>
b<b>ý</b> dý hý lý mý ný rý sý tý þý<br>
b<b>æ</b> fæ hæ læ næ ræ sæ
</span>
         </div>
      </div>
      <div class="right-tab" id="tab-chat" title="Spjall"><span class="glyphicon glyphicon-conversation"></span></div>
      <div class="chat">
         <div class="chat-area" id="chat-area"></div>
         <div class="chat-input">
            <input type="text" name="msg" id="msg" maxlength="254" class="chat-txt"></input><!--
         --><div class="modal-close" id="chat-send" title="Senda"><span class="glyphicon glyphicon-chat"></span></div>
         </div>
      </div>
      <div class="right-tab" id="tab-games" title="Viðureignir"><span class="glyphicon glyphicon-flag"></span></div>
      <div class="games">
      </div>
   </div>
</div>

<!-- The rack -->
<div class="rack">
   <table class="board">
      <tr>
      <td id="R1"></td>
      <td id="R2"></td>
      <td id="R3"></td>
      <td id="R4"></td>
      <td id="R5"></td>
      <td id="R6"></td>
      <td id="R7"></td>
      </tr>
   </table>
</div>

<!-- The bag -->
<div class="bag" title="Flísar sem eftir eru í pokanum">
<table id="bag">
</table>
</div>

<!-- Word check -->
<div class="word-check"></div>

<!-- The score of the word currently laid down -->
<div class="score"></div>

<!-- A dialog to ask for the meaning of a blank tile -->
<div id="blank-dialog" class="modal-dialog">
<div id="blank-form" class="ui-widget ui-widget-content ui-corner-all">
   <p>Hvaða staf táknar auða flísin?</p>
   <div class="rack blank-rack">
      <table class="board" id="blank-meaning">
         <!-- Tile rows and cells will be inserted here -->
      </table>
   </div>
   <!-- Close button -->
   <div class="modal-close" id="blank-close" title="Hætta við" onmouseover="buttonOver(this)"
      onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-remove"></span></div>
</div>
</div>

<!-- A button to recall all tiles back into the rack -->
<div class="recallbtn" title="Færa stafi aftur í rekka"
   onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
   onclick="resetRack()"><span class="glyphicon glyphicon-down-arrow"></span></div>

<!-- A button to shuffle the rack -->
<div class="scramblebtn" title="Stokka upp rekka"
   onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
   onclick="rescrambleRack()"><span class="glyphicon glyphicon-random"></span></div>

<!-- Move submit button -->
<div class="submitmove disabled" title="Leika"
   onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
   onclick="submitMove(this)">Leika
   <span class="glyphicon glyphicon-play"></span></div>

<!-- Wait placeholder -->
<div class="waitmove"><img src="{{ url_for('static', filename='ajax-loader.gif') }}" border="0" width="16" height="16"/></div>

<!-- New game button -->
<div class="submitnewgame" title="Nýr leikur"
   onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
   onclick="window.location.href='{{ url_for('newgame') }}'">Nýr
   <span class="glyphicon glyphicon-play"></span></div>

<!-- Pass button -->
<div class="submitpass" title="Pass"
   onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
   onclick="submitPass(this)"><span class="glyphicon glyphicon-forward"></span></div>

<!-- Exchange button -->
<div class="submitexchange" title="Skipta stöfum"
   onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
   onclick="submitExchange(this)"><span class="glyphicon glyphicon-refresh"></span></div>

<!-- Resign button -->
<div class="submitresign" title="Gefa leik"
   onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
   onclick="submitResign(this)"><span class="glyphicon glyphicon-fire"></span></div>

<!-- Notification that it's the opponent's turn -->
{% if not game.is_over() %}
<div class="opp-turn"><span class="move-indicator"></span>
<strong>{{ game.player_nickname(1 - player_index) }}</strong>
á leik
<span id="force-resign" title="14 dagar liðnir án leiks" class="yesnobutton"
   onclick="forceResign()" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)">Þvinga til uppgjafar</span>
</div>
{% endif %}

<!-- Congratulations on a win -->
<div id="congrats"><span class="glyphicon glyphicon-bookmark"></span> <strong>Til hamingju með sigurinn!</strong></div>

<!-- Error message, normally hidden -->
<div class="error"><span class="glyphicon glyphicon-exclamation-sign"></span>
   <!-- Must match error list in skraflmechanics.py (Error class) -->
   <p id="err_1">Enginn stafur lagður niður</p> <!-- NULL_MOVE = 1 -->
   <p id="err_2">Fyrsta orð verður að liggja um miðjureitinn</p> <!-- FIRST_MOVE_NOT_IN_CENTER = 2 -->
   <p id="err_3">Orð verður að vera samfellt á borðinu</p> <!-- DISJOINT = 3 -->
   <p id="err_4">Orð verður að tengjast orði sem fyrir er</p> <!-- NOT_ADJACENT = 4 -->
   <p id="err_5">Reitur þegar upptekinn</p> <!-- SQUARE_ALREADY_OCCUPIED = 5 -->
   <p id="err_6">Ekki má vera eyða í orði</p> <!-- HAS_GAP = 6 -->
   <p id="err_7">'<span class="errword"></span>' finnst ekki í orðasafni</p> <!-- WORD_NOT_IN_DICTIONARY = 7 -->
   <p id="err_8">'<span class="errword"></span>' finnst ekki í orðasafni</p> <!-- CROSS_WORD_NOT_IN_DICTIONARY = 8 -->
   <p id="err_9">Of margir stafir lagðir niður</p> <!-- TOO_MANY_TILES_PLAYED = 9 -->
   <p id="err_10">Stafur er ekki í rekkanum</p> <!-- TILE_NOT_IN_RACK = 10 -->
   <p id="err_11">Of fáir stafir eftir, skipting ekki leyfð</p> <!-- EXCHANGE_NOT_ALLOWED = 11 -->
   <p id="err_12">Of mörgum stöfum skipt</p> <!-- TOO_MANY_TILES_EXCHANGED = 12 -->
   <p id="err_13">Leik vantar á borðið - notið F5/Refresh</p> <!-- OUT_OF_SYNC = 13 -->
   <p id="err_14">Notandi ekki innskráður - notið F5/Refresh</p> <!-- LOGIN_REQUIRED = 14 -->
   <p id="err_server">Netþjónn gat ekki tekið við leiknum - reyndu aftur</p> <!-- Server error, probably 5XX -->
</div>

<!-- Confirm resignation of game -->
<div class="resign"><span class="glyphicon glyphicon-exclamation-sign"></span>
   &nbsp;Viltu gefa leikinn?&nbsp;
   <span class="yesnobutton" onclick="confirmResign(true)"><span class="glyphicon glyphicon-ok"></span> Já</span>
   <span class="yesnobutton" onclick="confirmResign(false)"><span class="glyphicon glyphicon-remove"></span> Nei</span>
</div>

<!-- Confirm pass move -->
<div class="pass"><span class="glyphicon glyphicon-forward"></span>
   &nbsp;Segja pass? <span class="pass-explain">2x3 pöss í röð ljúka viðureign</span>&nbsp;
   <span class="yesnobutton" onclick="confirmPass(true)"><span class="glyphicon glyphicon-ok"></span> Já</span>
   <span class="yesnobutton" onclick="confirmPass(false)"><span class="glyphicon glyphicon-remove"></span> Nei</span>
</div>

<!-- Exchange tiles -->
<div class="exchange"><span class="glyphicon glyphicon-refresh"></span>
   &nbsp;Smelltu á flísarnar sem þú vilt skipta&nbsp;
   <span class="yesnobutton" title="Skipta" onclick="confirmExchange(true)"><span class="glyphicon glyphicon-ok"></span></span>
   <span class="yesnobutton" title="Hætta við" onclick="confirmExchange(false)"><span class="glyphicon glyphicon-remove"></span></span>
</div>

<!-- A dialog to show info about a particular user -->
<div id="usr-info-dialog" class="modal-dialog">
<div id="usr-info-form" class="ui-widget ui-widget-content ui-corner-all">

   <div class="usr-info-hdr">
      <h1 class="usr-info-icon"><span class='glyphicon glyphicon-user'></span>&nbsp;</h1>
      <h1 id="usr-info-nick"></h1>
      <span class="vbar">|</span>
      <h2 id="usr-info-fullname"></h2>
      <div class="usr-info-fav" title="Uppáhald"><span class="glyphicon glyphicon-star" id="usr-info-fav-star"></span></div>
   </div>

   <p><strong>Nýjustu viðureignir</strong></p>

   <!-- Recent games for this user -->
   <div class="listitem listheader"><span
   class="list-win"><span
   title="Sigur" class='glyphicon glyphicon-bookmark grayed'></span></span><span
   class="list-ts">Viðureign lauk</span><span
   class="list-nick">Andstæðingur</span><span
   class="list-scorehdr">Úrslit</span><span
   class="list-elo-hdr"><span
      title="Mennskir andstæðingar" class='glyphicon glyphicon-user elo-hdr-left'></span>Elo<span
      title="Allir andstæðingar" class='glyphicon glyphicon-cog elo-hdr-right'></span></span><span
   class="list-duration">Lengd</span></div>

   <!-- Recent game lists will be populated by populateRecentList() -->
   <div id="usr-recent"></div>

   <!-- Statistics -->
   <div id="usr-stats">
      <div id="stats-toggler" class="toggler" title="Með þjörkum eða án">
         <div class="option small" id="opt1"><span class="glyphicon glyphicon-user"></span></div><!--
      --><div class="option small" id="opt2"><span class="glyphicon glyphicon-cog"></span></div>
      </div><!--
   --><div id="usr-stats-human"><!--
      --><div class="stats-fig" id="usr-stats-human-elo" title="Elo-stig"></div><!--
      --><div class="stats-fig stats-games" id="usr-stats-human-games" title="Fjöldi viðureigna"></div><!--
      --><div class="stats-fig stats-win-ratio" id="usr-stats-human-win-ratio" title="Vinningshlutfall"></div><!--
      --><div class="stats-fig stats-avg-score" id="usr-stats-human-avg-score" title="Meðalstigafjöldi"></div><!--
   --></div><!--
   --><div id="usr-stats-all"><!--
      --><div class="stats-fig" id="usr-stats-elo" title="Elo-stig"></div><!--
      --><div class="stats-fig stats-games" id="usr-stats-games" title="Fjöldi viðureigna"></div><!--
      --><div class="stats-fig stats-win-ratio" id="usr-stats-win-ratio" title="Vinningshlutfall"></div><!--
      --><div class="stats-fig stats-avg-score" id="usr-stats-avg-score" title="Meðalstigafjöldi"></div><!--
   --></div>
   </div>

   <!-- Close button -->
   <div class="modal-close" id="usr-info-close" title="Loka" onmouseover="buttonOver(this)"
      onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-ok"></span></div>

</div>
</div>

{% if user and user.beginner() %}
<!-- Help on the board colors -->
<div class="board-help" title="Hvernig reitirnir margfalda stigin">
<div class="board-help-close" title="Loka þessari hjálp"><span class="glyphicon glyphicon-remove"></span></div>
<div class="board-colors">
<div class="board-color" id="triple-word">3 x<br>orð</div>
<div class="board-color" id="double-word">2 x<br>orð</div>
<div class="board-color" id="triple-letter">3 x<br> stafur</div>
<div class="board-color" id="double-letter">2 x<br> stafur</div>
<div class="board-color" id="single-letter">1 x<br> stafur</div>
</div>
</div>
{% endif %}

<!-- Facebook share button -->
<div class="fb-share" title="Deila á Facebook"><img src="{{ url_for('static', filename='FB-f-Logo__blue_29.png') }}"
   width="29" height="29"><br>Deila</div>

{%- endblock -%}

{%- block media -%}

{%- if user and user.audio() -%}
<!-- Audio resources -->
<audio id="your-turn" preload="none">
   <source src="{{ url_for('static', filename='your-turn.mp3') }}" type="audio/mpeg">
</audio>
<audio id="new-msg" preload="none">
   <source src="{{ url_for('static', filename='new-msg.mp3') }}" type="audio/mpeg">
</audio>
{% endif %}
{%- if user and user.fanfare() -%}
<audio id="you-win" preload="none">
   <source src="{{ url_for('static', filename='you-win.mp3') }}" type="audio/mpeg">
</audio>
{%- endif -%}

{%- endblock -%}

{%- block endscripts -%}
<!-- Google App Engine Channel API -->
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<!-- Netskrafl client script -->
{%- if dev_server %}
<script src="{{ url_for('static', filename='netskrafl.js') }}"></script>
{% else %}
<script src="{{ url_for('static', filename='netskrafl.min.js') }}"></script>
{% endif -%}
<script>

   function placeTiles() {
      /* Initialize the board tiles */
{% for m in game.moves %}
{%- set coord, tiles, score = m.move.summary(game.state.board()) %}
      newestMove = placeMove({{ m.player }}, "{{ coord }}", "{{ tiles }}");
{% endfor %}

{% if user and game.my_turn(user.id()) %}
      /* Show the opponent's most recent move */
{% for m in game.moves[-1:] %}
      highlightNewestMove(colorOf({{ m.player }}));
{% endfor %}
{% endif %}

      /* Place the rack tiles */
{% if player_index != None %}
{% for tile, score in game.state.rack_details(player_index) %}
      placeTile("R{{ loop.index }}", "{{ tile }}", "{{ tile }}", {{ score }});
{%- endfor -%}
{%- endif -%}
   }

   function initMoveList() {
      /* Initialize the move list */
{% for m in game.moves %}
{%- set coord, tiles, score = m.move.summary(game.state.board()) %}
      appendMove({{ m.player }}, "{{ coord }}", "{{ tiles }}", {{ score }});
{% endfor %}
{% if game.is_over() %}
{% for m in game.get_final_adjustments() %}
      appendMove({{ m[0] }}, "{{ m[1][0] }}", "{{ m[1][1] }}", {{ m[1][2] }});
{% endfor %}
{% endif %}
   }

   function initBag(bag) {
      /* Initialize the bag */
{% if game.is_over() %}
      updateBag("{{ game.state.bag().contents() }}");
{% else %}
      updateBag("{{ game.display_bag(player_index) }}");
{% endif %}
{% if not game.state.is_exchange_allowed() %}
      exchangeAllowed = false;
{%- endif -%}      
   }

   function localPlayer() {
      /* Identify whether the current player is 0 or 1 */
      return {{ -1 if player_index == None else player_index }};
   }

   function gameId() {
      /* Return the unique identifier of this game */
      return "{{ game.id() }}";
   }

   function userId() {
      /* Return the identifier of the local user */
      return "{{ '' if user == None else user.id() }}";
   }

   function opponentInfo() {
      /* Return information about the opponent */
{% if opp == None %}
      return null;
{% else %}
      return {
         nick: "{{ opp.nickname() | safe }}",
         fullname: "{{ opp.full_name() | safe }}",
         userid: "{{ opp.id() | safe }}"
      }
{% endif %}
   }

   function gameIsZombie() {
      /* Return true if the game is newly finished and is being viewed to confirm results */
      return {{ "true" if zombie else "false" }};
   }

   function gameIsFairplay() {
      /* Return true if the game is a fairplay game */
      return {{ "true" if game.get_fairplay() else "false" }};
   }

   /* Array of supported emoticons in chat */
   var emoticons = Array(
      { icon : ":-)", image : "{{ url_for('static', filename='icontexto_emoticons_02.png') }}" },
      { icon : ";-)", image : "{{ url_for('static', filename='icontexto_emoticons_04.png') }}" },
      { icon : ":-(", image : "{{ url_for('static', filename='icontexto_emoticons_12.png') }}" },
      { icon : ":-o", image : "{{ url_for('static', filename='icontexto_emoticons_10.png') }}" },
      { icon : ":-p", image : "{{ url_for('static', filename='icontexto_emoticons_14.png') }}" },
      { icon : "B-)", image : "{{ url_for('static', filename='icontexto_emoticons_16.png') }}" },
      { icon : "B-|", image : "{{ url_for('static', filename='icontexto_emoticons_16.png') }}" },
      { icon : ":)", image : "{{ url_for('static', filename='icontexto_emoticons_02.png') }}" },
      { icon : ";)", image : "{{ url_for('static', filename='icontexto_emoticons_04.png') }}" },
      { icon : ":(", image : "{{ url_for('static', filename='icontexto_emoticons_12.png') }}" },
      { icon : ":o", image : "{{ url_for('static', filename='icontexto_emoticons_10.png') }}" },
      { icon : ":p", image : "{{ url_for('static', filename='icontexto_emoticons_14.png') }}" },
      { icon : ":P", image : "{{ url_for('static', filename='icontexto_emoticons_14.png') }}" },
      { icon : "B|", image : "{{ url_for('static', filename='icontexto_emoticons_16.png') }}" },
      { icon : "(y)", image : "{{ url_for('static', filename='thumb-up.png') }}" }
   );

   function replaceEmoticons(str) {
      // Replace all emoticon shortcuts in the string str with a corresponding image URL
      var i;
      for (i = 0; i < emoticons.length; i++)
         if (str.indexOf(emoticons[i].icon) >= 0) {
            // The string contains the emoticon: prepare to replace all occurrences
            var img = "<img src='" + emoticons[i].image + "' height='32' width='32'>";
            // Re the following trick, see http://stackoverflow.com/questions/1144783/replacing-all-occurrences-of-a-string-in-javascript
            str = str.split(emoticons[i].icon).join(img);
         }
      return str;
   }

   function initialGameTime() {
      /* Return the time state of the game, i.e. its duration in minutes
         per player and the elapsed time so far for each player in seconds */
      return {
         duration: {{ time_info.duration }},
         elapsed: [{{ time_info.elapsed[0] }}, {{ time_info.elapsed[1] }}]
      };
   }

   function navToReview() {
      /* Show the game review page */
      window.location.href = "{{ url_for('review', game = game.id(), move = 0) | safe }}";
   }

   function navToUserprefs() {
      /* Show the user preferences page */
      window.location.href = "{{ url_for('userprefs') | safe }}";
   }

   function fbShare() {
      /* Share a finished game on Facebook */
      /* Redirect to a Facebook URL - the JavaScript API doesn't work well on the iPad */
      window.location.href = "https://www.facebook.com/dialog/share?" +
         "app_id=622492364544510&display=popup&" +
         "href={{ url_for('board', game = game.id(), og = -1 if player_index == None else player_index, _external=True) | urlencode}}&" +
         "redirect_uri={{ url_for('board', game = game.id(), _external=True) | urlencode }}";
   }

   function lateInit() {
      /* Execute late initialization - called from initSkrafl() */
{% if channel_token %}      
      openChannel("{{ channel_token }}");
{% endif %}
      scoreLeft = {{ game.final_scores()[0] }};
      scoreRight = {{ game.final_scores()[1] }};
{% if user and game.is_overdue() and not game.my_turn(user.id()) %}
      // Display option to force opponent to resign
      $("#force-resign").css("display", "inline");
{% endif %}
{% if player_index == None or game.is_robot_game() %}
      // Only show the chat tab if the user is a player of this game and the
      // opponent is not a robot
      $("#tab-chat").css("display", "none");
      $("div.chat").css("display", "none");
{% elif game.has_new_chat_msg(user.id()) %}
      // There is an unseen chat message
      markChatMsg();
{% endif %}
   }

$(document).ready(initSkrafl);

</script>

{%- endblock -%}
