<!DOCTYPE html>
<html lang="is">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Spilaðu skrafl á netinu!">
<meta name="application-name" content="Netskrafl">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- Apple iPhone and iPad touch icons -->
<link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad-retina.png">

<title>Netskrafl</title>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<link href="{{ url_for('static', filename='skrafl-curry.css') }}" rel="stylesheet" type="text/css">

{% block styles %}
{% endblock %}

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
 <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
 <![endif]-->

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<script src="{{ url_for('static', filename='jquery.ui.touch-punch.min.js') }}"></script>

<!-- Mousetrap global keyboard handler -->
<script src="{{ url_for('static', filename='mousetrap.min.js') }}"></script>

<!-- JGestures library -->
<!-- <script src="{{ url_for('static', filename='jgestures.js') }}"></script> -->

{% block scripts %}
{% endblock %}

</head>
<body id="bodytag">

   <div class="container" id="container">

{% block logo %}
{% endblock %}

      <div class="info" title="Upplýsingar og hjálp">
         <a class="iconlink" href="{{ url_for('help') }}">
            <span class="glyphicon glyphicon-info-sign"></span>
         </a>
      </div>

{% block content %}
{% endblock %}

   </div> <!-- container -->

{%- block endscripts -%}
{%- endblock -%}
</body>
</html>
