
<!--

   FAQ-Malstadur.html
   Algengar spurningar fyrir Netskrafl
   Frequently asked questions for Netskrafl

-->

<p>Hér fyrir neðan er svarað allnokkrum algengum spurningum um Netskrafl og virkni þess.
Ef spurningu þinni er ekki svarað hér er um að gera að leggja hana fram í
<a href="https://www.facebook.com/groups/828426797220211/" target="_blank"
rel="noopener">Facebook-hópi Netskrafls</a>.</p>

<p><b>Spurningar:</b></p>

<ol class="questions">
<li><a href="#faq-1">Hvaða orð eru leyfð í Netskrafli og af hverju?</a></li>
<li><a href="#faq-2">Hvað þýðir BÍN?</a></li>
<li><a href="#faq-3">Orðið X er í BÍN en er ekki leyft í Netskrafli. Af hverju?</a></li>
<li><a href="#faq-4">Andstæðingur fékk að leggja niður orðið X en ég finn það ekki í BÍN. Af hverju?</a></li>
<li><a href="#faq-5">Hver er munurinn á þjörkunum - <span class="glyphicon glyphicon-cog"></span> Fullsterkum, <span class="glyphicon glyphicon-cog"></span> Miðlungi og <span class="glyphicon glyphicon-cog"></span> Amlóða?</a></li>
<li><a href="#faq-6">Mér finnst vanta orðið X í Netskrafl. Hvernig kem ég því á framfæri?</a></li>
<li><a href="#faq-7">Mér finnst þjarkarnir draga betri stafi en ég. Hvernig stendur á því?</a></li>
<li><a href="#faq-8">Þjarkarnir leggja niður orð sem ég fæ ekki að nota. Hverju sætir?</a></li>
<li><a href="#faq-9">Andstæðingurinn hefur ekki leikið í marga daga. Hvernig losna ég við „dauðar viðureignir“?</a></li>
<li><a href="#faq-10">Hvað þýðir græna teiknið með penna og ferningi við einkenni leikmanns?</a></li>
<li><a href="#faq-11">Hvar get ég séð tveggja stafa orðalistann?</a></li>
<li><a href="#faq-12">Get ég losnað við lúðraþytinn sem heyrist þegar ég sigra í viðureign?</a></li>
<li><a href="#faq-13">Ég lokaði óvart minnismiðanum sem útskýrir hvað litirnir á borðinu þýða. Hvernig fæ ég hann aftur upp?</a></li>
<li><a href="#faq-15">Hvernig eru stigin reiknuð?</a></li>
<li><a href="#faq-16">Hvað eru Elo-stig?</a></li>
<li><a href="#faq-17">Hvar sé ég Elo-stigin?</a></li>
<li><a href="#faq-18">Hvernig eru Elo-stigin reiknuð?</a></li>
<li><a href="#faq-19">Hver er formúlan fyrir Elo-stigunum nákvæmlega?</a></li>
<li><a href="#faq-20">Af hverju vantar Elo-stig á nýjustu viðureignir hjá mér?</a></li>
<li><a href="#faq-21">Af hverju eru tveir Elo-listar?</a></li>
<li><a href="#faq-22">Hvað þýðir sægræni barnavagninn í Elo-dálknum í viðureignalista?</a></li>
<li><a href="#faq-23">Stendur til að búa til smáforrit fyrir snjallsíma?</a></li>
<li><a href="#faq-24">Hvað er „nýi pokinn“?</a></li>
<li><a href="#faq-25">Hvernig sé ég hvort viðureign fer fram með nýja pokanum?</a></li>
<li><a href="#faq-26">Hvernig setur maður inn broskalla í spjallinu?</a></li>
<li><a href="#faq-27">Hvað er „vinur Netskrafls“?</a></li>
<li><a href="#faq-28">Hvernig hætti ég að vera „vinur Netskrafls“?</a></li>
<li><a href="#faq-29">Hvað er „keppnishamur“?</a></li>
<li><a href="#faq-30">Hvernig skora ég á andstæðing í keppnisham?</a></li>
</ol>

<p><b>Svör:</b></p>

<ol class="answers">

<li id="faq-1">Hvaða orð eru leyfð í Netskrafli og af hverju?

<p>Netskrafl <b>leyfir</b> eftirfarandi orð:</p>
<ul>
<li>Orðmyndir sem finna má í
<i><a href="https://bin.arnastofnun.is/forsida/" target="_blank"
	rel="noopener">Beygingarlýsingu íslensks nútímamáls</a></i>
(BÍN) (sjá næstu spurningu).</li>
<li>Óbeygjanleg orð (m.a. atviksorð, forsetningar og smáorð) af orðalista sem <b>ekki
er í BÍN sjálfri</b> en má nálgast sérstaklega á vef BÍN.</li>
<li>Spurnarmyndir sagna í <b>eintölu</b> (“<i>Borðaðirðu</i> kvöldmatinn snemma?”) sem <b>ekki
eru í BÍN sjálfri</b> en nálgast má sérstaklega á vef BÍN.</li>
<li>Orð sem eru á <a href="{{ url_for('web.twoletter') }}">tveggja stafa orðalista
Skraflfélags Íslands</a>, eins og hann var ákveðinn af Orðanefnd þess í
september 2015.</li>
<li>Örfá vel þekkt orð sem bætt hefur verið handvirkt við orðagrunn Netskrafls
vegna þess að þau vantar augljóslega í BÍN.</li>
</ul>
<p>Orð sem eru <b>ekki leyfð</b> í Netskrafli eru m.a.:</p>
<ul>
<li>Sérnöfn hvers konar, þar á meðal þjóðaheiti (Íri, Dani, Breti).</li>
<li>Skammstafanir.</li>
<li>Hljóðlíkingar og dýrahljóð.</li>
<li>Erlend orð og slettur.</li>
<li>Fornt og úrelt mál.</li>
<li>Samsett orð sem ekki eru í BÍN.</li>
<li>Spurnarmyndir sagna í <b>fleirtölu</b> (“<i>Borðuðuði</i> kvöldmatinn snemma?”).</li>
<li>Tveggja stafa orð önnur en þau sem eru á
<a href="{{ url_for('web.twoletter') }}">orðalista Skraflfélags Íslands</a>.</li>
<li>Örfáar orðmyndir sem hafa verið felldar niður handvirkt úr orðagrunni
Netskrafls vegna þess að þær eru augljóslega villur í BÍN.</li>
</ul>
<p>Uppfærsla á orðalista Netskrafls er sótt til BÍN á nokkurra mánaða fresti.</p>
<p>Á vegum <a href="https://www.facebook.com/skraflfelagid" target="_blank"
	rel="noopener">Skraflfélags Íslands</a>
er starfandi Orðanefnd. Hlutverk hennar er að leggja meginlínur um leyfileg orð í
íslensku skrafli, halda við orðalistum, taka við ábendingum og úrskurða í álitamálum.
Orðagrunnur Netskrafls er og verður uppfærður í samræmi við niðurstöður Orðanefndar
hverju sinni.</p>
</li>

<li id="faq-2">Hvað þýðir BÍN?

<p>Skammstöfunin BÍN stendur fyrir <i>Beygingarlýsingu íslensks nútímamáls</i>. Það er
gagnagrunnur yfir orðmyndir í íslensku sem <i>Stofnun Árna Magnússonar í
íslenskum fræðum</i> heldur utan um. Nú eru um 2,3 milljónir orðmynda í grunninum.
Netskrafl notar gagnagrunn BÍN til að skera úr um hvort orð teljist leyfilegt eða ekki,
með örfáum undantekningum, svo sem hvað varðar tveggja stafa orð.</p>
<p>Nánari upplýsingar um BÍN, og uppflettingu í gagnagrunninum, má finna á vefnum á
<a href="https://bin.arnastofnun.is" target="_blank" rel="noopener">https://bin.arnastofnun.is</a>.</p>
<p>(Höfundarréttur að BÍN er á hendi <i>Stofnunar Árna Magnússonar í íslenskum
fræðum</i>. BÍN er notað í Netskrafli skv. skilmálum stofnunarinnar þar um.)</p>
</li>

<li id="faq-3">Orðið X er í BÍN en er ekki leyft í Netskrafli. Af hverju?

<p>Það gætu verið nokkrar ástæður fyrir því. Orðið gæti verið sérnafn eða upphrópun,
það gæti verið eitt af tveggja stafa orðunum sem ekki eru á
lista Orðanefndar <a href="https://www.facebook.com/skraflfelagid" target="_blank"
	rel="noopener">Skraflfélags Íslands</a>,
eða það gæti verið nýkomið inn í BÍN. Þá kemur það inn í Netskraflið í næstu uppfærslu
þess. Um tiltekin orð má alltaf spyrja í
<a href="https://www.facebook.com/groups/828426797220211/" target="_blank"
	rel="noopener">Facebook-hópi Netskraflsins</a>.</p>
<p>Sjá einnig svar við <a href="#faq-1">spurningu 1</a>.</p>
</li>

<li id="faq-4">Andstæðingur fékk að leggja niður orðið X en ég finn það ekki í BÍN. Af hverju?

<p>Auk orða sem eru í megingrunni BÍN leyfir Netskrafl:</p>
<ul>
<li>Óbeygjanleg orð (smáorð, forsetningar, atviksorð).</li>
<li>Spurnarmyndir sagna í eintölu (“<i>Fórstu</i> út að borða í kvöld?”).</li>
<li>Tveggja stafa orð af <a href="{{ url_for('web.twoletter') }}">lista Skraflfélags
Íslands</a>, sem eru ekki öll í BÍN.</li>
<li>Örfá vel þekkt orð sem hefur verið bætt handvirkt við orðalista Netskrafls enda vantar þau augljóslega í BÍN.</li>
</ul>
<p>Það er algild regla að ef andstæðingur, mennskur eða þjarki, fær að leggja niður
orð þá mátt þú það líka - og öfugt. Sami orðagrunnur gildir fyrir alla, alltaf!</p>
</li>

<li id="faq-5">Hver er munurinn á þjörkunum -
<span class="glyphicon glyphicon-cog"></span> Fullsterkum,
<span class="glyphicon glyphicon-cog"></span> Miðlungi og
<span class="glyphicon glyphicon-cog"></span> Amlóða?

<p><b><span class="glyphicon glyphicon-cog"></span> Fullsterkur</b> velur
alltaf stigahæsta leik sem mögulegur er í hverri stöðu. Hann hugsar hins vegar
ekki taktískt, og lætur sér til dæmis í léttu rúmi liggja hvort lögn opnar fyrir
að andstæðingurinn leggi á appelsínugulan þreföldunarreit.</p>
<p><b><span class="glyphicon glyphicon-cog"></span> Miðlungur</b> forðast
allra sjaldgæfustu orðin í orðasafninu og velur
af handahófi einn af tíu stigahæstu leikjunum sem mögulegir eru.</p>
<p><b><span class="glyphicon glyphicon-cog"></span> Amlóði</b> forðast
sjaldgæf orð og velur úr 20 leikjum sem koma til álita.</p>
<p><b><span class="glyphicon glyphicon-cog"></span> Fullsterkur</b> hefur úr sama
orðaforða að moða og leikmenn almennt, þ.e. orð úr BÍN sem samræmast skraflreglum
auk orða sem Orðanefnd hefur ákveðið að séu leyfileg.</p>
<p><b><span class="glyphicon glyphicon-cog"></span> Miðlungur</b> kann um það
bil 95% af orðaforða BÍN, en hefur ekki á takteinum orð sem merkt eru sem forn,
úrelt, sjaldgæf eða staðbundin.</p>
<p><b><span class="glyphicon glyphicon-cog"></span> Amlóði</b> hefur hins vegar
töluvert minni orðaforða en hinir þjarkarnir. Orðaforði hans er um það bil fjórðungur
af aðalgrunninum. Þótt orðaforði Amlóða sé takmarkaður getur þú eftir sem áður
lagt niður öll leyfileg orð gegn honum.</p>
</li>

<li id="faq-6">Mér finnst vanta orðið X í Netskrafl. Hvernig kem ég því á framfæri?

<p>Einfaldast er að nota
<a href="https://www.facebook.com/groups/828426797220211/" target="_blank"
	rel="noopener">Facebook-hóp Netskraflsins</a>
eða <a href="https://www.facebook.com/skraflfelagid" target="_blank"
	rel="noopener">Facebook-síðu Skraflfélags
Íslands</a>, en einnig er unnt að koma orðum á framfæri við ritstjóra BÍN. Sjá
nánari upplýsingar á <a href="https://bin.arnastofnun.is" target="_blank"
	rel="noopener">vef BÍN</a>.</p>

<li id="faq-7">Mér finnst þjarkarnir draga betri stafi en ég. Hvernig stendur á því?</li>
<p>Það er óheppileg tilviljun. Þjarkarnir draga stafi eftir sama algríminu og þú.
(Algrímið er „formúlan“ í hugbúnaði Netskrafls sem sér um að velja stafi úr „pokanum“
af handahófi.)</p>
</li>

<li id="faq-8">Þjarkarnir leggja niður orð sem ég fæ ekki að nota. Hverju sætir?

<p>Það er algild regla að ef andstæðingur, mennskur eða þjarki, fær að leggja niður orð
þá mátt þú það líka (og öfugt). <b>Sami orðagrunnur gildir fyrir alla, alltaf.</b></p>
<p>Það getur komið fyrir að þú fáir rautt höfnunarmerki á gilt orð ef villa kemur
upp í netþjóni, t.d. vegna mikils álags. Þú getur þá prófað að síglæða síðuna (Refresh,
F5 takkinn á PC), eða einfaldlega að smella á græna „Leika” hnappinn þrátt fyrir
höfnunarmerkið. Ef orðið er í reynd leyfilegt kemst það í gegn, annars færðu nánari
villutilkynningu frá netþjóni. Það þarf ekki að hafa áhyggjur af að kerfið ruglist
eða leyfi þér óvart að leggja niður ógilt orð.</p>
<p>Sjá einnig svar við <a href="#faq-4">spurningu 4</a>.</p>
</li>

<li id="faq-9">Andstæðingurinn hefur ekki leikið í marga daga. Hvernig losna
ég við „dauðar viðureignir“?

<p>Þú getur þvingað andstæðing til uppgjafar þegar liðnir eru 14 dagar án leiks í
viðureign. Þegar það gerist tapar sá óvirki öllum stigum sínum, og viðureigninni
væntanlega þar með. Þú heldur þínum stigum hins vegar óskertum.</p>
<p>Eftir 12 daga án leiks birtist rautt stundaglas
<span class="glyphicon glyphicon-hourglass"></span> við viðureignina í viðureignalista
óvirka leikmannsins. Hann hefur þá tvo sólarhringa til að bregðast við. Geri hann það
ekki birtist stundaglasið einnig hjá þér. Ef þú opnar viðureignina með því að
smella á hana sérðu rauðan hnapp neðst á síðunni, fyrir neðan borðið, sem á stendur
“Þvinga til uppgjafar”.</p>
<p class="help-center"><img src="{{ url_for('web.static', filename='Faq-1.png', _external=True) }}"></p>
<p>Ef þú smellir á hnappinn hefur þú sigrað með þvingaðri uppgjöf. Engin tímamörk
eru á slíkri þvingun, ef stundaglasið er komið upp á annað borð.</p>
</li>

<li id="faq-10">Hvað þýðir græna teiknið með penna og ferningi við einkenni leikmanns?

<p>Merkið gefur til kynna að viðkomandi skraflari gangist undir
<b>heiðursmannasamkomulag</b> um að nota ekki stafræn hjálpartæki þegar hann skraflar
við aðra leikmenn. Með stafrænum hjálpartækjum er átt við ýmis konar vefsíður sem
leita að orðum, svo sem “skraflhjálp”, krossgátuorðabók og hjálpartæki í Orðaleiknum
(eldra skrafli á netinu). Innbyggðir möguleikar í Netskraflinu sjálfu, svo sem
orðaleit jafnóðum og uppfletting í tveggja stafa orðalistanum, teljast ekki vera
stafræn hjálpartæki í þessu sambandi.</p>
<p class="help-center"><img src="{{ url_for('web.static', filename='Faq-2.png', _external=True) }}"></p>
<p>Hægt er að gangast undir heiðursmannasamkomulagið og virkja teiknið með því að
smella á nafnið sitt í hægra horninu, opna með því
<a href="{{ url_for('web.userprefs', tab=1) }}">upplýsingar um notanda</a> og velja þar
til gerðan rofa (sjá mynd).</p>
</li>

<li id="faq-11">Hvar get ég séð tveggja stafa orðalistann?

<p>Ef þú smellir á miðjutáknið (björgunarhringinn
<span class="glyphicon glyphicon-life-preserver"></span>) hægra megin við borðið og
við hliðina á stigatöflunni, birtist listinn.</p>
<p class="help-center"><img src="{{ url_for('web.static', filename='Faq-3.png', _external=True) }}"></p>
<p>Ef þú smellir svo á listann sjálfan skiptir hann milli þess að raðast
eftir síðari stafnum og þeim fyrri.</p>
<p>Þú getur einnig séð tveggja stafa orðalistann <a href="{{ url_for('web.twoletter') }}">hér</a>.</p>
</li>

<li id="faq-12">Get ég losnað við lúðraþytinn sem heyrist þegar ég sigra í viðureign?

<p>Já, þú getur slökkt á honum í stillingum.
(Hægt er að <a href="{{ url_for('web.userprefs', tab=1) }}">opna stillingarnar</a> með því
að smella á nafnið sitt efst í hægra horni síðunnar.)</p>
<p class="help-center"><img src="{{ url_for('web.static', filename='Faq-4.png', _external=True) }}"></p>
<p>Myndin sýnir hvernig rofinn á að vera stilltur til að slökkva á lúðraþytinum.</p>
</li>

<li id="faq-13">Ég lokaði óvart minnismiðanum sem útskýrir hvað litirnir á borðinu þýða.
Hvernig fæ ég hann aftur upp?

<p>Hann er opnaður í stillingunum. (Hægt er að
<a href="{{ url_for('web.userprefs', tab=1) }}">opna stillingarnar</a> með því að smella
á nafnið sitt efst í hægra horni síðunnar.)</p>
<p class="help-center"><img src="{{ url_for('web.static', filename='Faq-5.png', _external=True) }}"></p>
<p>Myndin sýnir hvernig rofinn á að vera stilltur til að minnismiðinn sjáist.</p>
</li>

<li id="faq-15">Hvernig eru stigin reiknuð?

<p>Stig fyrir hvern leik eru reiknuð með sama hætti og í hefðbundnu borðskrafli. Meginreglurnar eru:</p>
<ul>
<li>Lögð eru saman stafgildi (stig) flísanna í <b>öllum heilum orðum</b> sem
niðurlögn þín myndar, hvort sem það eru ný orð eða viðbætur við orð sem fyrir
voru á borðinu. Orð geta myndast bæði lárétt og lóðrétt, “þvers og kruss”.
Öll orð verða að sjálfsögðu að vera leyfileg.</li>
<li>Ef þú leggur flís á ljós-sægrænan eða sægrænan reit <b>margfaldast stafgildi</b>
þeirrar flísar, þ.e. tvöfaldast á ljós-sægrænum reit og þrefaldast á sægrænum.
Hin margfölduðu stig telja bæði í láréttu og lóðréttu orði ef reiturinn er hluti
af tveimur nýmynduðum orðum.
Ef þú nærð til dæmis að leggja niður <b>É</b>, sem hefur stafgildi 7, á sægrænan reit
(þrefalt stafgildi) þannig að það sé hluti af tveimur orðum, færðu samtals
7 x 3 x 2 = 42 stig bara fyrir <b>É</b>-ið eitt og sér - og þá er eftir að telja
hina stafina.</li>
<li>Ef þú leggur flís á ljós-appelsínugulan eða appelsínugulan reit <b>margfaldast stigagildi
alls orðsins</b> sem flísin er hluti af, þ.e. tvöfaldast á ljós-appelsínugulum og þrefaldast
á appelsínugulum. Margföldunin gildir bæði fyrir lárétt og lóðrétt orð ef reiturinn
er hluti af tveimur nýmynduðum orðum.</li>
<li>Fyrir hvert nýmyndað orð eru stafgildi, einföld eða margfölduð (á ljós-sægrænum
eða sægrænum reit) reiknuð <b>fyrst</b> og lögð saman.
<b>Að því loknu</b> er orðgildið sem þannig fæst margfaldað upp ef nýjar flísar
í orðinu eru á ljós-appelsínugulum eða appelsínugulum reit. Athugaðu að orð getur legið yfir
tvo margföldunarreiti, sem gefa þá samtals fjórfalt eða jafnvel nífalt orðgildi.</li>
<li>Margföldunarreitir eru aðeins virkir <b>í þeim leik</b> sem flís er lögð á þá.
Eftir það missa þeir virkni sína.
Flísar sem á þeim eru hafa einfalt stafgildi ef þær eru hluti af orðum sem síðar
eru lögð niður.</li>
<li>Auðu flísarnar, sem geta táknað þann bókstaf sem leikmaður kýs, gefa engin
(núll) stafastig.</li>
<li>Ef leikmaður nær að setja út alla sjö stafina í rekkanum í einni lögn kallast
það <b>bingó</b> og gefur 50 stiga aukabónus.</li>
</ul>
<p>Ef þú segir pass eða velur að skipta út flísum færðu engin stig í þeirri umferð.</p>
</li>

<li id="faq-16">Hvað eru Elo-stig?

<p>Netskrafl reiknar svokölluð <strong>Elo-stig</strong>
(sjá <a href="https://en.wikipedia.org/wiki/Elo_rating_system" target="_blank"
	rel="noopener">hér</a>)
fyrir alla leikmenn og einnig tölvuþjarkana. Útreikningarnir eru gerðir einu sinni
á sólarhring, og ná til viðureigna sem lokið er á miðnætti.</p>
<p>Stigin eru <b>vísbending</b> um styrk leikmanna, en á ekki að taka of alvarlega.</p>
<p>Nýskráðir leikmenn fá í upphafi <strong>1200</strong> Elo-stig. Stigunum fjölgar
í hvert sinn sem leikmaður sigrar í viðureign, en fækkar við tap.</p>
<p>Elo-stig virka í stórum dráttum þannig að á grundvelli þeirra er gerð spá um
niðurstöðu viðureignar, eða nánar til tekið um vinningslíkur hvors leikmanns.
Þegar niðurstaðan liggur fyrir eru Elo-stig færð frá
þeim sem tapaði til þess sem sigraði, í hlutfalli við frávik niðurstöðunnar frá spánni.
Segja má að kerfið sé stöðugt að leiðrétta eigin spár og leitast við að færa þær nær
raunverulegum niðurstöðum viðureigna.</p>
</li>

<li id="faq-17">Hvar sé ég Elo-stigin?

<p>Þú sérð þín eigin Elo-stig undir flipanum <strong>Ferill</strong>.
Þau eru einkennd með blárri kórónu
<span class="glyphicon glyphicon-crown"></span>.</p>
<p class="help-center"><img src="{{ url_for('web.static', filename='Faq-6.png', _external=True) }}"></p>
<p>Elo-stigin eru vinstra megin, hjá kórónunni - þau eru 1170 í þessu dæmi. Leikmaðurinn hefur lokið 15
viðureignum, unnið 40% þeirra og fengið að meðaltali 91 stig í hverri viðureign.</p>
<p>Elo-stig 100 efstu leikmanna má sjá undir flipanum <strong>Andstæðingar</strong>
ef smellt er á hnappinn
<span class="glyphicon glyphicon-crown"></span>&nbsp;<strong>Topp 100</strong>.
Unnt er að sjá Elo-stig sem byggja eingöngu á viðureignum milli mennskra
leikmanna (<span class="glyphicon glyphicon-user"></span>), eða stig
sem reiknuð eru fyrir allar viðureignir, að þjörkum meðtöldum
(<span class="glyphicon glyphicon-cog"></span>).</p>
</li>

<li id="faq-18">Hvernig eru Elo-stigin reiknuð?

<p>Elo-kerfið er stillt þannig af að hækkun um 400 stig táknar tíföldun líkinda á sigri.
Það þýðir að ef tveir leikmenn eigast við, þar sem annar hefur t.d. 1100 stig en hinn
1500, eru líkur þess síðarnefnda á sigri taldar vera 10:1 (tíu á móti einum), þ.e. 10/11,
en hins fyrrnefnda 1/11.</p>
<p>Ef allt fer eins og líklegast er talið og sá stigahærri sigrar, urðu úrslitin 1:0 fyrir
honum eða með öðrum orðum 11/11 honum í hag en 0/11 fyrir andstæðinginn. Niðurstaðan er
1/11 umfram spá, sem var 10/11. Það umframhlutfall er margfaldað með tölunni 20 og rúnnað
af í heila tölu. Útkoman er að stigahái leikmaðurinn bætir við sig 2 Elo stigum með
sigrinum, enda er hann í góðu samræmi við spá kerfisins.</p>
<p>Ef á hinn bóginn sá með 1100 stigin sigrar óvænt þann með 1500 snýr dæmið öfugt.
Árangur stigalága leikmannsins varð 11/11 en spáð var 1/11. Umframárangur var 10/11 og
þegar hann er margfaldaður með 20 og rúnnað af fæst út að leikmaðurinn bætir við sig 18
Elo-stigum - sem sá sterki tapar. Bilið milli þeirra minnkar því úr 400 stigum í 364.</p>
<p>Hér má sjá nokkur dæmi um spá Elo-kerfisins um sigurlíkur leikmanna eftir
stigamun þeirra:</p>
<table>
<tr>
<td class="row-caption">Stigamunur</td>
<td>50 stig</td>
<td>100 stig</td>
<td>200 stig</td>
<td>400 stig</td>
</tr>
<tr>
<td class="row-caption">Stigahærri<br>
leikmaður</td>
<td>57%</td>
<td>64%</td>
<td>76%</td>
<td>91%</td>
</tr>
<tr>
<td class="row-caption">Stigalægri<br>
leikmaður</td>
<td>43%</td>
<td>36%</td>
<td>24%</td>
<td>9%</td>
</tr>
</table>

<p>Elo-kerfi Netskrafls lítur aðeins á sigur, jafntefli eða tap. Ekki skiptir máli með
hversu mörgum stigum viðureign vannst eða tapaðist. Jafntefli er talið sem hálfur
vinningur hjá hvorum leikmanni.</p>
<p>Sú undantekning er gerð að fyrstu 10 viðureignir byrjenda breyta aðeins Elo-stigum
þeirra sjálfra, ekki andstæðinga þeirra (nema þeir séu einnig byrjendur). Það er því óhætt
fyrir reyndari leikmenn að etja kappi við byrjendur, þó Elo-stig þeirra séu hugsanlega
röng til að byrja með.</p>
</li>

<li id="faq-19">Hver er formúlan fyrir Elo-stigunum nákvæmlega?

<p>Ef E(a) eru Elo-stig leikmanns A og E(b) stig leikmanns B,
reiknar kerfið S(a) = 10^(E(a)/400) og S(b) = 10^(E(b)/400). Vinningslíkur A eru þá
L(a) = S(a) / (S(a) + S(b)), en vinningslíkur B eru L(b) = S(b) / (S(a)+ S(b)). Ef A
sigrar leikinn
fær hann 20 * (1 - L(a)) Elo-stig í viðbót, en tapi hann leiknum dragast af honum
20 * (1 - L(b)) = 20 * L(a) enda er L(a) + L(b) = 1. Sama gildir fyrir B með öfugum
formerkjum.</p>
<p><strong>Dæmi:</strong> A hefur 1200 Elo-stig en B 1600. S(a) = 10^3 = 1000.
S(b) = 10^4 = 10000.
L(a) = 1000 / 11000 = 9,09%. L(b) = 10000/11000 = 90,91%. B er sem sagt talinn
10 sinnum líklegri
en A til að sigra leikinn. Ef það verður niðurstaðan fær B 20 * 9,09% = 2 Elo-stig í viðbót,
enda sigurinn mjög nálægt spánni. Ef B tapar hins vegar, dragast af honum 20 * 90,91% =
18 Elo-stig, sem A fær - enda er A þá talinn vanmetinn leikmaður sem eigi að færast nær
B í stigafjölda.</p>
</li>

<li id="faq-20">Af hverju vantar Elo-stig á nýjustu viðureignir hjá mér?

<p>Elo-útreikningarnir fara fram í kring um kl. 02:15 á hverri nóttu og miðast
við viðureignir sem lokið var á miðnætti.</p>
</li>

<li id="faq-21">Af hverju eru tveir Elo-listar?

<p>Annar listinn, sem merktur er <span class="glyphicon glyphicon-cog"></span>, tekur
mið af öllum viðureignum, einnig við þjarka. Hinn listinn, sem merktur er
<span class="glyphicon glyphicon-user"></span>, er aðeins reiknaður út frá
viðureignum milli fólks. Elo-staða leikmanna getur verið mismunandi á þessum
tveimur listum.</p>
</li>

<li id="faq-22">Hvað þýðir sægræni barnavagninn í Elo-dálknum í viðureignalista?

<p>Viðureignir við byrjendur, þá sem eru ennþá með færri en 10 viðureignir, teljast ekki
með í Elo-stigum reyndari leikmanna. Þær eru sérstaklega merktar með sægrænum barnavagni í
stað Elo-stiga.</p>
</li>

<li id="faq-23">Stendur til að búa til smáforrit fyrir snjallsíma?

<p>Já, appið okkar heitir <a href="https://explowordgame.com/is/" target="_blank">Explo</a>
    og er mjög svipað Netskrafli.
    Það er fáanlegt bæði á <a href="https://apps.apple.com/rw/app/explo-word-game/id1591881521" target="_blank">App Store</a> fyrir Apple síma og spjaldtölvur,
    og <a href="https://play.google.com/store/apps/details?id=explo.client&hl=is&gl=IS" target="_blank">Play Store</a> fyrir Android tæki.</p>
</li>

<li id="faq-24">Hvað er „nýi pokinn“?

<p>Nýi íslenski skraflpokinn var búinn til á vegum Skraflfélags Íslands og kynntur
í október 2015. Hann er
endurbót á eldri, upphaflega skraflpokanum sem fylgdi íslensku borðskrafli á sínum tíma.</p>
<p>Í nýja pokanum eru 100 flísar í stað 104 í þeim eldri. Fjöldi stafa og stig
þeirra voru stillt af, með tölvuútreikningum og -hermun, þannig að allir stafir
væru því sem næst <strong>jafn ákjósanlegir</strong> í rekkanum. Jafnframt var gætt að
jafnvægi milli sérhljóða og samhljóða, og að tíðni stafa endurspeglaði íslenskt
ritmál.</p>
<p>Nánar er fjallað um nýja pokann <a href="{{ url_for('web.newbag') }}">hér</a>.</p>
<p>PDF skrá sem sýnir nýja pokann grafískt má
<a href="{{ url_for('web.static', filename='NewBag.pdf', _external=True) }}" target="_blank">sækja hér</a>.</p>
</li>

<li id="faq-25">Hvernig sé ég hvort viðureign fer fram með nýja pokanum?

<p><i>Gamli (upphaflegi) pokinn er nú einungis notaður ef báðir leikmenn eru merktir honum.</i></p>
<p>Nýi pokinn þekkist á því að hann er <strong>fölbleikur</strong> á litinn, neðst í hægra horni leikborðsins:</p>
<p style="text-align:center"><img src="{{ url_for('web.static', filename='NewBagExample.png', _external=True) }}"></p>
</li>

<li id="faq-26">Hvernig setur maður inn broskalla í spjallinu?

<p>Í spjallflipa Netskrafls er hægt að slá inn tákn sem birtast sem mismunandi „broskallar“.</p>
<p>Táknin eru yfirleitt samsetningar af „augum“, „nefi“ og „munni“. Nefinu (bandstrikinu - ) má sleppa.</p>
<p>Hér er yfirlit um broskallanna:</p>

<div id="emoticons-div">

<table id="emoticons">
   <tr>
      <td>:-)</td><td><img src="{{ url_for('web.static', filename='icontexto_emoticons_03.png', _external=True) }}"></td>
      <td>:-D</td><td><img src="{{ url_for('web.static', filename='icontexto_emoticons_02.png', _external=True) }}"></td>
      <td>;-)</td><td><img src="{{ url_for('web.static', filename='icontexto_emoticons_04.png', _external=True) }}"></td>
   </tr>
   <tr>
      <td>:-(</td><td><img src="{{ url_for('web.static', filename='icontexto_emoticons_12.png', _external=True) }}"></td>
      <td>:-o</td><td><img src="{{ url_for('web.static', filename='icontexto_emoticons_10.png', _external=True) }}"></td>
      <td>:-p</td><td><img src="{{ url_for('web.static', filename='icontexto_emoticons_14.png', _external=True) }}"></td>
   </tr>
   <tr>
      <td>B-)</td><td><img src="{{ url_for('web.static', filename='icontexto_emoticons_16.png', _external=True) }}"></td>
      <td>(y)</td><td><img src="{{ url_for('web.static', filename='thumb-up.png', _external=True) }}"></td>
   </tr>
</table>

</div>
</li>

<li id="faq-27">Hvað er „vinur Netskrafls“?

<p>Netskrafl hefur frá upphafi verið smíðað og rekið í sjálfboðavinnu, og er ókeypis.
En það fylgir því nokkur kostnaður að keyra og hýsa kerfið frá mánuði til mánaðar.</p>
<p>Því býðst skröflurum
að gerast <b>vinir Netskrafls</b> og leggja lága upphæð - 790 kr - í púkkið mánaðarlega,
til að halda þessari skemmtilegu og skerpandi dægradvöl gangandi.</p>
<p>Í þakklætisskyni njóta vinir Netskrafls eftirfarandi fríðinda:</p>
<ul>
	<li><b>Ótakmarkaður fjöldi viðureigna</b> í gangi samtímis, í stað 8 að hámarki.</li>
	<li>Aðgangur að <b>yfirliti í lok viðureignar</b>, sem sýnir bestu leiki sem mögulegir voru í hverri stöðu.</li>
	<li>Þeir geta skorað á aðra leikmenn í <b>keppnisham</b> með handvirkri véfengingu án „græna þumalsins“.</li>
</ul>
{% if user %}
{% if user.friend %}
<p>Þú ert &nbsp;<span class="glyphicon glyphicon-coffee-cup"></span>&nbsp; vinur Netskrafls. Kærar þakkir fyrir það!</p>
{% else %}
<p>Þú getur gerst &nbsp;<span class="glyphicon glyphicon-coffee-cup"></span>&nbsp; vinur Netskrafls
með því að <a href="/askrift">smella hér</a>.</p>
{% endif %}
{% endif %}
</li>

<li id="faq-28">Hvernig hætti ég að vera „vinur Netskrafls“?

<p>Það er einfalt: þú <a href="/adgangur">smellir hér</a> og segir upp áskriftinni.
En það væri afar leitt að missa þig!</p>
</li>

<li id="faq-29">Hvað er „keppnishamur“?

<p>Vinir Netskrafls geta skorað á aðra leikmenn í <b>keppnisham</b>.
Í keppnisham er enginn grænn þumall sem segir til um hvort orð eru gild eða ekki. Leggja má niður
hvaða orð sem er. Það er andstæðingsins að véfengja lögn sem hann telur ranga.</p>
<p style="float:right;margin-top:0;padding-top:0;margin-right:0;padding-right:0;padding-left:6px;"><img src="{{ url_for('web.static', filename='ChallengeButton.png', _external=True) }}"></p>
<p>Lögn andstæðings er véfengd með því að smella á hnapp með hvítu bannmerki.
<span class="glyphicon glyphicon-play"></span></p>
<p>Ef lögn andstæðings er ógild, þ.e. eitthvert orð sem hún myndar er ekki í orðagrunni Netskrafls, er hún
fjarlægð af borðinu og stig sem andstæðingurinn fékk fyrir hana eru dregin af honum.
Þú átt þá leik en andstæðingurinn hefur fyrirgert umferðinni og fær engin stig fyrir hana.</p>
<p>Ef lögn andstæðings er hins vegar gild, og véfengingin þar af leiðandi óréttmæt, fær
andstæðingurinn 10 stig aukalega í sárabætur. Þú átt hins vegar áfram leik.</p>
<p>Keppnishamnum er ætlað að líkja eftir hefðbundnu borðskrafli. Reglur um véfengingu
eru í samræmi við reglur Skraflfélags Íslands.</p>
</li>

<li id="faq-30">Hvernig skora ég á andstæðing í keppnisham?

<p>Ef þú ert <a href="#faq-27">Vinur Netskrafls</a> getur þú skorað á aðra leikmenn
í <a href="#faq-29">keppnisham</a>, hvort sem þeir eru einnig Vinir Netskrafls eður ei.</p>
<p>Keppnishamur er valinn með rofa í glugganum sem kemur upp þegar þú gefur út áskorun. Á myndinni
sést hvernig rofinn á að vera stilltur fyrir keppnisham:</p>
<p class="help-center"><img src="{{ url_for('web.static', filename='ManualChallenge.png', _external=True) }}"></p>
<p>Áskorun í keppnisham er merkt með áberandi merki, ljósaperu með rauðri útlínu:</p>
<p class="help-center"><img src="{{ url_for('web.static', filename='ManualLightbulb.png', _external=True) }}"></p>
</li>

<p style="padding-bottom: 200px">&nbsp;</p>

</ol>

