<!-- Firebase authentication -->

<script src="https://cdn.firebase.com/libs/firebaseui/3.4.1/firebaseui.js"></script>

<link type="text/css" rel="stylesheet"
    href="https://cdn.firebase.com/libs/firebaseui/3.4.1/firebaseui.css">

<script>

// Firebase log-in widget
function configureFirebaseLoginWidget() {
   var uiConfig = {
      'signInSuccessUrl': '/',
      'signInOptions': [
         // Leave the lines as is for the providers you want to offer your users.
         firebase.auth.GoogleAuthProvider.PROVIDER_ID
      ],
      // Terms of service url
      // 'tosUrl': '<your-tos-url>',
   };
   var ui = new firebaseui.auth.AuthUI(firebase.auth());
   ui.start('#firebaseui-auth-container', uiConfig);
}

</script>
