<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-analytics.js"></script>
<script>
  // Initialize Firebase
  // (see https://firebase.google.com/docs/web/setup)
  const firebaseConfig = {
    // The following variables are injected into the Flask
    // context in inject_into_context() in main.py
    apiKey: "{{ firebase_api_key }}",
    authDomain: "{{ project_id }}.firebaseapp.com",
    databaseURL: "{{ firebase_db_url }}",
    projectId: "{{ project_id }}",
    storageBucket: "{{ project_id }}.appspot.com",
    messagingSenderId: "{{ firebase_sender_id }}",
    appId: "{{ firebase_app_id }}",
    measurementId: "{{ measurement_id }}"
  };
  // console.log("firebaseConfig", firebaseConfig);
  firebase.initializeApp(firebaseConfig);
</script>
