<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-database.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBAhoxuIMvvsDepArFbW9YF9F4eduCuWB8",
    authDomain: "netskrafl.firebaseapp.com",
    databaseURL: "https://netskrafl.firebaseio.com",
    projectId: "netskrafl",
    storageBucket: "netskrafl.appspot.com",
    messagingSenderId: "62474854399"
  };
  firebase.initializeApp(config);
</script>
