
{% extends "container.html" %}

{% block styles %}
{% endblock %}

{% block logo %}
{% include 'logo-explo.html' %}
{% endblock %}

{% block content %}

<!-- A dialog to display promotions -->
<div id="promo-dialog" class="modal-dialog">
<div id="promo-form" class="ui-widget ui-widget-content ui-corner-all">
   <div id="promo-content"></div>
</div>
</div>

<!-- A dialog to display thanks -->
<div id="thanks-dialog" class="modal-dialog">
<div id="thanks-form" class="ui-widget ui-widget-content ui-corner-all">
   <div id="thanks-content">
      <h3>Frábært!</h3>
      <p>Bestu þakkir fyrir að gerast <span class="glyphicon glyphicon-coffee-cup"></span>&nbsp;<b>vinur Netskrafls</b>.</p>
      <p>Fríðindi þín virkjast um leið og greiðsla hefur verið staðfest. <b>Það getur tekið nokkrar mínútur.</b>
      Þú færð staðfestingu og kvittun í tölvupósti.</p>

      <div class="btn-thanks" title="Áfram"
         onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
         onclick="window.location.href='{{ url_for("web.main") | safe }}'">
         <span class="glyphicon glyphicon-ok"></span></div>

   </div>
</div>
</div>

<!-- A dialog to confirm a cancellation -->
<div id="cancel-dialog" class="modal-dialog">
<div id="cancel-form" class="ui-widget ui-widget-content ui-corner-all">
   <div id="cancel-content">
      <h3>Hætta sem vinur Netskrafls?</h3>
      <p>Viltu hætta sem <span class="glyphicon glyphicon-coffee-cup"></span>&nbsp;<b>vinur Netskrafls</b>
      og missa þar með þau fríðindi sem því tengjast?</p>
      <p>Fríðindin eru:</p>
      <ul>
         <li><b>Ótakmarkaður fjöldi viðureigna</b> í gangi samtímis<br>(í stað 8 að hámarki)</li>
         <li>Aðgangur að <b>yfirliti</b> í lok viðureignar</li>
         <li><b>Keppnishamur</b> án "græna þumalsins"</li>
      </ul>

      <div class="btn-cancel-no" title="Nei"
         onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
         onclick="window.location.href='{{ url_for("web.userprefs") | safe }}'">
         <span class="glyphicon glyphicon-remove"></span> Nei</div>

      <div class="btn-cancel-yes" title="Já"
         onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
         onclick="window.location.href='{{ url_for("web.friend", action=3) | safe }}'">
         <span class="glyphicon glyphicon-ok"></span> Já, vil hætta</div>

   </div>
</div>
</div>

<!-- A dialog to finalize a cancellation -->
<div id="confirm-dialog" class="modal-dialog">
<div id="confirm-form" class="ui-widget ui-widget-content ui-corner-all">
   <div id="confirm-content">
      <h3>Staðfesting</h3>
      <p>Þú ert ekki lengur skráð(ur) sem <span class="glyphicon glyphicon-coffee-cup"></span>&nbsp;<b>vinur Netskrafls</b>.</p>

      <div class="btn-thanks" title="Áfram"
         onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
         onclick="window.location.href='{{ url_for("web.userprefs") | safe }}'">
         <span class="glyphicon glyphicon-ok"></span></div>

   </div>
</div>
</div>

{% endblock %}

{% block endscripts %}

<script>

   function errFunc(xhr, status, errorThrown) {
      /* Error handling function for Ajax communications */
      // alert("Villa í netsamskiptum");
      console.log("Error: " + errorThrown);
      console.log("Status: " + status);
      console.dir(xhr);
   }

   function serverQueryHtml(requestUrl, jsonData, selector, completeFunc, errorFunc) {
      /* Wraps a simple, standard Ajax request to the server */
      $.ajax({
         // The URL for the request
         url: requestUrl,

         // The data to send
         data: jsonData,

         // Whether this is a POST or GET request
         type: "POST",

         cache: false,

         // Code to run if the request succeeds;
         // the response is passed to the function
         success: function(result) { $(selector).html(result); if (!!completeFunc) completeFunc(); },

         // Code to run if the request fails; the raw request and
         // status codes are passed to the function
         // Code to run if the request fails; the raw request and
         // status codes are passed to the function
         error: (!errorFunc) ? errFunc : errorFunc

      });
   }

   function userId() {
      return "{{ user.id() }}";
   }

   function buttonOver(elem) {
      /* Show a hover effect on a button */
      if (!$(elem).hasClass("disabled"))
         $(elem).toggleClass("over", true);
   }

   function buttonOut(elem) {
      /* Hide a hover effect on a button */
      $(elem).toggleClass("over", false);
   }

   function openPromoDialog(key, completeFunc) {
      /* Show a modal promotion dialog */
      $("#promo-dialog")
         .data("param", { key: key })
         .css("visibility", "visible");
      // Obtain the promo content from the server and put it into the #promo-content div
      serverQueryHtml("/promo", { key: key, user: userId() }, "#promo-content", completeFunc);
   }

   function closePromoDialog() {
      // Hide the dialog
      $("#promo-dialog")
         .data("param", null)
         .css("visibility", "hidden");
      $("#promo-content").html("");
      window.location.href = "{{ url_for('web.main') | safe }}";
   }

   function doRegisterSalesCloud(i,s,o,g,r,a,m) {
      i['SalesCloudObject']=r;
      i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},
      i[r].l=1*new Date();
      a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];
      a.src=g;
      m.parentNode.insertBefore(a,m)
   }

   function registerSalesCloud() {
      doRegisterSalesCloud(
         window,
         document,
         'script',
         'https://cdn.salescloud.is/js/salescloud.min.js',
         'salescloud'
      );
   }

   function init(jQuery) {
{% if action == 1 %}
      openPromoDialog("friend", registerSalesCloud);
{% elif action == 2 %}
      $("#cancel-dialog").css("visibility", "visible");
{% elif action == 3 %}
      $("#confirm-dialog").css("visibility", "visible");
{% else %}
      // !!! Temporary: show thanks
      $("#thanks-dialog").css("visibility", "visible");
{% endif %}
   }

   $(document).ready(init);

</script>

{% endblock %}

