{% extends "main.html" %}
{% block result %}

<div class="row">
   <div class="col-xs-12">
	  <div class="alert alert-success" role="alert">
	  	 <p><strong>Skraflorðahjálp</strong> Sláðu inn stafina sem þú ert með í
	     rekkanum í Skrafli. Notaðu <strong>?</strong> fyrir eyðuna sem táknað getur alla stafi.</p>
	     <p>Vefurinn sýnir þér öll <span class="label label-success">leyfileg</span> orð sem
	     unnt er að mynda úr þeim stöfum, samkvæmt
	     <a href="http://bin.arnastofnun.is/forsida/">Beygingarlýsingu íslensks nútímamáls</a>.</p>
	     <p>Einnig geturðu slegið inn <strong>=<i>mynstur</i></strong> til að sjá öll orð sem samrýmast
	     mynstrinu. Notaðu <strong>?</strong> sem algildi. <strong>=?ex?</strong>
	     skilar til dæmis öllum fjögurra stafa orðum með <strong>ex</strong> í miðjunni,
	     svo sem <strong>kexi</strong> og <strong>rexa</strong>.</p>
	     <p>Ef rekkinn sem þú slóst inn er sjálfur leyfilegt orð skv. BÍN er það sýnt með
	     haki &nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp; fyrir framan orðið.</p>
	     <p>Þau leyfilegu orð sem gæfu flest stig (án
	     tillits til tvöföldunar- eða þreföldunar-reita) eru
	     <span class="glyphicon glyphicon-star"></span> stjörnumerkt.</p>
	     <p>Möguleikar á að fá "bingó", þ.e. að leggja niður alla sjö stafina úr rekkanum,
	     eru auðkenndir með <span class="label label-danger">rauðum</span> lit.</p>
	     <p>Umraðanir (anagröm) allra stafanna sem þú slóst inn eru auðkenndar með
	     <span class="label label-warning">appelsínugulum</span> lit.</p>
	     <p>Einnig eru sýnd þau orð sem unnt er að búa til úr rekkanum að viðbættum einum staf.</p>
	     <p>Hægt er að smella á leyfileg orð, sem sýnd eru, í stað þess að slá þau inn.</p>
	     <p>Höfundur skraflorðahjálpar er <a href="http://blog.pressan.is/vthorsteinsson">Vilhjálmur
	     Þorsteinsson</a>.</p>
	     <p>Höfundarréttur að Beygingarlýsingu íslensks nútímamáls er á hendi <i>Stofnunar
	     Árna Magnússonar í íslenskum fræðum</i>. BÍN er notað í Skraflorðahjálp
	     skv. <a href="http://bin.arnastofnun.is/gogn/skilmalar/">skilmálum SÁM</a>.</p>
	  </div>
   </div>
</div>   

{% endblock %}

