
{% extends "container.html" %}

{% block opengraph %}

<meta property="og:locale" content="is_IS" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Netskrafl" />
<meta property="og:description" content="Spilaðu skrafl á netinu" />
<meta property="og:image" content="{{ url_for('static', filename='NetskraflFacebookImageSq.jpg', _external=True) | safe }}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="600" />

<!-- Google OAuth sign-in -->
<meta name="google-signin-scope" content="profile email openid">
<meta name="google-signin-client_id" content="{{ client_id | safe }}">

{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block startscripts %}
{% endblock %}

{% block logo %}
{% include 'logo.html' %}
{% endblock %}

{% block content %}

<div class="loginform-large">
   <!-- Large UI form -->
   <div class="loginhdr">
      Velkomin í Netskrafl!
   </div>
   <div class="blurb">
      Skemmtilegt | skerpandi | ókeypis
   </div>
   <div id="board-pic"><img src="{{ url_for('static', filename='Board.png') }}" width="310" height="300"></div>
   <div class="welcome">
      Netskrafl er vettvangur <b>yfir 20.000 íslenskra skraflara</b> á netinu.
   </div>
   <div class="welcome">
      Netskrafl notar Google Accounts innskráningu, þá
      sömu og er notuð m.a. í Gmail. Til að auðkenna þig sem notanda
      og halda innskráningunni virkri er óhjákvæmilegt að geyma
      þar til gerða smáköku (<i>'cookie'</i>) í vafranum þínum.
   </div>
   <div class="welcome">
      Til auðkenningar tengir Netskrafl tölvupóstfang við hvern notanda.
      Að öðru leyti eru ekki geymdar aðrar upplýsingar um notendur en þær sem þeir
      skrá sjálfir. Annáll er haldinn um umferð um vefinn.
   </div>
   <div class="welcome">
      Þú getur alltaf
      fengið <a href="{{ url_for('help') }}">hjálp</a> með því að
      smella á <a href="{{ url_for('help') }}">bláa&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span> - merkið</a>
      hér til vinstri.
   </div>
   <div style="float:right; margin-top:12px">
      <div class="g-signin2" id="g-signin2-large" data-onsuccess="onSignIn"></div>
   </div>
</div>

<div class="loginform-small">
   <!-- Small UI form -->
   <div id="logo-pic">
      <img src="{{ url_for('static', filename='LoginLogo600.png') }}" width="300" height="300">
   </div>
   <div class="blurb">
      Skemmtilegt | skerpandi | ókeypis
   </div>
   <div style="width:100%; text-align: center">
      <div class="g-signin2" id="g-signin2-small" data-onsuccess="onSignIn"
         style="display:inline-block; margin-top:6px"></div>
   </div>
</div>

{% endblock %}

{% block endscripts %}

<script>

function renderButton() {
   // Render the login buttons, i.e. for both large and small UI forms
   var paramsLarge = {
      'width': 220,
      'height': 48,
      'longtitle': true,
      'theme': 'dark',
      'onsuccess': onSignIn,
      'onfailure': onFailure
   };
   gapi.signin2.render('g-signin2-large', paramsLarge);
   $('#g-signin2-large span[id^="not_signed_"]').text("Innskrá með Google");
   $('#g-signin2-large span[id^="connected"]').text("Skrái þig inn...");
   var paramsSmall = {
      'width': 172,
      'height': 44,
      'longtitle': false,
      'theme': 'dark',
      'onsuccess': onSignIn,
      'onfailure': onFailure
   };
   gapi.signin2.render('g-signin2-small', paramsSmall);
   $('#g-signin2-small span[id^="not_signed_"]').text("Innskrá");
   $('#g-signin2-small span[id^="connected"]').text("Skrái...");
}

function getCookie(name) {
   var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
   return v ? v[2] : null;
}

function oauth2callback(idToken, csrfToken) {
   // POST to oauth2 session login endpoint
   return $.ajax(
      {
         type: 'POST',
         url: "/oauth2callback",
         data: {
            idToken: idToken,
            csrfToken: csrfToken,
         }
      }
   );
}

function onFailure(error) {
   // Called when something goes wrong in the Google sign-in process
   console.log(error);
}

function onSignIn(googleUser) {
   // Called when a user has successfully logged in using the Google sign-in process
   var idToken = googleUser.getAuthResponse().id_token;
   var profile = googleUser.getBasicProfile();
   var id = profile.getId();
   var name = profile.getName();
   var email = profile.getEmail();
   console.log('ID: ' + id);
   console.log('Name: ' + name);
   console.log('Email: ' + email);
   console.log("ID Token: " + idToken);
   // Session login endpoint is queried and the session cookie is set.
   // CSRF token should be sent along with request.
   var csrfToken = getCookie('csrfToken');
   oauth2callback(idToken, csrfToken)
      .then(
         function() {
            // Redirect to initial URL on success
            window.location.assign("{{ main_url | safe }}");
         },
         function(error) {
            // Refresh page on error.
            // In all cases, client side state should be lost due to in-memory
            // persistence.
            console.log("Error from oauth2callback(): " + error);
            window.location.assign('/login');
         }
      );
}

function initMain() {
}

$(document).ready(initMain);

</script>

<!-- This script must be at the end -->
<script src="https://apis.google.com/js/platform.js?hl=is&onload=renderButton" async defer></script>

{% endblock %}
