
{% extends "container.html" %}

{% block opengraph %}

<meta property="og:locale" content="is_IS" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Netskrafl" />
<meta property="og:description" content="Spilaðu skrafl á netinu" />
<meta property="og:image" content="{{ url_for('static', filename='NetskraflFacebookImageSq.jpg', _external=True) | safe }}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="600" />

{% endblock %}

{% block scripts %}
{% endblock %}

{% block logo %}
{% include 'logo.html' %}
{% endblock %}

{% block content %}

<div class="loginform">
   <div class="loginhdr">
      <span class="caption"></span>Velkomin í Netskrafl!
   </div>
   <div class="blurb">
      <span class="caption"></span>Skemmtilegt | skerpandi | ókeypis
   </div>
   <div class="welcome">
      <span class="caption"></span>Netskrafl er vettvangur yfir 10.000 íslenskra skraflara á netinu.
   </div>
   <div class="welcome">
      <span class="caption"></span>Netskrafl notar Google Accounts innskráningu, þá
      sömu og er notuð m.a. í Gmail.
   </div>
   <div class="welcome">
      <span class="caption"></span>Netskrafl safnar hvorki persónuupplýsingum né geymir þær.
   </div>
   <div class="welcome">
      <span class="caption"></span>Þú getur alltaf
      fengið <a href="{{ url_for('help') }}">hjálp</a> með því að
      smella á <a href="{{ url_for('help') }}">bláa&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span> - merkið</a>
      hér til vinstri.
   </div>
   <div>
      <span class="caption"></span><button type="submit" id="submit" class="login"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Skrá mig inn</button>
   </div>
</div>

{% endblock %}

{% block endscripts %}

<script>

$("#submit").click(function() {
   window.location.href = "{{ login_url | safe }}";
});

</script>

{% endblock %}
