
{% extends "container-base.html" %}

{% block opengraph %}

<meta property="og:locale" content="is_IS" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Netskrafl" />
<meta property="og:description" content="Spilaðu skrafl á netinu" />
<meta property="og:image" content="{{ url_for('web.static', filename='NetskraflFacebookImageSq.jpg', _external=True) | safe }}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="600" />

{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block startscripts %}
{% endblock %}

{% block logo %}
{% include 'logo.html' %}
{% endblock %}

{% block info %}
{% endblock %}

{% block content %}

<div class="loginform-large">
   <!-- Large UI form -->
   <div class="loginhdr">
      Velkomin í Netskrafl!
   </div>
   <div class="blurb">
      Skemmtilegt | skerpandi | ókeypis
   </div>
   <div id="board-pic"><img src="{{ url_for('web.static', filename='Board.png') }}" width="310" height="300"></div>
   <div class="welcome">
      Netskrafl er vettvangur <b>yfir 20.000 íslenskra skraflara</b> á netinu.
   </div>
   <div class="welcome">
      Netskrafl notar Google Accounts innskráningu, þá
      sömu og er notuð m.a. í Gmail. Til að auðkenna þig sem notanda
      og halda innskráningunni virkri er óhjákvæmilegt að geyma
      þar til gerða smáköku (<i>'cookie'</i>) í vafranum þínum.
   </div>
   <div class="welcome">
      Til auðkenningar tengir Netskrafl tölvupóstfang og nafn við hvern notanda.
      Að öðru leyti eru ekki geymdar aðrar upplýsingar um notendur en þær sem þeir
      skrá sjálfir. Annáll er haldinn um umferð um vefinn.
   </div>
{% if not single_page %}
   <div class="welcome">
      Þú getur alltaf
      fengið <a href="{{ url_for('web.help') }}">hjálp</a> með því að
      smella á <a href="{{ url_for('web.help') }}">bláa&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span> - merkið</a>
      hér til vinstri.
   </div>
{% endif %}
   <div class="login-btn-large">Innskrá <span class="glyphicon glyphicon-play"></span></div>
</div>

<div class="loginform-small">
   <!-- Small UI form -->
   <div id="logo-pic">
      <img src="{{ url_for('web.static', filename='LoginLogo600.png') }}" width="300" height="300">
   </div>
   <div class="blurb">
      Skemmtilegt | skerpandi | ókeypis
   </div>
   <div class="login-btn-small">Innskrá</div>
</div>

{% endblock %}

{% block endscripts %}

<script>

function initMain() {
   const loginFunc = function(ev) {
      ev.currentTarget.innerHTML = "Skrái þig inn...";
      window.location = "{{ url_for('web.login') }}";
   };
   for (el of document.querySelectorAll("div.login-btn-small, div.login-btn-large"))
      el.onclick = loginFunc;
}

window.addEventListener("DOMContentLoaded", initMain);

</script>

{% endblock %}
