
{% extends "container.html" %}

{% block scripts %}

<link href="{{ url_for('static', filename='jquery-ui.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}

<div class="tabbed-page">

   <div id="tabs">
   <ul>
      <li><a href="#tabs-1"><span class='glyphicon glyphicon-th'></span>&nbsp;&nbsp;Viðureignir<span id="numgames">0</span></a></li>
      <li><a href="#tabs-2"><span class='glyphicon glyphicon-hand-right'></span>&nbsp;&nbsp;Áskoranir<span id="numchallenges">0</span></a></li>
      <li><a href="#tabs-3"><span class='glyphicon glyphicon-user'></span>&nbsp;&nbsp;Andstæðingar</a></li>
      <li><a href="#tabs-4"><span class='glyphicon glyphicon-bookmark'></span>&nbsp;&nbsp;Ferill</a></li>
   </ul>

   <div id="tabs-1">

      <p>Viðureignir sem standa yfir - smelltu til að skoða stöðuna og leika ef
      <span class='glyphicon glyphicon-flag'></span> þú átt leik:</p>

      <div class="listitem listheader"><span
      class="list-myturn"><span title="Átt þú leik?" class='glyphicon glyphicon-flag grayed'></span></span><span
      class="list-ts">Síðasti leikur</span><span
      class="list-opp">Andstæðingur</span><span
      class="list-win"><span title="Yfir" class='glyphicon glyphicon-bookmark grayed'></span></span><span
      class="list-scorehdr">Staða</span></div>

      <!-- Game list will be populated by populateGameList() below -->
      <div id="gamelist"></div>

      <div class="hint">
      <p>Ef þig vantar einhvern til að skrafla við, veldu
      <a href="#" id="opponents">flipann "Andstæðingar"</a>
      og skoraðu á tölvuþjarka - <span class="glyphicon glyphicon-cog"></span>&nbsp;<b>Amlóða</b>,
      <span class="glyphicon glyphicon-cog"></span>&nbsp;<b>Miðlung</b> eða
      <span class="glyphicon glyphicon-cog"></span>&nbsp;<b>Fullsterkan</b> -
      eða veldu þér annan leikmann úr stafrófslistunum sem þar er að finna til að skora á.</p>
      <p>Þú stofnar áskorun með því að smella á bendi-teiknið <span class="glyphicon glyphicon-hand-right" style="margin-left:6px;margin-right:6px;"></span> vinstra megin við nafn andstæðingsins.</p>
      <p>Tölvuþjarkarnir eru
      ætíð reiðubúnir að skrafla og viðureign við þá hefst strax. Aðrir leikmenn
      þurfa að samþykkja áskorun áður en viðureign hefst.</p>
      <p><a href="{{ url_for('help') }}">Hjálp</a> má fá með því að smella á bláa
      &nbsp;<span class="glyphicon glyphicon-info-sign"></span> - teiknið hér til vinstri.</p>
      <p>Þú kemst alltaf aftur í þessa aðalsíðu með því að smella á merki Netskrafls vinstra megin í glugganum.</p>
      </div>

   </div>

   <div id="tabs-2">

      <p>Skorað á þig - smelltu til að taka áskoruninni og hefja viðureign:</p>

      <div class="listitem listheader"><span
      class="list-icon"><span title="Hafna" class='glyphicon glyphicon-thumbs-down grayed'></span></span><span
      class="list-ts">Hvenær</span><span
      class="list-nick">Áskorandi</span><span
      class="list-chall">Hvernig</span></div>

      <!-- Challenge lists will be populated by populateChallengeList() below -->
      <div id="chall-received"></div>

      <p>Þú skorar á aðra:</p>

      <div class="listitem listheader"><span
      class="list-icon"><span title="Afturkalla" class='glyphicon glyphicon-hand-right grayed'></span></span><span
      class="list-ts">Hvenær</span><span
      class="list-nick">Andstæðingur</span><span
      class="list-chall">Hvernig</span></div>

      <div id="chall-sent"></div>

   </div>

   <div id="tabs-4">
      <p>Nýlegar viðureignir þínar - smelltu til að skoða og rifja upp:</p>
      <div class="listitem listheader"><span
      class="list-win"><span
      title="Sigur" class='glyphicon glyphicon-bookmark grayed'></span></span><span
      class="list-ts">Viðureign hófst</span><span
      class="list-opp">Andstæðingur</span><span
      class="list-scorehdr">Úrslit</span><span
      class="list-duration">Lengd</span></div>

      <!-- Recent game lists will be populated by populateRecentList() below -->
      <div id="recentlist"></div>

   </div>

   <div id="tabs-3">
      <p id="initials">
         <span id="robots" class="shown"><span style='padding:0' class='glyphicon glyphicon-cog'></span> Þjarkar</span>
         <span id="fav"><span style='padding:0' class='glyphicon glyphicon-star'></span> Uppáhalds</span>
         <span id="live"><span style='padding:0' class='glyphicon glyphicon-flash'></span> Álínis</span>
         <span>a-c</span><span>d-é</span>
         <span>f-g</span><span>h-í</span>
         <span>j-k</span><span>l-n</span>
         <span>o-q</span><span>r-s</span>
         <span>t-ú</span><span>v-z</span>
         <span>þ-ö</span>
      </p>
      <div class="listitem listheader">
         <span
         class="list-ch"><span title="Skora á"
         class='glyphicon glyphicon-hand-right grayed'></span></span><span
         class="list-fav"><span title="Uppáhald"
         class='glyphicon glyphicon-star-empty'></span></span><span
         class="list-nick">Einkenni</span><span
         class="list-fullname">Nafn</span><span
         class="list-info" id="usr-list-info">Ferill</span>
      </div>

      <!-- User list will be populated by populateUserList() below -->
      <div id="userlist"></div>

      <!-- Spinner that appears while the user list is being loaded -->
      <div id="user-load"></div>

   </div>

   </div> <!-- id="tabs" -->

</div> <!-- class="tabbed-page" -->

<!-- Display user identifier in upper right corner -->

<div class="userid">
   <a href="{{ url_for('userprefs') }}">{{ user.nickname() }}</a>
</div>

<!-- A dialog to show info about a particular user -->
<div id="usr-info-dialog" class="modal-dialog">
<div id="usr-info-form" class="ui-widget ui-widget-content ui-corner-all">

   <div class="usr-info-hdr">
      <h1 class="usr-info-icon"><span class='glyphicon glyphicon-user'></span>&nbsp;</h1> <h1 id="usr-info-nick"></h1> <span class="usr-info-vbar">|</span> <h2 id="usr-info-fullname"></h2>
   </div>

   <p>Nýjustu viðureignir:</p>

   <!-- Recent games for this user -->
   <div class="listitem listheader"><span
   class="list-win"><span
   title="Sigur" class='glyphicon glyphicon-bookmark grayed'></span></span><span
   class="list-ts">Viðureign hófst</span><span
   class="list-opp">Andstæðingur</span><span
   class="list-scorehdr">Úrslit</span><span
   class="list-duration">Lengd</span></div>

   <!-- Recent game lists will be populated by populateRecentList() below -->
   <div id="usr-recent"></div>

   <!-- Close button -->
   <div class="modal-close" id="usr-info-close" title="Loka" onmouseover="buttonOver(this)"
      onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-ok"></span></div>

</div>
</div>
{%- endblock -%}
{%- block endscripts -%}
<script>

var entityMap = {
   "&": "&amp;",
   "<": "&lt;",
   ">": "&gt;",
   '"': '&quot;',
   "'": '&#39;',
   "/": '&#x2F;'
};

function escapeHtml(string) {
   /* Utility function to properly encode a string into HTML */
   return String(string).replace(/[&<>"'\/]/g, function (s) {
      return entityMap[s];
   });
}

function nullFunc(json) {
   /* Null placeholder function to use for Ajax queries that don't need a success func */
}

function errFunc(xhr, status, errorThrown) {
   /* Error handling function for Ajax communications */
   // alert("Villa í netsamskiptum");
   console.log("Error: " + errorThrown);
   console.log("Status: " + status);
   console.dir(xhr);
}

function serverQuery(requestUrl, jsonData, successFunc) {
   /* Wraps a simple, standard Ajax request to the server */
   $.ajax({
      // The URL for the request
      url: requestUrl,

      // The data to send
      data: jsonData,

      // Whether this is a POST or GET request
      type: "POST",

      // The type of data we expect back
      dataType : "json",

      cache: false,

      // Code to run if the request succeeds;
      // the response is passed to the function
      success: (!successFunc) ? nullFunc : successFunc,

      // Code to run if the request fails; the raw request and
      // status codes are passed to the function
      error: errFunc,

      // code to run regardless of success or failure
      complete: function(xhr, status) {
      }
   });
}

function buttonOver(elem) {
   /* Show a hover effect on a button */
   if (!$(elem).hasClass("disabled"))
      $(elem).toggleClass("over", true);
}

function buttonOut(elem) {
   /* Hide a hover effect on a button */
   $(elem).toggleClass("over", false);
}

function markFavorite(elem, uid) {
   /* Toggle a favorite mark for the indicated user */
   var action;
   if ($(elem).hasClass("glyphicon-star-empty")) {
      $(elem).removeClass("glyphicon-star-empty");
      $(elem).addClass("glyphicon-star");
      action = "add";
   }
   else {
      $(elem).removeClass("glyphicon-star");
      $(elem).addClass("glyphicon-star-empty");
      action = "delete";
   }
   serverQuery("/favorite",
      {
         // Identify the relation in question
         destuser: uid,
         action: action
      }, null); // No success func needed - it's a one-way notification
}

function updateChallenges(json) {
   /* Coming back from an update of challeges:
      refresh the challenge list */
   refreshChallengeList();
}

function markChallenge(elem, uid) {
   /* Change the state of a challenge for the indicated user */
   var action;
   if ($(elem).hasClass("glyphicon-thumbs-down")) {
      /* A challenge from another user is being declined */
      action = "decline";
   }
   else
   if ($(elem).hasClass("grayed")) {
      $(elem).removeClass("grayed");
      /* A challenge is being issued to another user */
      action = "issue";
   }
   else {
      /* A challenge to another user is being retracted */
      $(elem).addClass("grayed");
      action = "retract";
   }
   if (action == "issue" && uid.indexOf("robot-") === 0) {
      /* Challenging a robot: Create a new game and display it right away */
      window.location.href = "{{ url_for('newgame') | safe }}" + "?opp=" + uid;
      return;
   }
   serverQuery("/challenge",
      {
         // Identify the relation in question
         destuser: uid,
         action: action
      }, updateChallenges);
}

function showUserInfo(ev) {
   /* Show the user information dialog */
   $("#usr-info-nick").text(ev.data.nick);
   $("#usr-info-fullname").text(ev.data.fullname);
   $("#usr-info-dialog").css("visibility", "visible");
   // Populate the #usr-recent DIV
   serverQuery("/recentlist",
      {
         user: ev.data.userid,
         count: 20 // Limit recent game count to 20
      },
      populateUserInfo);
}

function hideUserInfo(ev) {
   /* Hide the user information dialog */
   $("#usr-info-dialog").css("visibility", "hidden");
   $("#usr-recent").html("");
}

// Is a user list request already in progress?
var ulRq = false;

function populateUserList(json) {
   /* Display a user list that has been returned from the server */
   // Hide the user load spinner
   $("#user-load").css("display", "none");
   ulRq = false; // Allow another user list request to proceed
   if (!json || json.result === undefined)
      return;
   if (json.result !== 0)
      /* Probably out of sync or login required */
      /* !!! TBD: Add error reporting here */
      return;
   for (var i = 0; i < json.userlist.length; i++) {
      var item = json.userlist[i];
      // Robot userids start with 'robot-'
      var isRobot = item.userid.indexOf("robot-") === 0;
      var fav;
      if (isRobot)
         // Can't favorite a robot
         fav = "<span class='glyphicon glyphicon-star-empty'></span>";
      else
         fav = "<span title='Uppáhald' class='glyphicon glyphicon-star" +
         ((!item.fav) ? "-empty" : "") +
         "' onclick='markFavorite(this, \"" + item.userid + "\")'></span>";
      var ch = "<span title='Skora á' class='glyphicon glyphicon-hand-right" +
         (item.chall ? "'" : " grayed'") +
         " onclick='markChallenge(this, \"" + item.userid + "\")'></span>";
      var nick = escapeHtml(item.nick);
      var alink = "", aclose = "", info = "";
      if (isRobot) {
         // Mark robots with a cog icon
         nick = "<span class='glyphicon glyphicon-cog'></span>&nbsp;" + nick;
         // Put a hyperlink on the robot name and description
         alink = "<a href='{{ url_for('newgame') }}?opp=" + item.userid + "'>";
         aclose = "</a>"
      }
      else {
         // Create a link to access user info
         info = "<span id='usr" + i.toString() + "' class='usr-info'></span>";
      }
      var str = "<div class='listitem " + ((i % 2 === 0) ? "oddlist" : "evenlist") + "'>" +
         "<span class='list-ch'>" + ch + "</span>" +
         "<span class='list-fav'>" + fav + "</span>" +
         alink +
         "<span class='list-nick'>" + nick + "</span>" +
         "<span class='list-fullname'>" + escapeHtml(item.fullname) + "</span>" +
         aclose +
         "<span class='list-info'>" + info + "</span>" +
         "</div>";
      $("#userlist").append(str);
      // Associate a click handler with the info button, if present
      if (info.length)
         $("#usr" + i.toString()).click(
            { userid: item.userid, nick: item.nick, fullname: item.fullname },
            showUserInfo
         );
   }
}

// What range of users was last displayed, in case we need to refresh?
var displayedUserRange = null;

function redisplayUserList() {
   /* Redisplay the user list that is being shown */
   if (displayedUserRange !== null)
      refreshUserList({ data: displayedUserRange });
}

function periodicUserList() {
   /* This function gets called at regular intervals to
      refresh the list of live (connected) users, if
      that list is selected */
   if (displayedUserRange && (displayedUserRange == "live")) {
      refreshUserList({ data: "live" });
   }
}

function refreshUserList(ev) {
   /* Erase existing user list and issue a request to the server for a new one */
   if (ulRq)
      // A user list request is already in progress: avoid race condition
      return;
   ulRq = true; // Set to false again in populateUserList()
   /* Erase existing user list, if any */
   $("#userlist").html("");
   /* Indicate which subtab is being shown */
   if (ev.delegateTarget) {
      $("#initials span").removeClass("shown");
      $(ev.delegateTarget).addClass("shown");
   }
   /* Show the user load spinner */
   $("#user-load").css("display", "block");
   /* Establish the alphabet range that we want to display */
   var range = ev.data + "";
   var from_range = null;
   var to_range = null;
   /* Note the last displayed range in case we need to redisplay */
   displayedUserRange = range + "";
   if (range == "fav" || range == "robots" || range == "live") {
      /* Special requests: list of favorites, live users or robots */
      from_range = range;
   }
   else {
      from_range = range ? range.charAt(0) : null;
      to_range = from_range;
      if (range && (range.length == 3))
         /* Range has x-y format */
         to_range = range.charAt(2);
   }
   // Hide the user info button header if listing the robots
   $("#usr-list-info").css("visibility", (range == "robots") ? "hidden" : "visible");
   serverQuery("/userlist",
      {
         // Identify the game in question
         from: from_range,
         to: to_range
      },
      populateUserList);
}

function populateGameList(json) {
   if (!json || json.result === undefined)
      return;
   if (json.result !== 0)
      /* Probably out of sync or login required */
      /* !!! TBD: Add error reporting here */
      return;
   var numGames = json.gamelist.length;
   var numMyTurns = 0;
   for (var i = 0; i < numGames; i++) {
      var item = json.gamelist[i];
      var opp = escapeHtml(item.opp);
      if (item.opp_is_robot)
         // Mark robots with a cog icon
         opp = "<span class='glyphicon glyphicon-cog'></span>&nbsp;" + opp;
      var turnText = item.my_turn ? "Þú átt leik" : (opp + " á leik");
      var myTurn = "<span title='" + turnText + "' class='glyphicon glyphicon-flag" +
         (item.my_turn ? "" : " grayed") + "'></span>";
      var myWin = "<span class='glyphicon glyphicon-bookmark" +
         (item.sc0 >= item.sc1 ? "" : " grayed") + "'></span>";
      var str = "<div class='listitem " + ((i % 2 === 0) ? "oddlist" : "evenlist") + "'>" +
         "<a href='" + item.url + "'>" +
         "<span class='list-myturn'>" + myTurn + "</span>" +
         "<span class='list-ts'>" + item.ts + "</span>" +
         "<span class='list-opp'>" + opp + "</span>" +
         "<span class='list-win'>" + myWin + "</span>" +
         "<span class='list-s0'>" + item.sc0 + "</span>:" +
         "<span class='list-s1'>" + item.sc1 + "</span>" +
         "</a></div>";
      $("#gamelist").append(str);
      if (item.my_turn)
         numMyTurns++;
   }
   // Update the count of games where it's this user's turn
   if (numMyTurns === 0) {
      $("#numgames").css("display", "none");
      document.title = "Netskrafl";
   }
   else {
      $("#numgames").css("display", "inline-block").text(numMyTurns.toString());
      document.title = "(" + numMyTurns.toString() + ") Netskrafl";
   }
   if (numGames === 0) {
      // No games in the list: Display a hint to select an opponent
      $("div.hint").css("display", "block");
   }
   else {
      // Hide the hint
      $("div.hint").css("display", "none");
   }
}

function refreshGameList() {
   /* Update list of active games for the current user */
   $("#gamelist").html("");
   serverQuery("/gamelist",
      {
         // No data to send with query - current user is implicit
      },
      populateGameList);
}

function populateRecentList(json) {
   /* Populate a list of recent games for the current user */
   _populateRecentList(json, "#recentlist");
}

function populateUserInfo(json) {
   /* Populate a game list for a user info dialog */
   _populateRecentList(json, "#usr-recent");
}

function _populateRecentList(json, listId) {
   /* Worker function to populate a list of recent games */
   if (!json || json.result === undefined)
      return;
   if (json.result !== 0)
      /* Probably out of sync or login required */
      /* !!! TBD: Add error reporting here */
      return;
   for (var i = 0; i < json.recentlist.length; i++) {
      var item = json.recentlist[i];
      var opp = escapeHtml(item.opp);
      if (item.opp_is_robot)
         // Mark robots with a cog icon
         opp = "<span class='glyphicon glyphicon-cog'></span>&nbsp;" + opp;
      // Show won games with a ribbon
      var myWin = "<span class='glyphicon glyphicon-bookmark" +
         (item.sc0 >= item.sc1 ? "" : " grayed") + "'></span>";
      // Format the game duration
      var duration = "";
      if (item.days || item.hours || item.minutes) {
         if (item.days > 1)
            duration = item.days.toString() + " dagar";
         else
         if (item.days == 1)
            duration = "1 dagur";
         if (item.hours > 0) {
            if (duration.length)
               duration += " og ";
            duration += item.hours.toString() + " klst"
         }
         if (item.days === 0) {
            if (duration.length)
               duration += " og ";
            if (item.minutes == 1)
               duration += "1 mínúta";
            else
               duration += item.minutes.toString() + " mínútur";
         }
      }
      var str = "<div class='listitem " + ((i % 2 === 0) ? "oddlist" : "evenlist") + "'>" +
         "<a href='" + item.url + "'>" +
         "<span class='list-win'>" + myWin + "</span>" +
         "<span class='list-ts'>" + item.ts + "</span>" +
         "<span class='list-opp'>" + opp + "</span>" +
         "<span class='list-s0'>" + item.sc0 + "</span>:" +
         "<span class='list-s1'>" + item.sc1 + "</span>" +
         "<span class='list-duration'>" + duration + "</span>" +
         "</a></div>";
      $(listId).append(str);
   }
}

function refreshRecentList() {
   /* Update list of recent games for the current user */
   $("#recentlist").html("");
   serverQuery("/recentlist",
      {
         // Current user is implicit
         count: 20
      },
      populateRecentList);
}

function acceptChallenge(userid) {
   /* Accept a previously issued challenge from the user in question */
   window.location.href = "{{ url_for('newgame') | safe }}" + "?opp=" + userid;
}

function markChallAndRefresh(elem, userid) {
   /* Mark a challenge and refresh the user list */
   markChallenge(elem, userid);
   redisplayUserList();
}

function populateChallengeList(json) {
   if (!json || json.result === undefined)
      return;
   if (json.result !== 0)
      /* Probably out of sync or login required */
      /* !!! TBD: Add error reporting here */
      return;
   var countReceived = 0, countSent = 0;
   for (var i = 0; i < json.challengelist.length; i++) {
      var item = json.challengelist[i];
      var opp = escapeHtml(item.opp);
      var prefs = escapeHtml(item.prefs);
      var odd = ((item.received ? countReceived : countSent) % 2 === 0);
      /* Show Decline icon (thumb down) if received challenge;
         show Delete icon (cross) if issued challenge */
      var icon;
      if (item.received)
         icon = "<span title='Hafna' " +
            "class='glyphicon glyphicon-thumbs-down'";
      else
         icon = "<span title='Afturkalla' " +
            "class='glyphicon glyphicon-hand-right'";
      icon += " onclick='markChallAndRefresh(this, \"" + item.userid + "\")'></span>";
      var str = "<div class='listitem " + (odd ? "oddlist" : "evenlist") + "'>" +
         "<span class='list-icon'>" + icon + "</span>" +
         (item.received ? ("<a href='#' onclick='acceptChallenge(\"" + item.userid + "\")'>") : "") +
         "<span class='list-ts'>" + item.ts + "</span>" +
         "<span class='list-nick'>" + opp + "</span>" +
         "<span class='list-chall'>" + prefs + "</span>" +
         (item.received ? "</a>" : "") + "</div>";
      if (item.received) {
         $("#chall-received").append(str);
         countReceived++;
      }
      else {
         $("#chall-sent").append(str);
         countSent++;
      }
   }
   // Update the count of received challenges
   if (countReceived === 0) {
      $("#numchallenges").css("display", "none");
   }
   else {
      $("#numchallenges").css("display", "inline-block").text(countReceived.toString());
   }
}

function refreshChallengeList() {
   /* Clear list of challenges received by this user */
   $("#chall-received").html("");
   /* Clear list of challenges sent by this user */
   $("#chall-sent").html("");
   serverQuery("/challengelist",
      {
         // No data to send with query - current user is implicit
      },
      populateChallengeList);
}

$("#tabs").tabs();

$("#opponents").click(function() {
   // Select and show the opponents tab
   $("#tabs").tabs("option", "active", 2);
});

/* Initialize game list */
refreshGameList();

/* Initialize list of recent games */
refreshRecentList();

/* Initialize challenge list */
refreshChallengeList();

/* Initialize user list to show robots by default */
refreshUserList({ data: "robots" });

/* Initialize alphabet categories in user list header */
$("#initials").children("span").each(function() {
   var data = $(this).attr('id');
   if (data === undefined)
      // Not a special category, i.e. favorites or robots
      data = $(this).text();
   $(this).click(data, refreshUserList);
});

/* Refresh the live user list periodically while it is being displayed */
window.setInterval(periodicUserList, 5 * 60 * 1000); // Every five minutes

/* Enable the close button in the user info dialog */
$("#usr-info-close").click(hideUserInfo);

{% if tab %}
/* Select default tab when opening page */
$("#tabs").tabs("option", "active", {{ tab }});
{% endif %}

</script>
<!-- Google App Engine Channel API -->
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script>

var channelToken = "{{ channel_token }}";
var channel = null;
var socket = null;

function openChannel() {
   /* Open a new channel using the token stored in channelToken */
   channel = new goog.appengine.Channel(channelToken);
   socket = channel.open({
      onopen : channelOnOpen,
      onmessage : channelOnMessage,
      onerror : channelOnError,
      onclose : channelOnClose
   });
}

function channelOnOpen() {
}

function channelOnMessage(msg) {
   /* The server has sent a notification message back on our channel */
   var json = jQuery.parseJSON(msg.data);
   if (json.stale || json.kind == "challenge") {
      // A challenge to this user has been issued or retracted
      refreshChallengeList();
      redisplayUserList();
   }
   if (json.stale || json.kind == "game")
      // A move has been made in a game for this user
      refreshGameList();
}

function channelOnError(err) {
   /* Act on err.code and err.description here */
   // alert("Channel error: " + err.code + "," + err.description);
}

function newChannel(json) {
   /* Ajax callback, called when the server has issued a new channel token */
   if (json && json.result === 0) {
      // No error: get the new token and reopen the channel
      channelToken = json.token;
      openChannel();
   }
}

function channelOnClose() {
   /* Channel expired: Ask for a new channel from the server */
   serverQuery("newchannel", { user: "{{ user.id() }}", oldch: channelToken }, newChannel);
   channelToken = null;
   channel = null;
   socket = null;
}

openChannel();

</script>
{%- endblock -%}
