
{% extends "container.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='jquery-ui.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block scripts %}

<!-- Google App Engine Channel API -->
<script type="text/javascript" src="/_ah/channel/jsapi"></script>

<!-- Main page script -->
<script src="{{ url_for('static', filename='main.js') }}"></script>

<script>

function userId() {
   /* The logged-in user who requested this page */
   return "{{ user.id() }}";
}

function newgameUrl(opp, reversed) {
   /* The URL for a new game against the given opponent */
   return "{{ url_for('newgame') | safe }}?opp=" + opp +
      (reversed ? "&rev=1" : "");
}

function waitUrl(opp) {
   /* The URL for a wait page for a new game */
   return "{{ url_for('wait') | safe }}?opp=" + opp;
}

function lateInit() {
   /* Initialization that needs server-side info. Called from initMain() */

{% if tab %}
   /* Select default tab when opening page */
   $("#tabs").tabs("option", "active", {{ tab }});
{% endif %}

   openChannel("{{ channel_token }}");
}

</script>

{% endblock %}

{% block logo %}
{% include 'logo.html' %}
{% endblock %}

{% block content %}

<div class="tabbed-page">

   <div id="tabs">
   <ul>
      <li><a href="#tabs-1"><span class='glyphicon glyphicon-th'></span>&nbsp;&nbsp;Viðureignir<span id="numgames">0</span></a></li>
      <li><a href="#tabs-2"><span class='glyphicon glyphicon-hand-right'></span>&nbsp;&nbsp;Áskoranir<span id="numchallenges" class="opp-ready">0</span></a></li>
      <li><a href="#tabs-3"><span class='glyphicon glyphicon-user'></span>&nbsp;&nbsp;Andstæðingar</a></li>
      <li><a href="#tabs-4"><span class='glyphicon glyphicon-bookmark'></span>&nbsp;&nbsp;Ferill</a></li>
   </ul>

   <div id="tabs-1">

      <p>Viðureignir sem standa yfir - smelltu til að skoða stöðuna og leika ef
      <span class='glyphicon glyphicon-flag'></span> þú átt leik:</p>

      <div class="listitem listheader"><span
      class="list-myturn"><span title="Átt þú leik?" class='glyphicon glyphicon-flag grayed'></span></span><span
      class="list-ts">Síðasti leikur</span><span
      class="list-opp">Andstæðingur</span><span
      class="list-win"><span title="Yfir" class='glyphicon glyphicon-bookmark grayed'></span></span><span
      class="list-scorehdr">Staða</span></div>

      <!-- Game list will be populated by populateGameList() below -->
      <div id="gamelist"></div>

      <div class="hint">
      <p>Ef þig vantar einhvern til að skrafla við, veldu
      <a href="#" id="opponents">flipann "Andstæðingar"</a>
      og skoraðu á tölvuþjarka - <span class="glyphicon glyphicon-cog"></span>&nbsp;<b>Amlóða</b>,
      <span class="glyphicon glyphicon-cog"></span>&nbsp;<b>Miðlung</b> eða
      <span class="glyphicon glyphicon-cog"></span>&nbsp;<b>Fullsterkan</b> -
      eða veldu þér annan leikmann úr stafrófslistunum sem þar er að finna til að skora á.</p>
      <p>Þú stofnar áskorun með því að smella á bendi-teiknið <span class="glyphicon glyphicon-hand-right" style="margin-left:6px;margin-right:6px;"></span> vinstra megin við nafn andstæðingsins.</p>
      <p>Tölvuþjarkarnir eru
      ætíð reiðubúnir að skrafla og viðureign við þá hefst strax. Aðrir leikmenn
      þurfa að samþykkja áskorun áður en viðureign hefst.</p>
      <p><a href="{{ url_for('help') }}">Hjálp</a> má fá með því að smella á bláa
      &nbsp;<span class="glyphicon glyphicon-info-sign"></span> - teiknið hér til vinstri.</p>
      <p>Þú kemst alltaf aftur í þessa aðalsíðu með því að smella á merki Netskrafls vinstra megin í glugganum.</p>
      </div>

   </div>

   <div id="tabs-2">

      <p>Skorað á þig - smelltu til að taka áskoruninni og hefja viðureign:</p>

      <div class="listitem listheader"><span
      class="list-icon"><span title="Hafna" class='glyphicon glyphicon-thumbs-down grayed'></span></span><span
      class="list-ts">Hvenær</span><span
      class="list-nick">Áskorandi</span><span
      class="list-chall">Hvernig</span></div>

      <!-- Challenge lists will be populated by populateChallengeList() below -->
      <div id="chall-received"></div>

      <p>Þú skorar á aðra:</p>

      <div class="listitem listheader"><span
      class="list-icon"><span title="Afturkalla" class='glyphicon glyphicon-hand-right grayed'></span></span><span
      class="list-ts">Hvenær</span><span
      class="list-nick">Andstæðingur</span><span
      class="list-chall">Hvernig</span></div>

      <div id="chall-sent"></div>

   </div>

   <div id="tabs-4">
      <p>Nýlegar viðureignir þínar - smelltu til að skoða og rifja upp:</p>
      <div class="listitem listheader"><span
      class="list-win"><span
      title="Sigur" class='glyphicon glyphicon-bookmark grayed'></span></span><span
      class="list-ts">Viðureign hófst</span><span
      class="list-opp">Andstæðingur</span><span
      class="list-scorehdr">Úrslit</span><span
      class="list-duration">Lengd</span></div>

      <!-- Recent game lists will be populated by populateRecentList() below -->
      <div id="recentlist"></div>

   </div>

   <div id="tabs-3">
      <p id="initials">
         <span id="robots" class="shown"><span style='padding:0' class='glyphicon glyphicon-cog'></span> Þjarkar</span>
         <span id="fav"><span style='padding:0' class='glyphicon glyphicon-star'></span> Uppáhalds</span>
         <span id="live"><span style='padding:0' class='glyphicon glyphicon-flash'></span> Álínis</span>
         <span>a-c</span><span>d-é</span>
         <span>f-g</span><span>h-í</span>
         <span>j-k</span><span>l-n</span>
         <span>o-q</span><span>r-s</span>
         <span>t-ú</span><span>v-z</span>
         <span>þ-ö</span>
      </p>
      <div class="listitem listheader">
         <span
         class="list-ch"><span title="Skora á"
         class='glyphicon glyphicon-hand-right grayed'></span></span><span
         class="list-fav"><span title="Uppáhald"
         class='glyphicon glyphicon-star-empty'></span></span><span
         class="list-nick">Einkenni</span><span
         class="list-fullname">Nafn</span><span
         class="list-info" id="usr-list-info">Ferill</span>
      </div>

      <!-- User list will be populated by populateUserList() below -->
      <div id="userlist"></div>

      <!-- Spinner that appears while the user list is being loaded -->
      <div id="user-load"></div>

   </div>

   </div> <!-- id="tabs" -->

</div> <!-- class="tabbed-page" -->

<!-- Display user identifier in upper right corner -->

<div class="userid">
   <a href="{{ url_for('userprefs') }}">{{ user.nickname() }}</a>
</div>

<!-- A dialog to show info about a particular user -->
<div id="usr-info-dialog" class="modal-dialog">
<div id="usr-info-form" class="ui-widget ui-widget-content ui-corner-all">

   <div class="usr-info-hdr">
      <h1 class="usr-info-icon"><span class='glyphicon glyphicon-user'></span>&nbsp;</h1> <h1 id="usr-info-nick"></h1> <span class="vbar">|</span> <h2 id="usr-info-fullname"></h2>
   </div>

   <p>Nýjustu viðureignir:</p>

   <!-- Recent games for this user -->
   <div class="listitem listheader"><span
   class="list-win"><span
   title="Sigur" class='glyphicon glyphicon-bookmark grayed'></span></span><span
   class="list-ts">Viðureign hófst</span><span
   class="list-opp">Andstæðingur</span><span
   class="list-scorehdr">Úrslit</span><span
   class="list-duration">Lengd</span></div>

   <!-- Recent game lists will be populated by populateRecentList() below -->
   <div id="usr-recent"></div>

   <!-- Close button -->
   <div class="modal-close" id="usr-info-close" title="Loka" onmouseover="buttonOver(this)"
      onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-ok"></span></div>

</div>
</div>

<!-- A dialog for a new challenge that is being issued -->
<div id="chall-dialog" class="modal-dialog">
<div id="chall-form" class="ui-widget ui-widget-content ui-corner-all">

   <div class="chall-hdr">
      <table><tr>
      <td>
      <h1 class="chall-icon"><span class='glyphicon glyphicon-hand-right'></span></h1>
      </td>
      <td class="l-border"><span id="chall-online" title="Álínis?"></span><h1 id="chall-nick"></h1><h2 id="chall-fullname"></h2>
      </td>
      </tr></table>
   </div>

   <div style="text-align: center">

      <p><strong>Áskorun</strong> - veldu lengd viðureignar:</p>

      <div class="chall-time selected" id="chall-none">Viðureign án klukku</div>
      <div class="chall-time" id="chall-20">2 x 20 mínútur</div>
      <div class="chall-time" id="chall-25">2 x 25 mínútur</div>
      <div class="chall-time" id="chall-30">2 x 30 mínútur</div>
      <div class="chall-time" id="chall-45">2 x 45 mínútur</div>

   </div>

   <!-- Cancel button -->
   <div class="modal-close" id="chall-cancel" title="Hætta við"
      onmouseover="buttonOver(this)"
      onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-remove"></span></div>

   <!-- OK button -->
   <div class="modal-close" id="chall-ok" title="Skora á"
      onmouseover="buttonOver(this)"
      onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-ok"></span></div>

</div>
</div>

{%- endblock -%}

{%- block endscripts -%}

<script>

$(document).ready(initMain);

</script>

{%- endblock -%}
