
{% extends "container.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='jquery-ui.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block scripts %}
{% endblock %}

{% block logo %}
{% include 'logo.html' %}
{% endblock %}

{% block content %}

<div class="tabbed-page">

   <div id="tabs">
   <ul>
      <li><a href="#tabs-1"><span class='glyphicon glyphicon-th'></span>&nbsp;&nbsp;Viðureignir<span id="numgames">0</span></a></li>
      <li><a href="#tabs-2"><span class='glyphicon glyphicon-hand-right'></span>&nbsp;&nbsp;Áskoranir<span id="numchallenges" class="opp-ready">0</span></a></li>
      <li><a href="#tabs-3"><span class='glyphicon glyphicon-user'></span>&nbsp;&nbsp;Andstæðingar</a></li>
      <li><a href="#tabs-4"><span class='glyphicon glyphicon-bookmark'></span>&nbsp;&nbsp;Ferill</a></li>
   </ul>

   <div id="tabs-1">

      <p><strong>Viðureignir sem standa yfir</strong> - smelltu á viðureign til að
      skoða stöðuna og leika ef
      <span class='glyphicon glyphicon-flag'></span> þú átt leik</p>

      <div class="listitem listheader">
         <span class="list-myturn">
            <span title="Átt þú leik?" class='glyphicon glyphicon-flag grayed'></span>
         </span><!--
      --><span class="list-overdue"><span title="Langt frá síðasta leik?" class='glyphicon glyphicon-hourglass grayed'></span></span><!--
      --><span class="list-ts">Síðasti leikur</span><!--
      --><span class="list-opp">Andstæðingur</span><!--
      --><span class="list-info-hdr">Ferill</span><!--
      --><span class="list-scorehdr">Staða</span><!--
      --><span class="list-tc">Framvinda</span><!--
      --><span class="list-newbag"><!--
         --><span title="Nýi pokinn" class='glyphicon glyphicon-shopping-bag grayed'></span><!--
      --></span>
      </div>

      <!-- Game list will be populated by populateGameList() -->
      <div id="gamelist"></div>

      <div class="hint">
      <p>Ef þig vantar einhvern til að skrafla við, veldu
      <a href="#" id="opponents">flipann "Andstæðingar"</a>
      og skoraðu á tölvuþjarka - <span class="glyphicon glyphicon-cog"></span>&nbsp;<b>Amlóða</b>,
      <span class="glyphicon glyphicon-cog"></span>&nbsp;<b>Miðlung</b> eða
      <span class="glyphicon glyphicon-cog"></span>&nbsp;<b>Fullsterkan</b> -
      eða veldu þér annan leikmann úr stafrófslistunum sem þar er að finna til að skora á.</p>
      <p>Þú stofnar áskorun með því að smella á bendi-teiknið
      <span class="glyphicon glyphicon-hand-right" style="margin-left:6px;margin-right:6px;"></span>
      vinstra megin við nafn andstæðingsins.</p>
      <p>Tölvuþjarkarnir eru
      ætíð reiðubúnir að skrafla og viðureign við þá hefst strax. Aðrir leikmenn
      þurfa að samþykkja áskorun áður en viðureign hefst.</p>
      <p><a href="{{ url_for('help') }}">Hjálp</a> má fá með því að smella á bláa
      &nbsp;<span class="glyphicon glyphicon-info-sign"></span> - teiknið hér til vinstri.</p>
      <p>Þú kemst alltaf aftur í þessa aðalsíðu með því að smella örvarmerkið efst
      vinstra megin í glugganum.</p>
      </div>

   </div>

   <div id="tabs-2">

      <p><strong>Skorað á þig</strong> - smelltu á áskorun til að taka henni og hefja viðureign,
      eða á <span class="glyphicon glyphicon-thumbs-down" style="margin-left:6px;margin-right:6px;"></span>
      til að hafna henni</p>

      <div class="listitem listheader"><!--
      --><span class="list-icon"><!--
         --><span title="Hafna" class='glyphicon glyphicon-thumbs-down grayed'></span><!--
      --></span><!--
      --><span class="list-ts">Hvenær</span><!--
      --><span class="list-nick">Áskorandi</span><!--
      --><span class="list-chall">Hvernig</span><!--
      --><span class="list-info-hdr">Ferill</span><!--
      --><span class="list-newbag"><!--
         --><span title="Nýi pokinn" class='glyphicon glyphicon-shopping-bag grayed'></span><!--
      --></span>
      </div>

      <!-- Challenge lists will be populated by populateChallengeList() below -->
      <div id="chall-received"></div>

      <p><strong>Þú skorar á aðra</strong> - smelltu á
      <span class="glyphicon glyphicon-hand-right" style="margin-left:6px;margin-right:6px;"></span>
      til að afturkalla áskorun</p>

      <div class="listitem listheader"><!--
      --><span class="list-icon"><!--
         --><span title="Afturkalla" class='glyphicon glyphicon-hand-right grayed'></span><!--
      --></span><!--
      --><span class="list-ts">Hvenær</span><!--
      --><span class="list-nick">Andstæðingur</span><!--
      --><span class="list-chall">Hvernig</span><!--
      --><span class="list-info-hdr">Ferill</span><!--
      --><span class="list-newbag"><!--
         --><span title="Nýi pokinn" class='glyphicon glyphicon-shopping-bag grayed'></span><!--
      --></span>
      </div>

      <div id="chall-sent"></div>

   </div>

   <div id="tabs-4">

      <!-- Statistics -->
      <div id="own-stats">
         <div id="own-toggler" class="toggler" title="Með þjörkum eða án">
            <div class="option small" id="opt1"><span class="glyphicon glyphicon-user"></span></div><!--
         --><div class="option small" id="opt2"><span class="glyphicon glyphicon-cog"></span></div>
         </div><!--
      --><div id="own-stats-human"><!--
         --><div class="stats-fig" id="own-stats-human-elo" title="Elo-stig"></div><!--
         --><div class="stats-fig stats-games" id="own-stats-human-games" title="Fjöldi viðureigna"></div><!--
         --><div class="stats-fig stats-win-ratio" id="own-stats-human-win-ratio" title="Vinningshlutfall"></div><!--
         --><div class="stats-fig stats-avg-score" id="own-stats-human-avg-score" title="Meðalstigafjöldi"></div><!--
      --></div><!--
      --><div id="own-stats-all"><!--
         --><div class="stats-fig" id="own-stats-elo" title="Elo-stig"></div><!--
         --><div class="stats-fig stats-games" id="own-stats-games" title="Fjöldi viðureigna"></div><!--
         --><div class="stats-fig stats-win-ratio" id="own-stats-win-ratio" title="Vinningshlutfall"></div><!--
         --><div class="stats-fig stats-avg-score" id="own-stats-avg-score" title="Meðalstigafjöldi"></div><!--
      --></div>
      </div>

      <!-- Highest word and game scores -->
      <p id="own-best"></p>

      <p><strong>Nýlegar viðureignir þínar</strong> - smelltu á viðureign til að skoða hana
      og rifja upp</p>

      <div class="listitem listheader"><span
      class="list-win"><span
      title="Sigur" class='glyphicon glyphicon-bookmark grayed'></span></span><span
      class="list-ts">Viðureign lauk</span><span
      class="list-nick">Andstæðingur</span><span
      class="list-scorehdr">Úrslit</span><span
      class="list-elo-hdr"><span
      title="Mennskir andstæðingar" class='glyphicon glyphicon-user elo-hdr-left'></span>Elo<span
      title="Allir andstæðingar" class='glyphicon glyphicon-cog elo-hdr-right'></span></span><span
      class="list-duration">Lengd</span></div>

      <!-- Recent game lists will be populated by populateRecentList() below -->
      <div id="recentlist"></div>

   </div>

   <div id="tabs-3">
      <div id="initials">
         <div class="user-cat" id="user-headings">
         <span id="robots" class="shown"><span style='padding:0' class='glyphicon glyphicon-cog'></span> Þjarkar</span>
         <span id="fav"><span style='padding:0' class='glyphicon glyphicon-star'></span> Uppáhalds</span>
         <span id="live"><span style='padding:0' class='glyphicon glyphicon-flash'></span> Álínis</span>
         <span id="alike"><span style='padding:0' class='glyphicon glyphicon-resize-small'></span> Svipaðir</span>
         <span id="elo"><span style='padding:0' class='glyphicon glyphicon-crown'></span> Topp 100</span>
         </div>
         <div class="user-cat" id="user-search">
         <span class="glyphicon glyphicon-search" id="search"></span>
         <input type="text" name="search-id" id="search-id" maxlength="16"
            class="text userid" value="" placeholder="Einkenni eða nafn"></input>
         </div>
      </div>

      <div id="usr-hdr" class="listitem listheader">
         <span class="list-ch"><!--
         --><span title="Skora á" class='glyphicon glyphicon-hand-right grayed'></span><!--
      --></span><!--
      --><span class="list-fav"><!--
         --><span title="Uppáhald" class='glyphicon glyphicon-star-empty'></span><!--
      --></span><!--
      --><span class="list-nick">Einkenni</span><!--
      --><span class="list-fullname">Nafn og merki</span><!--
      --><span class="list-human-elo" id="usr-list-elo">Elo</span><!--
      --><span class="list-info-hdr" id="usr-list-info">Ferill</span><!--
      --><span class="list-newbag"><!--
         --><span title="Nýi pokinn" class='glyphicon glyphicon-shopping-bag grayed'></span><!--
      --></span><!--
   --></div>

      <div id="elo-hdr" class="listitem listheader">
         <span class="list-ch"><!--
         --><span title="Skora á" class='glyphicon glyphicon-hand-right grayed'></span><!--
      --></span><!--
      --><span class="list-rank">Röð</span><!--
      --><span class="list-rank" title="Röð í gær">1d</span><!--
      --><span class="list-rank" title="Röð fyrir viku">7d</span><!--
      --><span class="list-nick">Einkenni</span><!--
      --><span class="list-elo" title="Elo-stig">Elo</span><!--
      --><span class="list-elo" title="Elo-stig í gær">1d</span><!--
      --><span class="list-elo" title="Elo-stig fyrir viku">7d</span><!--
      --><span class="list-elo" title="Elo-stig fyrir mánuði">30d</span><!--
      --><span class="list-games" title="Fjöldi viðureigna"><span class='glyphicon glyphicon-th'></span></span><!--
      --><span class="list-ratio" title="Vinningshlutfall"><span class='glyphicon glyphicon-bookmark'></span></span><!--
      --><span class="list-avgpts" title="Meðalstigafjöldi"><span class='glyphicon glyphicon-dashboard'></span></span><!--
      --><span class="list-info-hdr">Ferill</span><!--
      --><span class="list-newbag"><!--
         --><span title="Nýi pokinn" class='glyphicon glyphicon-shopping-bag grayed'></span><!--
      --></span><!--
         Toggle for type of Elo list - all or human-only
      --><div id="elo-toggler" class="toggler" title="Með þjörkum eða án">
            <div class="option x-small" id="opt1"><span class="glyphicon glyphicon-user"></span></div><!--
         --><div class="option x-small" id="opt2"><span class="glyphicon glyphicon-cog"></span></div>
         </div>
      </div>

      <!-- User list will be populated by populateUserList() below -->
      <div id="userlist"></div>

      <!-- Spinner that appears while the user list is being loaded -->
      <div id="user-load"></div>

      <!-- Message indicating that no users match a search -->
      <div id="user-no-match">
         <span class='glyphicon glyphicon-search'></span> <span id="search-prefix"></span> finnst ekki
      </div>

   </div>

   </div> <!-- id="tabs" -->

</div> <!-- class="tabbed-page" -->

<!-- Display user identifier in upper right corner -->

<div class="userid" onclick="location.href='{{ url_for('userprefs') }}'" title="Upplýsingar um leikmann">
<span class="glyphicon glyphicon-address-book"></span>&nbsp;{{ user.nickname() }}
</div>

<!-- Readiness indicator toggle -->
<div id="ready-toggler" class="toggler" title="Tek við áskorunum!">
   <div class="option small" id="opt1">&nbsp;</div><!--
--><div class="option small" id="opt2"><span class="glyphicon glyphicon-thumbs-up"></span></div>
</div>

<!-- Indicator toggle for timed game readiness -->
<div id="timed-toggler" class="toggler" title="Til í viðureign með klukku!">
   <div class="option small" id="opt1">&nbsp;</div><!--
--><div class="option small" id="opt2"><span class="glyphicon glyphicon-time"></span></div>
</div>

<!-- A dialog to show info about a particular user -->
<div id="usr-info-dialog" class="modal-dialog">
<div id="usr-info-form" class="ui-widget ui-widget-content ui-corner-all">

   <div class="usr-info-hdr">
      <h1 class="usr-info-icon"><span class='glyphicon glyphicon-user'></span>&nbsp;</h1>
      <h1 id="usr-info-nick"></h1>
      <span class="vbar">|</span>
      <h2 id="usr-info-fullname"></h2>
      <div class="usr-info-fav" title="Uppáhald"><span class="glyphicon glyphicon-star" id="usr-info-fav-star"></span></div>
   </div>

   <p><strong>Nýjustu viðureignir</strong> <span class="versus-cat"><span class="shown" id="versus-all">gegn öllum</span> <span id="versus-you">gegn þér</span></span></p>

   <!-- Recent games for this user -->
   <div class="listitem listheader"><span
   class="list-win"><span
   title="Sigur" class='glyphicon glyphicon-bookmark grayed'></span></span><span
   class="list-ts">Viðureign lauk</span><span
   class="list-nick">Andstæðingur</span><span
   class="list-scorehdr">Úrslit</span><span
   class="list-elo-hdr"><span
      title="Mennskir andstæðingar" class='glyphicon glyphicon-user elo-hdr-left'></span>Elo<span
      title="Allir andstæðingar" class='glyphicon glyphicon-cog elo-hdr-right'></span></span><span
   class="list-duration">Lengd</span></div>

   <!-- Recent game lists will be populated by populateRecentList() -->
   <div id="usr-recent"></div>

   <!-- Statistics -->
   <div id="usr-stats">
      <div id="stats-toggler" class="toggler" title="Með þjörkum eða án">
         <div class="option small" id="opt1"><span class="glyphicon glyphicon-user"></span></div><!--
      --><div class="option small" id="opt2"><span class="glyphicon glyphicon-cog"></span></div>
      </div><!--
   --><div id="usr-stats-human"><!--
      --><div class="stats-fig" id="usr-stats-human-elo" title="Elo-stig"></div><!--
      --><div class="stats-fig stats-games" id="usr-stats-human-games" title="Fjöldi viðureigna"></div><!--
      --><div class="stats-fig stats-win-ratio" id="usr-stats-human-win-ratio" title="Vinningshlutfall"></div><!--
      --><div class="stats-fig stats-avg-score" id="usr-stats-human-avg-score" title="Meðalstigafjöldi"></div><!--
   --></div><!--
   --><div id="usr-stats-all"><!--
      --><div class="stats-fig" id="usr-stats-elo" title="Elo-stig"></div><!--
      --><div class="stats-fig stats-games" id="usr-stats-games" title="Fjöldi viðureigna"></div><!--
      --><div class="stats-fig stats-win-ratio" id="usr-stats-win-ratio" title="Vinningshlutfall"></div><!--
      --><div class="stats-fig stats-avg-score" id="usr-stats-avg-score" title="Meðalstigafjöldi"></div><!--
   --></div>
   </div>

   <!-- Highest word and game scores -->
   <p id="usr-best"></p>

   <!-- Close button -->
   <div class="modal-close" id="usr-info-close" title="Loka" onmouseover="buttonOver(this)"
      onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-ok"></span></div>

</div>
</div>

<!-- A dialog for a new challenge that is being issued -->
<div id="chall-dialog" class="modal-dialog">
<div id="chall-form" class="ui-widget ui-widget-content ui-corner-all">

   <div class="chall-hdr">
      <table><tr>
      <td>
      <h1 class="chall-icon"><span class='glyphicon glyphicon-hand-right'></span></h1>
      </td>
      <td class="l-border"><span id="chall-online" title="Álínis?"></span><h1 id="chall-nick"></h1><h2 id="chall-fullname"></h2>
      </td>
      </tr></table>
   </div>

   <div style="text-align: center">

      <p><strong>Ný áskorun</strong> - veldu lengd viðureignar:</p>

      <div tabindex="1" class="chall-time selected" id="chall-none">Viðureign án klukku</div>
      <div tabindex="2" class="chall-time" id="chall-10"><span class='glyphicon glyphicon-time'></span> 2 x 10 mínútur</div>
      <div tabindex="3" class="chall-time" id="chall-15"><span class='glyphicon glyphicon-time'></span> 2 x 15 mínútur</div>
      <div tabindex="4" class="chall-time" id="chall-20"><span class='glyphicon glyphicon-time'></span>2 x 20 mínútur</div>
      <div tabindex="5" class="chall-time" id="chall-25"><span class='glyphicon glyphicon-time'></span> 2 x 25 mínútur</div>
      <div tabindex="6" class="chall-time" id="chall-30"><span class='glyphicon glyphicon-time'></span> 2 x 30 mínútur</div>

   </div>

   <div class="hidden" id="chall-fairplay">Báðir leikmenn lýsa því yfir að
   þeir skrafla <strong>án stafrænna hjálpartækja</strong> af nokkru tagi.</div>

   <div class="hidden" id="chall-newbag">
   <table>
   <tr>
   <td><span class='glyphicon glyphicon-shopping-bag'></span></td>
   <td>Viðureign með<br><strong>nýja skraflpokanum</strong></td>
   </tr>
   </table>
   </div>

   <!-- Cancel button -->
   <div tabindex="7" class="modal-close" id="chall-cancel" title="Hætta við"
      onmouseover="buttonOver(this)"
      onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-remove"></span></div>

   <!-- OK button -->
   <div tabindex="8" class="modal-close" id="chall-ok" title="Skora á"
      onmouseover="buttonOver(this)"
      onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-ok"></span></div>

</div>
</div>

<!-- A dialog for acceptance of a timed game challenge -->
<div id="accept-dialog" class="modal-dialog">
<div id="accept-form" class="ui-widget ui-widget-content ui-corner-all">

   <div class="chall-hdr">
      <table><tr>
      <td>
      <h1 class="chall-icon"><span class='glyphicon glyphicon-time'></span></h1>
      </td>
      <td class="l-border"><h1 id="accept-nick"></h1>
      </td>
      </tr></table>
   </div>

   <div style="text-align: center; padding-top: 32px">

      <p><strong>Viðureign með klukku</strong></p>

      <p id="accept-status"></p> <!-- Checking whether the opponent is ready... -->

   </div>

   <!-- Cancel button -->
   <div class="modal-close" id="accept-cancel" title="Reyna síðar"
      onmouseover="buttonOver(this)"
      onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-remove"></span></div>

</div>
</div>

{%- endblock -%}

{% block media %}

{%- if user.audio() -%}
<!-- Audio resources -->
<audio id="your-turn" preload="auto">
   <source src="{{ url_for('static', filename='your-turn.mp3') }}" type="audio/mpeg">
</audio>
{% endif %}

{% endblock %}

{% block endscripts %}

<!-- Google App Engine Channel API -->
<script type="text/javascript" src="/_ah/channel/jsapi"></script>

<!-- Main page script -->
{% if dev_server %}
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% else %}
<script src="{{ url_for('static', filename='main.min.js') }}"></script>
{% endif %}

<script>

function userId() {
   /* The logged-in user who requested this page */
   return "{{ user.id() }}";
}

function fairPlay() {
   /* The fair-play status of the logged in user */
   return {{ "true" if user.fairplay() else "false" }};
}

function newBag() {
   /* The new bag preference of the logged in user */
   return {{ "true" if user.new_bag() else "false" }};
}

function newgameUrl(opp, reversed) {
   /* The URL for a new game against the given opponent */
   return "{{ url_for('newgame') | safe }}?opp=" + opp +
      (reversed ? "&rev=1" : "");
}

function waitUrl(opp) {
   /* The URL for a wait page for a new game */
   return "{{ url_for('wait') | safe }}?opp=" + opp;
}

function gameUrl(uuid) {
   /* Return the URL for a game with a given uuid */
   return "{{ url_for('board') | safe }}?game=" + uuid;
}

function lateInit() {
   /* Initialization that needs server-side info. Called from initMain() */

{% if tab %}
   /* Select default tab when opening page */
   $("#tabs").tabs("option", "active", {{ tab }});
{% endif %}

   openChannel("{{ channel_token }}");

   // Initialize the ready state togglers
   initToggle("#ready-toggler", {{ "true" if user.is_ready() else "false" }});
   initToggle("#timed-toggler", {{ "true" if user.is_ready_timed() else "false" }});
   $("#ready-toggler").click(toggleReady);
   $("#timed-toggler").click(toggleTimed);

   // Initialize the Elo list toggler
   initToggle("#elo-toggler", false);
   $("#elo-toggler").click(toggleElo);
   // Initialize the stats togglers
   initToggle("#stats-toggler", false);
   $("#stats-toggler").click(toggleStats);
   initToggle("#own-toggler", false);
   $("#own-toggler").click(toggleOwnStats);
}

$(document).ready(initMain);

</script>

{% endblock %}
