
{% extends "container.html" %}

{% block scripts %}

{% endblock %}

{% block content %}

<div class="help">
   <h2>Velkomin(n) í Netskrafl! <span style="font-weight: normal; color:red">[Alfa-prófunarútgáfa]</span></h2>
   <p>Í Netskrafli getur þú spilað skrafl við tölvu. Leikreglurnar eru eins og í
   hefðbundnu borðskrafli, en aðeins eru leyfð orð sem fyrirfinnast í
   <i><a href="http://bin.arnastofnun.is/forsida/">Beygingarlýsingu íslensks
   nútímamáls</a></i> - og <a href="{{ url_for('twoletter') }}">tveggja stafa orð
   samkvæmt lista Skraflfélags Íslands</a>. Ekki er því unnt að véfengja orð sem tölvan
   leggur niður, né er hægt að leggja niður önnur orð en þau sem eru í orðalistunum.</p>
   <p>Í upphafi leiks hefur þú sjö stafaflísar sem sýndar eru í rekkanum fyrir neðan
   borðið. Þú leggur þær niður með því að draga þær með músinni (smella á flís,
   draga hana á réttan stað og sleppa músarhnappnum). Einnig má nota fingur til
   að draga flísar á spjaldtölvum og snertiskjám. Þú getur flutt flísar til á
   borðinu eða dregið þær til baka í rekkann ef þú færð bakþanka.
   <strong>Esc</strong> hnappurinn á lyklaborðinu sendir allar flísar til baka í rekkann.</p>
   <p>Þegar þú hefur lagt niður orð eins og þú vilt hafa það smellirðu
   á græna hnappinn
   <img src="{{ url_for('static', filename='Leika.png') }}" width=53 height=20 border=0>.
   Tölvan svarar að bragði með sínum leik og þá
   er röðin aftur komin að þér. Nýjar flísar sem tölvan leggur niður eru sýndar
   með grænum lit á borðinu.</p>
   <p>Ef þú getur ekki lagt niður orð og vilt sitja hjá smellirðu á
   appelsínugula hnappinn
   <img src="{{ url_for('static', filename='Pass.png') }}" width=20 height=20 border=0>.
   Þá færð þú ekki stig heldur leikur tölvan strax næsta leik.</p>
   <p>Ef þú vilt skipta út flísum í rekkanum smellirðu á græna hnappinn
   <img src="{{ url_for('static', filename='Exchange.png') }}" width=20 height=20 border=0>.
   Þú þarft að velja þær flísar sem þú vilt skipta með því að smella á þær. Þegar
   skiptin hafa farið fram færðu ekki stig heldur á tölvan næsta leik. Ef færri
   en sjö flísar eru eftir í "pokanum" er ekki hægt að skipta.</p>
   <p>Viðureign er lokið þegar síðasta flísin hefur verið lögð niður, eða ef
   báðir leikmenn hafa setið hjá þrisvar í röð (sex sinnum alls). Þú getur
   einnig gefið leikinn með því að smella á rauða hnappinn
   <img src="{{ url_for('static', filename='Resign.png') }}" width=20 height=20 border=0>.</p>
   <p>Netskrafl notar Google Accounts aðgang og innskráningu til að auðkenna
   notendur. Þú getur
   <a href="{{ url_for('userprefs') }}">breytt notandanafninu þínu</a>
   með því að smella á það í dálkhausnum hægra megin á skjánum.
   Netskrafl sækir hvorki né geymir persónuupplýsingar.</p>
   <p>Taktu þátt í þróun Netskrafls með því að
   <a href="https://www.facebook.com/groups/828426797220211/">ganga í fésbókarhópinn</a>!</p>
   <p><strong><a href="{{ url_for('main') }}">Aftur í aðalskjá</a></strong></p>
   <div class="smallprint">
   <p>Höfundur Netskrafls er <a href="http://blog.pressan.is/vthorsteinsson">Vilhjálmur Þorsteinsson</a>. Höfundarréttur að
   Beygingarlýsingu íslensks nútímamáls er á hendi Stofnunar
   Árna Magnússonar í íslenskum fræðum. BÍN er notuð í Netskrafli skv.
   <a href="http://bin.arnastofnun.is/gogn/skilmalar/">skilmálum SÁM</a>. Frumforrit
   Netskrafls eru <a href="https://github.com/vthorsteinsson/Netskrafl">opin á
   GitHub</a>.</p>
   </div>
</div>

{% endblock %}

