
{% extends "container-base-explo.html" %}

{% block opengraph %}

<meta property="og:type" content="website" />
{% if project_id == 'netskrafl' %}
<meta property="og:locale" content="is_IS" />
<meta property="og:site_name" content="Netskrafl" />
<meta property="og:description" content="Spilaðu skrafl á netinu" />
{% else %}
<meta property="og:site_name" content="Explo">
<meta property="og:description" content="The crossword game for modern times">
{% endif %}

{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
{%- endblock -%}

{% block libscripts %}

<!-- Include the Mithril UI library -->
{% if dev_server %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mithril/2.0.4/mithril.js"></script>
{% else %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mithril/2.0.4/mithril.min.js"></script>
{% endif %}

{% endblock %}

{%- block startscripts -%}
{% include 'firebase.html' %}
{%- endblock -%}

{% block endscripts %}

<!-- Audio resources -->
<audio id="your-turn" preload="auto">
   <source src="{{ url_for('web.static', filename='your-turn.mp3') }}" type="audio/mpeg">
</audio>

<audio id="you-win" preload="auto">
   <source src="{{ url_for('web.static', filename='you-win.mp3') }}" type="audio/mpeg">
</audio>

<audio id="new-msg" preload="none">
   <source src="{{ url_for('web.static', filename='new-msg.mp3') }}" type="audio/mpeg">
</audio>

<script>

// Global state, filled in by the server and passed to the page.main() function

var $state = {
   userId: "{{ '' if user == None else user.id() }}",
   userNick: "{{ '' if user == None else user.nickname() }}",
   userFullname: "{{ '' if user == None else user.full_name() }}",
   locale: "{{ default_locale if user == None else user.locale }}",
   isExplo: {{ 'false' if project_id == 'netskrafl' else 'true' }},
   loginMethod: "{{ method }}",
   newUser: {{ 'true' if new else 'false' }},
   beginner: {{ 'false' if user and not user.beginner() else 'true' }},
   fairPlay: {{ 'true' if user and user.fairplay() else 'false' }},
   newBag: {{ 'false' if user and not user.new_bag() else 'true' }},
   plan: "{{ '' if user == None else user.plan() }}",
   hasPaid: {{ 'true' if user and user.has_paid() else 'false' }},
   ready: {{ 'true' if user and user.is_ready() else 'false' }},
   readyTimed: {{ 'true' if user and user.is_ready_timed() else 'false' }},
   uiFullscreen: undefined,
   uiLandscape: undefined,
   firebaseToken: "{{ firebase_token }}",
   // Array of supported emoticons in chat
   // Remember to change faq.html if this changes
   emoticons: [
      { icon : ":-)", image : "{{ url_for('web.static', filename='icontexto_emoticons_03.png') }}" },
      { icon : ":-D", image : "{{ url_for('web.static', filename='icontexto_emoticons_02.png') }}" },
      { icon : ";-)", image : "{{ url_for('web.static', filename='icontexto_emoticons_04.png') }}" },
      { icon : ":-(", image : "{{ url_for('web.static', filename='icontexto_emoticons_12.png') }}" },
      { icon : ":-o", image : "{{ url_for('web.static', filename='icontexto_emoticons_10.png') }}" },
      { icon : ":-O", image : "{{ url_for('web.static', filename='icontexto_emoticons_10.png') }}" },
      { icon : ":-p", image : "{{ url_for('web.static', filename='icontexto_emoticons_14.png') }}" },
      { icon : ":-P", image : "{{ url_for('web.static', filename='icontexto_emoticons_14.png') }}" },
      { icon : "B-)", image : "{{ url_for('web.static', filename='icontexto_emoticons_16.png') }}" },
      { icon : ":)", image : "{{ url_for('web.static', filename='icontexto_emoticons_03.png') }}" },
      { icon : ":D", image : "{{ url_for('web.static', filename='icontexto_emoticons_02.png') }}" },
      { icon : ";)", image : "{{ url_for('web.static', filename='icontexto_emoticons_04.png') }}" },
      { icon : ":(", image : "{{ url_for('web.static', filename='icontexto_emoticons_12.png') }}" },
      { icon : ":o", image : "{{ url_for('web.static', filename='icontexto_emoticons_10.png') }}" },
      { icon : ":O", image : "{{ url_for('web.static', filename='icontexto_emoticons_10.png') }}" },
      { icon : ":p", image : "{{ url_for('web.static', filename='icontexto_emoticons_14.png') }}" },
      { icon : ":P", image : "{{ url_for('web.static', filename='icontexto_emoticons_14.png') }}" },
      { icon : "(y)", image : "{{ url_for('web.static', filename='thumb-up.png') }}" }
   ]
};

</script>

<!-- !!! FIXME: Concatenate and minify all scripts -->

<script src="{{ url_for('web.static', filename='js/DragDropTouch.js') }}"></script>

<script src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script>
{% if dev_server %}
<script src="{{ url_for('web.static', filename='built/explo.js') }}"></script>
{% else %}
<script src="{{ url_for('web.static', filename='built/explo.min.js') }}"></script>
{% endif %}

<script>

function init_amd() {

   // Wrap the Mithril library in an AMD/requireJS module definition
   define(
      "mithril",
      ["require", "exports"],
      function (require, exports) {
         "use strict";
         Object.defineProperty(exports, "__esModule", { value: true });
         exports.m = window.m;
      }
   );

   // Import the single-page app code and call its main function in the page module
   require(
      ["page"],
      function(page) { page.main($state); }
   );
}

// Once the DOM is ready, call the init_amd() function
// to initialize the single-page app
window.addEventListener("DOMContentLoaded", init_amd);

</script>

{% endblock %}


