
<h2><span class="glyphicon glyphicon-coffee-cup"></span>&nbsp;&nbsp;Subscribe to Explo!</h2>

<div class="promo-fullscreen">

<p><b>Explo is free to play.</b></p>

<p>However, and obviously, running the game servers,
supporting our users and improving our software costs money.</p>

<p>As you have probably noticed, <b>Explo is ad-free</b>.
We are thus entirely funded by our player community.</p>

<p>For a low monthly subscription fee, you can support
Explo and enjoy several advantages:</p>

<ul>

<li>Play an <b>unlimited number of games</b> simultaneously,
instead of a maximum of three games.</li>

<li>Get access to retrospective <b>game review</b> for finished games, showing
the best moves in each situation.</li>

<li>Challenge other players to <b>Pro Mode games</b>, where words are
challenged manually for an extra twist.</li>

</ul>

<h3>Become a subscriber and enjoy the full Explo experience!</h3>

<div class="btn-promo-yes salescloud-action login" data-loading-text="Moment, please..."
 	title="Yes, please!"
	data-action-method="jsonp" data-action-endpoint="api/public/1.0/atc"
	data-action-triggers="click"
	data-action-components='{"channel": "15c0273a-ac1b-41cf-9d8a-30947e8f713f", "product_id": "f3479292-7a56-4fac-9657-dc1021395056","language": "is", "quantity": 1, "buy_now": 1, "click": {"commit": 1}}'
	data-action-on-processed='[{"type": "redirect", "value": "signup"}]'>Yes, please!
	<span class="glyphicon glyphicon-play"></span></div>

<div class="btn-promo-no" title="No, thanks">No, thanks</div> <!-- Onclick event added in friend.ts -->

</div>

<div class="promo-mobile">

	<p>You can play a maximum of three games simultaneously unless
	you <b>subscribe to Explo</b> for a low monthly fee.</p>

	<p>Become a subscriber by logging in to Explo on a PC or tablet
	and enjoy several advantages for more word game fun.</p>

	<div class="btn-promo-no" title="Close"><span class="glyphicon glyphicon-ok"></span></div>

</div>

