
<h2><span class="glyphicon glyphicon-coffee-cup"></span>&nbsp;&nbsp;Vertu vinur Netskrafls!</h2>

<div class="promo-fullscreen">

	<p>Þér býðst að vera <b>áskrifandi að Netskrafli</b> fyrir aðeins 790 kr. á mánuði.</p>

	<h2>Sem áskrifandi nýtur þú fríðinda.</h2>

	<ul>

	<li>Sem áskrifandi getur þú haft <b>ótakmarkaðan fjölda viðureigna</b> í gangi
	samtímis<br>(í stað <b>8</b> að hámarki).</li>

	<li>Sem áskrifandi hefur þú aðgang að <b>yfirliti</b> í lok hverrar viðureignar þar
	sem hún er rakin leik fyrir leik og bestu möguleikar í hverri stöðu sýndir.</li>

	<li>Sem áskrifandi getur þú skorað á aðra leikmenn í <b>keppnisham</b>. Þá
	má leggja niður hvaða orð sem er, en andstæðingur getur véfengt þau - alveg eins
	og í borðskrafli og í keppni á skraflmótum. (BÍN er þó áfram endanlegur dómari um
	gild orð.)</li>

	</ul>

	<h3>Vertu með - og styddu við máltækni fyrir íslensku í leiðinni!</h3>

	<p><i>Áskriftin er stofnuð á Málstað, máltæknivettvangi Miðeindar,
		en þangað flytur Netskraflið innan tíðar.</i></p>

	<div class="btn-promo-yes login"
		onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" title="Já, gjarnan!"
		onclick="location.href='https://malstadur.mideind.is/askrift'">
		Já, gjarnan! <span class="glyphicon glyphicon-play"></span>
	</div>

	<div class="btn-promo-no" title="Nei, takk"
		onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
		onclick="closePromoDialog()">
		Nei, takk
	</div>

</div>

<div class="promo-mobile">
	<div class="promo-friend-mobile">
		<p>Þú getur að hámarki haft <b>8 viðureignir</b> í gangi samtímis,
		nema þú gerist <b>Vinur Netskrafls</b>.</p>

		<p>Þú getur gerst vinur með því að opna Netskraflið á
		borðtölvu, fartölvu eða spjaldtölvu og skrá þig þar.
		Því miður er ekki hægt að gerast vinur Netskrafls á
		snjallsíma eða öðrum litlum tækjum og skjám.</p>

		<div class="btn-promo-no" title="Loka"
		onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
		onclick="closePromoDialog()"><span class="glyphicon glyphicon-ok"></span></div>

	</div>
</div>

