
<img src="{{ url_for('static', filename='promo-explo.png')}}" height="553" width="575">

<div class="app-store-button">
    <a href="https://apps.apple.com/is/app/explo-word-game/id1591881521">
        <img src="{{ url_for('static', filename='app-store-button.png')}}" height="53.5px" width="158.5px">
    </a>
</div>

<div class="play-store-button">
    <a href="https://play.google.com/store/apps/details?id=explo.client">
        <img src="{{ url_for('static', filename='play-store-button.png')}}" height="53.5px" width="181.5px">
    </a>
</div>

<div class="btn-explo-yes" title="Loka"
   onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
   onclick="closePromoDialog()"><span class="glyphicon glyphicon-ok"></span></div>
