
<div class="promo-fullscreen">
    <a href="https://malstadur.is" target="_blank">
        <img src="{{ url_for('static', filename='promo-malstadur.png')}}"
            height="644" width="884">
    </a>
</div>

<div class="promo-mobile">
    <a href="https://malstadur.is" target="_blank">
        <img src="{{ url_for('static', filename='promo-malstadur-mobile.png')}}" height="553" width="343">
    </a>
</div>

<div class="btn-malstadur-yes" title="Loka"
   onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
   onclick="closePromoDialog()"><span class="glyphicon glyphicon-ok"></span></div>
