
<div class="promo-fullscreen">
<img src="{{ url_for('static', filename='promo-explo.png')}}" height="553" width="575">

<div class="app-store-button">
    <a href="https://apps.apple.com/is/app/explo-word-game/id1591881521" target="_blank">
        <img src="{{ url_for('static', filename='app-store-button.png')}}" height="53.5px" width="158.5px">
    </a>
</div>

<div class="play-store-button">
    <a href="https://play.google.com/store/apps/details?id=explo.client" target="_blank">
        <img src="{{ url_for('static', filename='play-store-button.png')}}" height="53.5px" width="181.5px">
    </a>
</div>
</div>

<div class="promo-mobile">
<img src="{{ url_for('static', filename='promo-explo-mobile.png')}}" height="553" width="343">

<div class="app-store-button">
    <a href="https://apps.apple.com/is/app/explo-word-game/id1591881521" target="_blank">
        <img src="{{ url_for('static', filename='app-store-button-mobile.png')}}" height="46px" width="136px">
    </a>
</div>

<div class="play-store-button">
    <a href="https://play.google.com/store/apps/details?id=explo.client" target="_blank">
        <img src="{{ url_for('static', filename='play-store-button-mobile.png')}}" height="46px" width="156px">
    </a>
</div>
</div>

<div class="btn-explo-yes" title="Loka"
   onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
   onclick="closePromoDialog()"><span class="glyphicon glyphicon-ok"></span></div>
