
<h2><span class="glyphicon glyphicon-coffee-cup"></span>&nbsp;&nbsp;Vertu vinur Netskrafls!</h2>

<p><b>Netskrafl er ókeypis.</b></p>

<p>Það er smíðað og rekið í sjálfboðavinnu. En það fylgir
því nokkur kostnaður að keyra og hýsa kerfið frá mánuði til mánaðar.</p>

<p>Þér býðst að vera <b>vinur Netskrafls</b> og leggja
lága upphæð í púkkið mánaðarlega til að halda þessari
skemmtilegu og skerpandi dægradvöl gangandi.</p>

<p>Framlagið svarar til eins&nbsp;&nbsp;<span class="glyphicon glyphicon-coffee-cup"></span>&nbsp;&nbsp;kaffibolla á
kaffihúsi, eða <b>490 kr. á mánuði</b>.</p>

<h2>Sem vinur Netskrafls nýtur þú fríðinda.</h2>

<ul>

<li>Sem vinur Netskrafls getur þú haft <b>ótakmarkaðan fjölda viðureigna</b> í gangi
samtímis<br>(í stað <b>8</b> að hámarki).</li>

<li>Sem vinur Netskrafls hefur þú aðgang að <b>yfirliti</b> í lok hverrar viðureignar þar
sem hún er rakin leik fyrir leik og bestu möguleikar í hverri stöðu sýndir.</li>

<li>Sem vinur Netskrafls getur þú skorað á aðra leikmenn í <b>keppnisham</b>. Þá
má leggja niður hvaða orð sem er, en andstæðingur getur véfengt þau - alveg eins
og í borðskrafli og í keppni á skraflmótum. (BÍN er þó áfram endanlegur dómari um
gild orð.)</li>

</ul>

<h3>Vertu með - vertu vinur Netskrafls!</h3>

<div class="btn-promo-yes salescloud-action login" data-loading-text="Augnablik..."
 	onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
	data-action-method="jsonp" data-action-endpoint="api/public/1.0/atc"
	data-action-triggers="click"
	data-action-components='{"channel": "15c0273a-ac1b-41cf-9d8a-30947e8f713f", "product_id": "f3479292-7a56-4fac-9657-dc1021395056","language": "is", "quantity": 1, "buy_now": 1, "click": {"commit": 1}}'
	data-action-on-processed='[{"type": "redirect", "value": "signup"}]'>Já, gjarnan
	<span class="glyphicon glyphicon-play"></span></div>

<div class="btn-promo-no" title="Nei, takk"
   onmouseover="buttonOver(this)" onmouseout="buttonOut(this)"
   onclick="closePromoDialog()">Nei, takk</div>

