
{% extends "container.html" %}

{% block scripts %}

<!-- Netskrafl client script -->
<script src="{{ url_for('static', filename='netskrafl.js') }}"></script>

<script>

   function placeTiles() {
{% for coord, tile, letter, score in game.enum_tiles(state) %}
      placeTile("{{ coord }}", "{{ tile }}", "{{ letter }}", {{ score }});
{%- endfor -%}

{% if move_number > 0 %}
{% for m in game.moves[move_number-1:move_number] %}
{%- set coord, tiles, score = m.move.summary(state.board()) -%}
      newestMove = placeMove({{ m.player }}, "{{ coord }}", "{{ tiles }}");
      highlightNewestMove(colorOf({{ m.player }}));
      $("div.score").text("{{ score }}");
{% endfor %}
{% endif %}

{% for tile, score in state.player_rack().details() %}
      placeTile("R{{ loop.index }}", "{{ tile }}", "{{ tile }}", {{ score }});
{%- endfor -%}
   }

   function initMoveList() {
      /* Show the most recent move in the player's color */
{% if move_number > 0 %}
{% for m in game.moves[move_number-1:move_number] %}
{%- set coord, tiles, score = m.move.summary(state.board()) -%}
      appendBestHeader({{ move_number }}, "{{ coord }}", "{{ tiles }}", {{ score }});
{% endfor %}
{% endif %}
      /* Show the list of best moves */
{% if best_moves != None %}
{% for m, sc in best_moves %}
{%- set coord, tiles, score = m.summary(state.board()) -%}
      appendBestMove({{ state.player_to_move() }}, "{{ coord }}", "{{ tiles }}", {{ score }});
{% endfor %}
{% endif %}
   }

   function initBag(bag) {
      updateBag("{{ state.display_bag(state.player_to_move()) }}");
   }

   function localPlayer() {
      /* Identify whether the human player is 0 or 1 */
      return {{ game.player_index(user.id()) }};
   }
</script>

{% endblock %}

{% block content %}

<!-- The board -->
{% include 'boardlayout.html' %}

<!-- Player names, scores and move history -->
<div class="rightcol">
   <div class="heading">
      <h3 class="playerleft">
{% if game.is_autoplayer(0) %}
<span class="glyphicon glyphicon-cog"></span>&nbsp;
{%- else -%}
<a class="nodecorate" href="{{ url_for('userprefs') }}">
{%- endif -%}
      {{ game.state.player_name(0) }}
{%- if not game.is_autoplayer(0) -%}
</a>
{% endif %}
      </h3>
      <h3 class="playerright">
{% if game.is_autoplayer(1) %}
<span class="glyphicon glyphicon-cog"></span>&nbsp;
{%- else -%}
<a class="nodecorate" href="{{ url_for('userprefs') }}">
{%- endif -%}
      {{ game.state.player_name(1) }}
{%- if not game.is_autoplayer(1) -%}
</a>
{% endif %}
      </h3>
      <h3 class="scoreleft">{{ state.scores()[0] }}</h3>
      <h3 class="scoreright">{{ state.scores()[1] }}</h3>
   </div>
   <div class="movelist">
   </div>
</div>

<!-- The rack -->
<div class="rack">
   <table class="board">
      <tr>
      <td id="R1"></td>
      <td id="R2"></td>
      <td id="R3"></td>
      <td id="R4"></td>
      <td id="R5"></td>
      <td id="R6"></td>
      <td id="R7"></td>
      </tr>
   </table>
</div>

<!-- The bag -->
<div class="bag" title="Flísar sem eftir eru í pokanum">
<table id="bag">
</table>
</div>

<!-- The score of the word currently laid down -->
<div class="score"></div>

<!-- The score difference between the shown move and the actual move -->
<div class="scorediff"></div>

<!-- Game statistics -->
<div class="gamestats" onclick="navFirst()">
<div style="position:relative;width:100%">
<h3 class="playerleft">
{%- if game.is_autoplayer(0) -%}
<span class="glyphicon glyphicon-cog"></span>&nbsp;
{%- endif -%}
{{ game.player_nickname(0) }}</h3>
<h3 class="playerright">
{%- if game.is_autoplayer(1) -%}
<span class="glyphicon glyphicon-cog"></span>&nbsp;
{%- endif -%}
{{ game.player_nickname(1) }}</h3>
</div>
<div id="gamestarted">
<p>Viðureign hófst <span id="gamestart"></span></p>
</div>
<div class="statscol" style="clear:left">
<p>Fjöldi leikja: <span id="moves0"></span></p>
<p>Fjöldi bingóa: <span id="bingoes0"></span> (bónus <span id="bingopoints0"></span> stig)</p>
<p>Stafir lagðir niður: <span id="tiles0"></span> (þar af <span id="blanks0"></span> auðir)</p>
<p>Meðalstig stafa (án auðra): <span id="average0"></span></p>
<p>Samanlögð stafastig: <span id="letterscore0"></span></p>
<p>Margföldun stafastiga: <span id="multiple0"></span></p>
<p>Stig án stafaleifar í lok: <span id="cleantotal0"></span></p>
<p>Meðalstig hvers leiks: <span id="avgmove0"></span></p>
<p>Stafaleif og frádráttur í lok: <span id="remaining0"></span></p>
<p>Stig: <span id="total0"></span> (<span id="ratio0"></span>%)</p>
</div>
<div class="statscol">
<p>Fjöldi leikja: <span id="moves1"></span></p>
<p>Fjöldi bingóa: <span id="bingoes1"></span> (bónus <span id="bingopoints1"></span> stig)</p>
<p>Stafir lagðir niður: <span id="tiles1"></span> (þar af <span id="blanks1"></span> auðir)</p>
<p>Meðalstig stafa (án auðra): <span id="average1"></span></p>
<p>Samanlögð stafastig: <span id="letterscore1"></span></p>
<p>Margföldun stafastiga: <span id="multiple1"></span></p>
<p>Stig án stafaleifar í lok: <span id="cleantotal1"></span></p>
<p>Meðalstig hvers leiks: <span id="avgmove1"></span></p>
<p>Stafaleif og frádráttur í lok: <span id="remaining1"></span></p>
<p>Stig: <span id="total1"></span> (<span id="ratio1"></span>%)</p>

<div id="close" class="closebtn" onmouseover="buttonOver(this)"
   onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-play"></span> Skoða</div>

</div>
</div>

<!-- Previous move button -->
<div id="navprev" class="navbtn" onmouseover="buttonOver(this)"
   onmouseout="buttonOut(this)" onclick="navPrev(this)"><span class="glyphicon glyphicon-chevron-left"></span> Fyrri</div>

<!-- Next move button -->
<div id="navnext" class="navbtn" onmouseover="buttonOver(this)"
   onmouseout="buttonOut(this)" onclick="navNext(this)">Næsti <span class="glyphicon glyphicon-chevron-right"></span></div>

{% if move_number > 0 %}
<!-- Game info bar -->
<div class="gameinfo">
   Viðureign hófst {{ game.start_time() }}&nbsp;&nbsp;&nbsp;<span class="yesnobutton closebtn"
   title="Loka yfirliti" onclick="closeReview()"><span class="glyphicon glyphicon-remove"></span> Loka yfirliti</span>
</div>
{% endif %}

{% endblock %}

{% block endscripts %}

<script>

function navPrev(btn) {
   /* Display the previous move */
   if ($(btn).hasClass("disabled"))
      return;
   window.location.href='{{ url_for('review', game = game.id(), move = move_number - 1) | safe }}';
}

function navNext(btn) {
   /* Display the next move */
   if ($(btn).hasClass("disabled"))
      return;
   window.location.href='{{ url_for('review', game = game.id(), move = move_number + 1) | safe }}';
}

function navFirst() {
   /* Display the first move */
   window.location.href='{{ url_for('review', game = game.id(), move = 1) | safe }}';
}

function closeReview() {
   /* Go back to the main screen */
   window.location.href='{{ url_for('main') | safe }}';
}

function initReview(jQuery) {
   /* Called when the page is displayed or refreshed */
   placeTiles();
   initMoveList();
   initBag();
   $("div.racktile").css("cursor", "default");
   if (localPlayer() === 0) {
      $("h3.playerleft").addClass("humancolor");
      $("h3.playerright").addClass("autoplayercolor");
   }
   else {
      $("h3.playerright").addClass("humancolor");
      $("h3.playerleft").addClass("autoplayercolor");
   }
{% if state.player_to_move() == 1 - game.player_index(user.id()) %}
   /* Show the racks in the players' colors */
   $("div.racktile").addClass("freshtile").removeClass("racktile");
{% endif %}
{% if move_number == 0 %}
   $("#navprev").addClass("disabled");
   $("#navnext").addClass("disabled");
   showStats("{{ game.id() }}");
{% endif %}
{% if move_number == game.num_moves() %}
   $("#navnext").addClass("disabled");
{% endif %}
{% if not game.allows_best_moves() %}
   /* Racks are not meaningful, so we don't display them */
   $("div.rack").css("visibility", "hidden");
{% endif %}
}

</script>

<script>
   $(document).ready(initReview);
</script>

{% endblock %}
