
{% extends "container.html" %}

{% block scripts %}

<link href="{{ url_for('static', filename='jquery-ui.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block logo %}
{% include 'logo.html' %}
{% endblock %}

{% block info %}
   <!-- No info button -->
{% endblock %}

{% block content %}

<div class="signup-header">
   <p><b>Fylltu út greiðsluupplýsingar</b> hér að neðan. Eyðublöðin nota örugga, dulkóðaða tengingu (<i>https</i>).</p>
</div>

<div class="salescloud-wrapper">

<!-- SalesCloud payment processing widget -->
<div class="salescloud-widget"
   data-components='{"skip_cart": "1", "email": "", "label": "{{ user.id() }}"}'
   data-widget="212" data-resize="true" data-language="is" data-spinner="true" data-follow="true" ></div>

</div>

{% endblock %}

{% block endscripts %}

<script>

   function userId() {
      return "{{ user.id() }}";
   }

   function doRegisterSalesCloud(i,s,o,g,r,a,m) {
      i['SalesCloudObject']=r;
      i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},
      i[r].l=1*new Date();
      a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];
      a.src=g;
      m.parentNode.insertBefore(a,m)
   }

   function registerSalesCloud() {
      doRegisterSalesCloud(window,document,'script','https://salescloud.is/js/salescloud.js','salescloud');
   }

   function init(jQuery) {
      registerSalesCloud();
   }

   $(document).ready(init);

</script>

{% endblock %}

