<!DOCTYPE html>
<html lang="is">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Spilaðu skrafl á netinu!">
<meta name="application-name" content="Netskrafl">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- Apple iPhone and iPad touch icons -->
<link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad-retina.png">

<title>Netskrafl</title>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body id="bodytag">

   <div class="container">

	<p><a href="{{ login_url }}">Log in to the skraflstats module</a></p>

   </div> <!-- container -->

</body>
</html>