
{% extends "container.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='jquery-ui.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block scripts %}

<script>

function buttonOver(elem) {
   /* Show a hover effect on a button */
   if (!$(elem).hasClass("disabled"))
      $(elem).toggleClass("over", true);
}

function buttonOut(elem) {
   /* Hide a hover effect on a button */
   $(elem).toggleClass("over", false);
}

function submitForm() {
   // POST the form to the server
   // First transfer the state of our fancy simulated checkbox
   $("#audio").prop('checked', $("#audio-toggler #opt2").hasClass("selected"));
   $("#beginner").prop('checked', $("#beginner-toggler #opt2").hasClass("selected"));
   document.getElementById('frm1').submit();
}

</script>

{% endblock %}

{% block logo %}
{% include 'back.html' %}
{% endblock %}

{% block content %}

<div id="user-dialog" class="modal-dialog">
<div id="user-form" class="ui-widget ui-widget-content ui-corner-all">

   <div class="loginhdr"><span class='glyphicon glyphicon-user'></span> Upplýsingar um leikmann</div>
   <div>
   <form name="frm1" id="frm1" action="{{ url_for('userprefs') }}" method="post">

      <div class="dialog-spacer"><span class="caption">Einkenni:</span>
         <input type="text" name="nickname" id="nickname" tabindex="1"
            maxlength=15 autofocus required class="text username" value="{{ uf.nickname }}"></input>
         &nbsp;<span style="color:red">*</span></div>
      <div class="explain">Verður að vera útfyllt</div>
{% if err.get('nickname', None) %}
      <div class="errinput"><span class="glyphicon glyphicon-arrow-up"></span>&nbsp;{{ err.get('nickname') }}</div>
{% endif %}

      <div class="dialog-spacer"><span class="caption">Fullt nafn:</span>
         <input type="text" name="full_name" id="full_name" maxlength="32" tabindex="2"
            class="text fullname" value="{{ uf.full_name }}"></input></div>
      <div class="explain">Valfrjálst - sýnt í notendalistum Netskrafls</div>

      <div class="dialog-spacer"><span class="caption">Tölvupóstfang:</span>
         <input type="text" name="email" id="email" maxlength="32" tabindex="3"
            class="text email" value="{{ uf.email }}"></input></div>
      <div class="explain">Ef póstfang er gefið upp mun Netskrafl geta sent tölvupóst þegar þú átt leik</div>
{% if err.get('email', None) %}
      <div class="errinput"><span class="glyphicon glyphicon-arrow-up"></span>&nbsp;{{ err.get('email') }}</div>
{% endif %}

      <div class="dialog-spacer"><span class="caption">Hljóðmerki:</span>
         <input type="checkbox" name="audio" id="audio"
            class="checkbox audio" value="True"
{% if uf.audio %}
            checked
{% endif %}
         ></input>
         <div id="audio-toggler" class="toggler" tabindex="4">
            <div class="option" id="opt1"><span class="glyphicon glyphicon-volume-off"></span></div><!--
         --><div class="option" id="opt2"><span class="glyphicon glyphicon-volume-up"></span></div>
         </div>
      </div>
      <div class="explain">Stillir hvort þú færð hljóðmerki þegar andstæðingur leikur</div>

      <div class="dialog-spacer"><span class="caption">Sýna reitagildi:</span>
         <input type="checkbox" name="beginner" id="beginner"
            class="checkbox beginner" value="True"
{% if uf.beginner %}
            checked
{% endif %}
         ></input>
         <div id="beginner-toggler" class="toggler" tabindex="5">
            <div class="option" id="opt1">&nbsp;</div><!--
         --><div class="option" id="opt2"><span class="glyphicon glyphicon-ok"></span></div>
         </div>
      </div>
      <div class="explain">Stillir hvort minnismiði um margföldunargildi reita er sýndur við borðið</div>

   </form>
   </div>

   <!-- Logout button -->
   <div class="modal-close" id="user-logout" title="Skrá mig út" tabindex="8"
      onclick="location.href='{{ uf.logout_url }}'"
      onmouseover="buttonOver(this)"
      onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-log-out"></span> Skrá mig út</div>

   <!-- Cancel button -->
   <div class="modal-close" id="user-cancel" title="Hætta við" tabindex="7"
      onclick="location.href='{{ url_for('main') }}'"
      onmouseover="buttonOver(this)"
      onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-remove"></span></div>

   <!-- OK button -->
   <div class="modal-close" id="user-ok" title="Vista" tabindex="6"
      onclick="submitForm()"
      onmouseover="buttonOver(this)"
      onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-ok"></span></div>

</div> <!-- user-form -->
</div> <!-- user-dialog -->

{% endblock %}

{%- block endscripts -%}

<!-- Audio resources -->
<audio id="your-turn" preload="auto">
   <source src="{{ url_for('static', filename='your-turn.mp3') }}" type="audio/mpeg">
</audio>

<script>

   function doAudioToggle() {
      // Toggle from one state to the other
      $("#audio-toggler #opt1").toggleClass("selected");
      $("#audio-toggler #opt2").toggleClass("selected");
      if ($("#audio-toggler #opt2").hasClass("selected")) {
         // Play a demo
         var yourTurn = document.getElementById("your-turn");
         if (yourTurn)
            yourTurn.play();
      }
   }

   // Initialize the audio toggler
   if ($("#audio").prop('checked'))
      $("#audio-toggler #opt2").addClass("selected");
   else
      $("#audio-toggler #opt1").addClass("selected");

   $("#audio-toggler").click(doAudioToggle);
   $("#audio-toggler").keypress(function(ev) {
      if (ev.keyCode === 0 || ev.keyCode == 32)
         doAudioToggle();
   });

   function doBeginnerToggle() {
      // Toggle from one state to the other
      $("#beginner-toggler #opt1").toggleClass("selected");
      $("#beginner-toggler #opt2").toggleClass("selected");
   }

   // Initialize the audio toggler
   if ($("#beginner").prop('checked'))
      $("#beginner-toggler #opt2").addClass("selected");
   else
      $("#beginner-toggler #opt1").addClass("selected");

   $("#beginner-toggler").click(doBeginnerToggle);
   $("#beginner-toggler").keypress(function(ev) {
      if (ev.keyCode === 0 || ev.keyCode == 32)
         doBeginnerToggle();
   });

</script>

{%- endblock -%}
