
{% extends "container.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='jquery-ui.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block scripts %}

<!-- Google App Engine Channel API -->
<script type="text/javascript" src="/_ah/channel/jsapi"></script>

<!-- Wait page script -->
<script src="{{ url_for('static', filename='wait.js') }}"></script>

<script>

function userId() {
   /* The logged-in user who requested this page */
   return "{{ user.id() }}";
}

function opponentId() {
   return "{{ opp.id() }}";
}

function goToGame(uuid) {
   /* The URL for a freshly created timed game against the given opponent */
   window.location.href = "{{ url_for('board') | safe }}?game=" + uuid;
}

function cancelWait() {
   /* Tired of waiting: Go back to the main page */
   window.location.href = "{{ url_for('main') | safe }}";
}

function lateInit() {
   /* Called from initWait() */
   openChannel("{{ channel_token }}");
   initForm(opponentId(), "{{ opp.nickname() | safe }}", "{{ opp.full_name() | safe }}", {{ prefs.duration }});
}

</script>

{% endblock %}

{% block logo %}
{% include 'back.html' %}
{% endblock %}

{% block content %}

<!-- Wait for the opponent (the challenge initiator) to be ready -->
<div id="wait-form" class="ui-widget ui-widget-content ui-corner-all">

   <div class="chall-hdr">
      <table><tr>
      <td>
      <h1 class="chall-icon"><span class='glyphicon glyphicon-time'></span></h1>
      </td>
      <td class="l-border"><span id="chall-online" title="Álínis?"></span><h1 id="chall-nick"></h1><h2 id="chall-fullname"></h2>
      </td>
      </tr></table>
   </div>

   <div class="wait-explain">

      <p>Þú ert reiðubúin(n) að taka áskorun um viðureign með klukku, <strong>2 x <span id="chall-duration"></span> mínútur.</strong></p>
      <p>Beðið er eftir að áskorandinn <strong><span id="chall-nick-2"></span></strong> sé <span id="chall-is-online">álínis og </span>til í tuskið.</p>
      <p>Leikur hefst um leið og áskorandinn bregst við. Handahóf ræður hvor byrjar.</p>
      <p>Ef þér leiðist biðin geturðu hætt við og reynt aftur síðar.</p>

   </div>

   <!-- Cancel button -->
   <div class="modal-close" id="wait-cancel" title="Hætta við"
      onmouseover="buttonOver(this)"
      onmouseout="buttonOut(this)"><span class="glyphicon glyphicon-remove"></span></div>

</div>

{%- endblock -%}

{%- block endscripts -%}

<script>

$(document).ready(initWait);

</script>

{%- endblock -%}
